{% extends 'clinical/base.html' %}
{% load static %}
{% block body_block %}
<div class="page-wrapper">
    <div class="content card">
        <div class="card-header">
            <h4>Change Password</h4>
        </div>
        <form method="post" class="card-body" style="width: 50%;">
            {% csrf_token %}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <tr>
                <th><label for="id_old_password">Old password:</label></th>
                <td><input type="password" name="old_password" autocomplete="current-password" autofocus required
                        id="id_old_password" class="form-control"></td>
            </tr>
            <tr>
                <th><label for="id_new_password1">New password:</label></th>
                <td><input type="password" name="new_password1" autocomplete="new-password"  class="form-control" required
                        id="id_new_password1"><br></td>
            </tr>
            <tr>
                <th><label for="id_new_password2">New password confirmation:</label></th>
                <td><input type="password" name="new_password2" autocomplete="new-password" required  class="form-control"
                        id="id_new_password2"></td>
            </tr>
            <button type="submit" class="btn btn-primary">submit</button>
        </form>
    </div>
</div>

{% endblock %}