{% extends 'user_management/base.html' %}
{% load static %}
{% block head_block %}

{% endblock %}
{% block body_block %}

<!-- content -->
<div class="page-wrapper">
    <div class="content">
        <button type="menu" style="font-family: monospace; width: 100%; text-align: left;"
            class="btn btn-primary m-t-15 waves-effect"> <b>User Access</b></button>
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-8 col-xs-8"><br>
                    <div class="card">
                        <div class="header">
                            <div class="body">
                                <br>
                                <div class="icon-button-demo">&nbsp;
                                   <a href="{% url 'screen_access' %}"> <button type="button" class="btn btn-warning" ><i class="fas fa-plus">Add</i></button></a>&nbsp;
                                    
                                  
                                    <button type="button" class="btn btn-primary" onClick="window.location.reload();">
                                        <i class="fas fa-sync-alt">Refresh</i></button>&nbsp;
                                    <button type="button" class="btn btn-danger"><a href='/dashboard'><i
                                                class="fas fa-times-circle" style="color:white;">Exit</i></a></button>
                                </div><br>
                                <div class="table-responsive">
                                    <table class="datatable table table-stripped ">

                                        <thead>
                                            <tr>
                                                <th>S.No.</th>
                                                <th>Profile Name</th>
                                                <th>Status</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for data in records %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td>{{data.group_name}}</td>
                                                <td>{{data.status}}</td>
                                            </tr>
                                            {% endfor %}

                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}