{% extends 'user_management/base.html' %}
{% load static %}
{% block head_block %}

{% endblock %}
{% block body_block %}
<div class="page-wrapper">
  <div class="content">
    <!-- Main Dashboard -->
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-box mb-0">
            <h6 class="card-title text-bold">User Access List</h6>
            <div class="container-fluid">
              <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-8 col-xs-8">
                  <div class="card">
                    <div class="header">

                      <div class="body">
                        <div class="table-responsive">
                          <table class="datatable table table-stripped ">
                            <thead>
                              <tr>

                                <th>user_id</th>
                                <th>user</th>
                                <th>password</th>
                                <th>patient_registration_add</th>
                                <th>patient_registration_edit</th>
                                <th>patient_registration_view</th>
                                <th>title_master_add</th>
                                <th>title_master_edit</th>
                                <th>title_master_view</th>
                                <th>hospital_master_add</th>
                                <th>hospital_master_edit</th>
                                <th>hospital_master_view</th>
                                <th>holiday_master_add</th>
                                <th>holiday_master_edit</th>
                                <th>holiday_master_view</th>
                                <th>gender_master_add</th>
                                <th>gender_master_edit</th>
                                <th>gender_master_view</th>
                                <th>district_master_add</th>
                                <th>district_master_edit</th>
                                <th>district_master_view</th>
                                <th>country_master_add</th>
                                <th>country_master_edit</th>
                                <th>country_master_view</th>
                                <th>city_master_add</th>
                                <th>city_master_edit</th>
                                <th>city_master_view</th>
                                <th>most_document_add</th>
                                <th>most_document_edit</th>
                                <th>most_document_view</th>
                                <th>Martial_status_add</th>
                                <th>Martial_status_edit</th>
                                <th>Martial_status_view</th>
                                <th>relation_master_add</th>
                                <th>relation_master_edit</th>
                                <th>relation_master_view</th>
                                <th>group_master_add</th>
                                <th>group_master_edit</th>
                                <th>group_master_view</th>
                                <th>room_master_add</th>
                                <th>room_master_edit</th>
                                <th>room_master_view</th>
                                <th>branch_master_add</th>
                                <th>branch_master_edit</th>
                                <th>branch_master_view</th>
                                <th>visit_type_master_add</th>
                                <th>visit_type_master_edit</th>
                                <th>visit_type_master_view</th>
                                <th>service_category_add</th>
                                <th>service_category_edit</th>
                                <th>service_category_view</th>
                                <th>service_sub_category_add</th>
                                <th>service_sub_category_edit</th>
                                <th>service_sub_category_view</th>
                                <th>service_department_add</th>
                                <th>service_department_edit</th>
                                <th>service_department_view</th>
                                <th>service_sub_department_add</th>
                                <th>service_sub_department_edit</th>
                                <th>service_sub_department_view</th>
                                <th>ward_add</th>
                                <th>ward_edit</th>
                                <th>ward_view</th>
                                <th>ward_category_add</th>
                                <th>ward_category_edit</th>
                                <th>ward_category_view</th>
                                <th>blood_master_add</th>
                                <th>blood_master_edit</th>
                                <th>blood_master_view</th>
                                <th>clinical_department_add</th>
                                <th>clinical_department_edit</th>
                                <th>clinical_department_view</th>
                                <th>desgination_add</th>
                                <th>desgination_edit</th>
                                <th>desgination_view</th>
                                <th>sevice_add</th>
                                <th>sevice_edit</th>
                                <th>sevice_view</th>
                                <th>wing_master_add</th>
                                <th>wing_master_edit</th>
                                <th>wing_master_view</th>
                                <th>floor_master_add</th>
                                <th>floor_master_edit</th>
                                <th>floor_master_view</th>
                                <th>ipd_room_master_add</th>
                                <th>ipd_room_master_edit</th>
                                <th>ipd_room_master_view</th>
                                <th>bed_master_add</th>
                                <th>bed_master_edit</th>
                                <th>bed_master_view</th>
                                <th>ward_type_add</th>
                                <th>ward_type_edit</th>
                                <th>ward_type_view</th>
                                <th>ipd_ward_category_add</th>
                                <th>ipd_ward_category_edit</th>
                                <th>ipd_ward_category_view</th>
                                <th>ward_name_add</th>
                                <th>ward_name_edit</th>
                                <th>ward_name_view</th>
                                <th>bed_location_add</th>
                                <th>bed_location_edit</th>
                                <th>bed_location_view</th>
                                <th>nursing_counter_add</th>
                                <th>nursing_counter_edit</th>
                                <th>nursing_counter_view</th>
                                <th>ipd_department_add</th>
                                <th>ipd_department_edit</th>
                                <th>ipd_department_view</th>
                                <th>room_defination_add</th>
                                <th>room_defination_edit</th>
                                <th>room_defination_view</th>
                                <th>billing_group_traiff_add</th>
                                <th>billing_group_traiff_edit</th>
                                <th>billing_group_traiff_view</th>
                                <th>tariff_charge_master_add</th>
                                <th>tariff_charge_master_edit</th>
                                <th>tariff_charge_master_view</th>
                                <th>tariff_master_add</th>
                                <th>tariff_master_edit</th>
                                <th>tariff_master_view</th>
                                <th>corporate_master_add</th>
                                <th>corporate_master_edit</th>
                                <th>corporate_master_view</th>
                                <th>billing_group_master_add</th>
                                <th>billing_group_master_edit</th>
                                <th>billing_group_master_view</th>
                                <th>cop_billing_linking_add</th>
                                <th>cop_billing_linking_edit</th>
                                <th>cop_billing_linking_view</th>
                                <th>ipd_fornt_disk_add</th>
                                <th>ipd_fornt_disk_edit</th>
                                <th>ipd_fornt_disk_view</th>
                                <th>ipd_fornt_disk_transfer</th>
                                <th>item_master_add</th>
                                <th>item_master_edit</th>
                                <th>item_master_view</th>
                                <th>item_category_master_add</th>
                                <th>item_category_master_edit</th>
                                <th>item_category_master_view</th>
                                <th>item_belong_master_add</th>
                                <th>item_belong_master_edit</th>
                                <th>item_belong_master_view</th>
                                <th>packaging_add</th>
                                <th>packaging_edit</th>
                                <th>packaging_view</th>
                                <th>item_unit_master_add</th>
                                <th>item_unit_master_edit</th>
                                <th>item_unit_master_view</th>
                                <th>item_manufacture_add</th>
                                <th>item_manufacture_edit</th>
                                <th>item_manufacture_view</th>
                                <th>store_master_add</th>
                                <th>store_master_edit</th>
                                <th>store_master_view</th>
                                <th>vendor_master_add</th>
                                <th>vendor_master_view</th>
                                <th>vendor_master_edit</th>
                                <th>store_nursing_counter_add</th>
                                <th>store_nursing_counter_edit</th>
                                <th>store_nursing_counter_view</th>
                                <th>item_location_add</th>
                                <th>item_location_edit</th>
                                <th>item_location_view</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for data in records %}
                              <tr>
                                <td>{{data.user_id}}</td>
                                <td>{{data.user}}</td>
                                <td>{{data.password}}</td>
                                <td>{{data.ward_cat}}</td>
                                <td>{{data.patient_registration_add}}</td>
                                <td>{{data.patient_registration_edit}}</td>
                                <td>{{data.patient_registration_view}}</td>
                                <td>{{data.title_master_add}}</td>
                                <td>{{data.title_master_edit}}</td>
                                <td>{{data.title_master_view}}</td>
                                <td>{{data.hospital_master_add}}</td>
                                <td>{{data.hospital_master_edit}}</td>
                                <td>{{data.hospital_master_view}}</td>
                                <td>{{data.holiday_master_add}}</td>
                                <td>{{data.holiday_master_edit}}</td>
                                <td>{{data.holiday_master_view}}</td>
                                <td>{{data.gender_master_add}}</td>
                                <td>{{data.gender_master_edit}}</td>
                                <td>{{data.gender_master_view}}</td>
                                <td>{{data.district_master_add}}</td>
                                <td>{{data.district_master_edit}}</td>
                                <td>{{data.district_master_view}}</td>
                                <td>{{data.country_master_add}}</td>
                                <td>{{data.country_master_edit}}</td>
                                <td>{{data.country_master_view}}</td>
                                <td>{{data.city_master_add}}</td>
                                <td>{{data.city_master_edit}}</td>
                                <td>{{data.city_master_view}}</td>
                                <td>{{data.most_document_add}}</td>
                                <td>{{data.most_document_edit}}</td>
                                <td>{{data.most_document_view}}</td>
                                <td>{{data.Martial_status_add}}</td>
                                <td>{{data.Martial_status_edit}}</td>
                                <td>{{data.Martial_status_view}}</td>
                                <td>{{data.relation_master_add}}</td>
                                <td>{{data.relation_master_edit}}</td>
                                <td>{{data.relation_master_view}}</td>
                                <td>{{data.group_master_add}}</td>
                                <td>{{data.group_master_edit}}</td>
                                <td>{{data.group_master_view}}</td>
                                <td>{{data.room_master_add}}</td>
                                <td>{{data.room_master_edit}}</td>
                                <td>{{data.room_master_view}}</td>
                                <td>{{data.branch_master_add}}</td>
                                <td>{{data.branch_master_edit}}</td>
                                <td>{{data.branch_master_view}}</td>
                                <td>{{data.visit_type_master_add}}</td>
                                <td>{{data.visit_type_master_edit}}</td>
                                <td>{{data.visit_type_master_view}}</td>
                                <td>{{data.service_category_add}}</td>
                                <td>{{data.service_category_edit}}</td>
                                <td>{{data.service_category_view}}</td>
                                <td>{{data.service_sub_category_add}}</td>
                                <td>{{data.service_sub_category_edit}}</td>
                                <td>{{data.service_sub_category_view}}</td>
                                <td>{{data.service_department_add}}</td>
                                <td>{{data.service_department_edit}}</td>
                                <td>{{data.service_department_view}}</td>
                                <td>{{data.service_sub_department_add}}</td>
                                <td>{{data.service_sub_department_edit}}</td>
                                <td>{{data.service_sub_department_view}}</td>
                                <td>{{data.ward_add}}</td>
                                <td>{{data.ward_edit}}</td>
                                <td>{{data.ward_view}}</td>
                                <td>{{data.ward_category_add}}</td>
                                <td>{{data.ward_category_edit}}</td>
                                <td>{{data.ward_category_view}}</td>
                                <td>{{data.blood_master_add}}</td>
                                <td>{{data.blood_master_edit}}</td>
                                <td>{{data.blood_master_view}}</td>
                                <td>{{data.clinical_department_add}}</td>
                                <td>{{data.clinical_department_edit}}</td>
                                <td>{{data.clinical_department_view}}</td>
                                <td>{{data.desgination_add}}</td>
                                <td>{{data.desgination_edit}}</td>
                                <td>{{data.desgination_view}}</td>
                                <td>{{data.sevice_add}}</td>
                                <td>{{data.sevice_edit}}</td>
                                <td>{{data.sevice_view}}</td>
                                <td>{{data.wing_master_add}}</td>
                                <td>{{data.wing_master_edit}}</td>
                                <td>{{data.wing_master_view}}</td>
                                <td>{{data.floor_master_add}}</td>
                                <td>{{data.floor_master_edit}}</td>
                                <td>{{data.floor_master_view}}</td>
                                <td>{{data.ipd_room_master_add}}</td>
                                <td>{{data.ipd_room_master_edit}}</td>
                                <td>{{data.ipd_room_master_view}}</td>
                                <td>{{data.bed_master_add}}</td>
                                <td>{{data.bed_master_edit}}</td>
                                <td>{{data.bed_master_view}}</td>
                                <td>{{data.ward_type_add}}</td>
                                <td>{{data.ward_type_edit}}</td>
                                <td>{{data.ward_type_view}}</td>
                                <td>{{data.ipd_ward_category_add}}</td>
                                <td>{{data.ipd_ward_category_edit}}</td>
                                <td>{{data.ipd_ward_category_view}}</td>
                                <td>{{data.ward_name_add}}</td>
                                <td>{{data.ward_name_edit}}</td>
                                <td>{{data.ward_name_view}}</td>
                                <td>{{data.bed_location_add}}</td>
                                <td>{{data.bed_location_edit}}</td>
                                <td>{{data.bed_location_view}}</td>
                                <td>{{data.nursing_counter_add}}</td>
                                <td>{{data.nursing_counter_edit}}</td>
                                <td>{{data.nursing_counter_view}}</td>
                                <td>{{data.ipd_department_add}}</td>
                                <td>{{data.ipd_department_edit}}</td>
                                <td>{{data.ipd_department_view}}</td>
                                <td>{{data.room_defination_add}}</td>
                                <td>{{data.room_defination_edit}}</td>
                                <td>{{data.room_defination_view}}</td>
                                <td>{{data.billing_group_traiff_add}}</td>
                                <td>{{data.billing_group_traiff_edit}}</td>
                                <td>{{data.billing_group_traiff_view}}</td>
                                <td>{{data.tariff_charge_master_add}}</td>
                                <td>{{data.tariff_charge_master_edit}}</td>
                                <td>{{data.tariff_charge_master_view}}</td>
                                <td>{{data.tariff_master_add}}</td>
                                <td>{{data.tariff_master_edit}}</td>
                                <td>{{data.tariff_master_view}}</td>
                                <td>{{data.corporate_master_add}}</td>
                                <td>{{data.corporate_master_edit}}</td>
                                <td>{{data.corporate_master_view}}</td>
                                <td>{{data.billing_group_master_add}}</td>
                                <td>{{data.billing_group_master_edit}}</td>
                                <td>{{data.billing_group_master_view}}</td>
                                <td>{{data.cop_billing_linking_add}}</td>
                                <td>{{data.cop_billing_linking_edit}}</td>
                                <td>{{data.cop_billing_linking_view}}</td>
                                <td>{{data.ipd_fornt_disk_add}}</td>
                                <td>{{data.ipd_fornt_disk_edit}}</td>
                                <td>{{data.ipd_fornt_disk_view}}</td>
                                <td>{{data.ipd_fornt_disk_transfer}}</td>
                                <td>{{data.item_master_add}}</td>
                                <td>{{data.item_master_edit}}</td>
                                <td>{{data.item_master_view}}</td>
                                <td>{{data.item_category_master_add}}</td>
                                <td>{{data.item_category_master_edit}}</td>
                                <td>{{data.item_category_master_view}}</td>
                                <td>{{data.item_belong_master_add}}</td>
                                <td>{{data.item_belong_master_edit}}</td>
                                <td>{{data.item_belong_master_view}}</td>
                                <td>{{data.packaging_add}}</td>
                                <td>{{data.packaging_edit}}</td>
                                <td>{{data.packaging_view}}</td>
                                <td>{{data.item_unit_master_add}}</td>
                                <td>{{data.item_unit_master_edit}}</td>
                                <td>{{data.item_unit_master_view}}</td>
                                <td>{{data.item_manufacture_add}}</td>
                                <td>{{data.item_manufacture_edit}}</td>
                                <td>{{data.item_manufacture_view}}</td>
                                <td>{{data.store_master_add}}</td>
                                <td>{{data.store_master_edit}}</td>
                                <td>{{data.store_master_view}}</td>
                                <td>{{data.vendor_master_add}}</td>
                                <td>{{data.vendor_master_view}}</td>
                                <td>{{data.vendor_master_edit}}</td>
                                <td>{{data.store_nursing_counter_add}}</td>
                                <td>{{data.store_nursing_counter_edit}}</td>
                                <td>{{data.store_nursing_counter_view}}</td>
                                <td>{{data.item_location_add}}</td>
                                <td>{{data.item_location_edit}}</td>
                                <td>{{data.item_location_view}}</td>
                                <td>
                                  <div class="dropdown">
                                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton"
                                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                                        class="fa fa-hand-pointer" aria-hidden="true"></i></button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                      <a class="dropdown-item" href="/usermanagementapp/user_management_edit/{{data.id}}">Update</a>
                                      <a class="dropdown-item" href="/usermanagementapp/user_management_delete/{{data.id}}">Delete</a>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                              {% endfor %}
                            </tbody>

                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}