<html>
<body>
    <div class="container"  >
        <center >
            <div class="row" >
                <div class="span4">
                    <img src="/assets/img/logo1.png">
                    <address>
                        <strong style="font-family:'Times New Roman', Times, serif;color: orangered;">Bharathbrands Pvt Ltd.</strong><br>
                        Near YAYA Center<br>
                        Kilimani.
                    </address>
                </div>
                <div class="span4 well">
                    <table class="invoice-head">
                        <tbody>
                            <tr>
                                <td class="pull-right"><strong>Customer #</strong></td>
                                <td>21398324797234</td>
                            </tr>
                            <tr>
                                <td class="pull-right"><strong>Invoice No</strong></td>
                                <td>2340</td>
                            </tr>
                            <tr>
                                <td class="pull-right"><strong>Transaction Id</strong></td>
                                <td>Tnsc0001</td>
                            </tr>
                            <tr>
                                <td class="pull-right"><strong>Date</strong></td>
                                <td>10-08-2013</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="span8">
                    <h2 style="color: rgb(80, 182, 155);"> Invoice</h2>
                </div>
            </div>
            <div class="row">
                <div class="span8 well invoice-body">
                    <table class="table table-bordered" style="border:2px solid #ddd;text-align: left; border-collapse: collapse;">
                        <thead style="border:2px solid #ddd;text-align: left;">
                            <tr >
                                <th style="border:2px solid #ddd;text-align: left;">Service Name</th>
                                <th style="border:2px solid #ddd;text-align: left;">Description</th>
                                <th style="border:2px solid #ddd;text-align: left;">Registered Date</th>
                                <th style="border:2px solid #ddd;text-align: left;">Amount</th>
                            </tr>
                        </thead>
                        <tbody style="border:2px solid #ddd;text-align: left;">
                            <tr style="border:2px solid #ddd;text-align: left;">
                                <td style="border:2px solid #ddd;text-align: left;">Daily Parking</td>
                                <td style="border:2px solid #ddd;text-align: left;">For Vehicle Number Ken-001</td>
                                <td style="border:2px solid #ddd;text-align: left;">5/02/23</td>
                                <td style="border:2px solid #ddd;text-align: left;">$1000</td>
                            </tr>
                            <tr style="border:2px solid #ddd;text-align: left;">
                                <td colspan="4"></td>
                            </tr>
                            <tr style="border:2px solid #ddd;text-align: left;">
                                <td colspan="2">&nbsp;</td>
                                <td><strong>Total</strong></td>
                                <td><strong>$1000.00</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="span8 well invoice-thank">
                    <h2 style="text-align:center;color: orangered;">Thank <spam style="color: black;">You</spam></h2>
                </div>
            </div>
            <div class="row">
                <div class="span3">
                    <strong>Queries Contact:</strong>+254 xxxxx-xxxxx
                </div>
                <div class="span3">
                    <strong>Email:</strong> <a href="/">mail.com</a>
                </div>
                <div class="span3">
                    <strong>Website:</strong> <a href="http://bharathbrands.in">http://bharathbrands.in</a>
                </div>
            </div>
        </center>
    </div>
</body>

</html>