<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="en" dir="ltr">
<head>
	<meta charset="UTF-8">
    <title>Login | Page</title>
	<!-- jQuery -->
     <!--  Core Css -->
     <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
     <!-- Favicon-->
     <!-- <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}"> -->
	<!-- Demo CSS -->
    <link rel="stylesheet" href="{% static 'css/interface/styles.css' %}">
		<style>
		#id_username,#id_password{
			width: 100%;
			border: 2px solid red;
		}
		form{
		}
		</style>

  </head>
  <body style="background-image: url(../../static/images/bg/bg2.jpg);"><img src="../../static/images/logo/bharathbrandslogo.png" style="width: 300px; height: 200px;" />
    <div class="container">
    <div class="center">
      <form method="POST">
        {% csrf_token %}

				{{form}}
				<br>	<br>
				<button type="submit" name="button" class="btn btn-primary btn-block">Login</button>
        <!-- <a href="/signup" class="btn btn-info btn-block">Sign Up</a> -->
        <a href="/" class="btn btn-danger btn-block">Cancel</a>
      </form><br>
    </div>
</div>
    <!-- Footer<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->
    <footer >
        <p>
            Powered by <a href="https://www.bharathbrands.in/">Jasirima com. Ltd.</a><img src="../../static/images/logo/bharathbrandslogo.png" style="width: 200px; height: 20px;"  />
        </p>
    </footer>
  </body>

</html>
