<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">
<head>
	<meta charset="UTF-8">
    <title>Sign Up | Page</title>
	<!-- jQuery -->
     <!--  Core Css -->
     <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
     <!-- Favicon-->
     <!-- <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}"> -->
	<!-- Demo CSS -->

    <link rel="stylesheet" href="{% static 'css/interface/styles.css' %}">
    <style>
    p{
      /* border:5px solid red; */
    }
    p input{
      border-radius:1em;
    }
    </style>

  </head>
  <body style="background-image: url(../../static/images/bg/bg2.jpg);">
    <img src="../../static/images/logo/bharathbrandslogo.png" style="width: 300px; height: 200px;" />
    <div class="container">
    <div class="center1" style="background-color:#139487;width:50%;border-radius:1em;margin:auto;">
      <form method="POST" style="padding-left:1em;padding-right:1em;"><br><br>
        {% csrf_token %}
        <table>
          {{form.as_table}}
        </table><br>
        <input type="submit" name="" value="Sign up"><br><br>
        <a href="/" class="btn btn-danger btn-block">Cancel</a>
      </form><br>
    </div>
</div>
    <!-- Footer<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->
    <footer >
        <p>
            Powered by <a href="https://www.bharathbrands.in/">Bharathbrands Pvt. Ltd.</a><img src="../../static/images/logo/bharathbrandslogo.png" style="width: 200px; height: 20px;"  />
        </p>
    </footer>
  </body>

</html>
