{% extends 'patient/base.html' %}
{% block body_block %}
<!--Main Content-->

        <div class="main_content"  style="background-image: linear-gradient(white,#9AD0EC);">
            <h4>&nbsp;Admin List</h4>
            <a href="/create-admin">
                <button type="button" class="btn btn-info" style="float: right;">Create Admin</button>
            </a><br><br>
            <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-8 col-xs-8">
                <div class="card">
                    <div class="header">

            <div class="body">
                <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover save-stage dataTable"
                    style="width:100%;">
                        <thead>
                            <tr>
                              <th bgcolor= "ORANGERED">S.no</th>
                              <th bgcolor= "ORANGERED">Username</th>
                              <th bgcolor= "ORANGERED">First Name</th>
                              <th bgcolor= "ORANGERED">Last Name</th>
                              <th bgcolor= "ORANGERED">Email ID</th>
                              <!-- <th bgcolor= "ORANGERED">Status</th>
                              <th bgcolor= "ORANGERED">Action</th> -->

                            </tr>
                        </thead>
                        <tbody>
                          {% for user in records %}
                            <tr>
                              <td>{{user.id}}</td>
                              <td>{{user.username}}</td>
                              <td>{{user.first_name}}</td>
                              <td>{{user.last_name}}</td>
                              <td>{{user.email}}</td>
                              <!-- <td><button type="button" class="btn btn-success">Active</button></td>
                              <td>
                                  <div class="content">
                                      <button class="btn"><i class="fa fa-edit" style="font-size: 24px;color:blue"></i></button>
                                      <button class="btn"><i class="fa fa-trash" style="font-size: 24px;color:red"></i></button>
                                  </div>
                                </td> -->
                            </tr>
                            {% endfor %}
                         </tbody>

                </table>
                </div>
            </div>
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}
