{% extends 'qms/base.html' %}
{% load static %}
{% block head_block %}
<style>
  .status {
    border: 2px solid #eee;
    background-color: #eee;
    border-radius: 2em;
  }
</style>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
  $(document).ready(function () {
    $("select").change(function () {
      $(this).find("option:selected").each(function () {
        var optionValue = $(this).attr("value");
        if (optionValue) {
          $(".box").not("." + optionValue).hide();
          $("." + optionValue).show();
        } else {
          $(".box").hide();
        }
      });
    }).change();
  });
</script>
{% endblock %}

{% block body_block %}
<!-- content -->
<div class="page-wrapper">
  <div class="content">
    <!-- Main Dashboard -->
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-box mb-0">
            <button type="menu" style="font-family: monospace; width: 100%; text-align: left;"
              class="btn btn-primary m-t-15 waves-effect"> <b>Token_Slip_View</b></button>
          </div>

          <div class="container-fluid">
            <div class="row clearfix">
              <div class="col-lg-12 col-md-12 col-sm-8 col-xs-8"><br>
                <div class="card">
                  <div class="header">
                    <div class="body">

                      <div class="table-responsive">
                        {% if 'token_admin_view' in access.user_profile.screen_access or request.user.is_superuser %}
                        <table class="datatable table table-stripped ">

                          <thead>
                            <tr style="background-color: rgb(214, 214, 253);">
                              <!-- <th  bgcolor= "#38ACEC" style="color:black ">S.No.</th> -->
                              <th>Date</th>
                              <th>Doctor Name</th>
                              <th>Speciality</th>
                              <th>Patient ID</th>
                              <th>Patient Name</th>
                              <th>Token No</th>
                              <th>Status</th>
                              <th>In/Out Time</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for data in records %}
                            <form method="POST">
                              {% csrf_token %}
                              <tr>
                                <!-- <td>{{data.id}}</td> -->
                                <td>{{data.Date}}</td>
                                <td>{{data.Doct_Name}}</td>
                                <td>General Medicine</td>
                                <td>{{data.Pt_Id}}</td>
                                <td>{{data.Pt_Name}}</td>
                                <td>{{data.Token_No}}</td>
                                <!-- ><button type="button" class="btn btn-success">In</button> -->
                                {% if 'token_in_out' in access.user_profile.screen_access or request.user.is_superuser %}
                                <td>
                                  <select class="status target" name="" style="width:100%;height:100%;">
                                    <option></option>
                                    <option value="in{{data.id}}">In</option>
                                    <option value="out{{data.id}}" selected>Waiting</option>
                                  </select>
                                </td>
                                {% endif %}
                                <td>
                                  <div class="in{{data.id}} box ">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary" name="finished_button"
                                      data-toggle="modal" data-target=".bd-example-modal-sm" value="{{data.Pt_Id}}">
                                      Finished
                                    </button><!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm">Finished</button> -->
                                  </div> </td>
                              </tr>
                            </form>
                            


                            <!-- Suresh Model -->
                            <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog"
                              aria-labelledby="myLargeModalLabel" aria-hidden="true">
                              <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                  <div class="modal-header" style="background: skyblue;">
                                    <h5 class="modal-title" id="exampleModalLabel"><b>In/Out Time Record</b></h5>
                                    <button type="button" class="close" data-dismiss="modal"
                                      aria-hidden="true">×</button>

                                  </div><br>

                                  <div class="container" style="text-align: center;">
                                    <div class="float-end">
                                      <form method="POST">
                                        {% csrf_token %}
                                        <div class="modal-body">
                                          <input type="hidden" name="patient_id" value="{{data.Pt_Id}}">
                                          <input type="hidden" name="doctor_name" value="{{data.Doct_Name}}">
                                          <label for="start_time">Start Time</label>
                                          <input type="time" name="start_time" id="start_time" required><br>
                                          <label for="end_time">End Time</label>
                                          &nbsp; <input type="time" name="end_time" required>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                          <button type="submit" class="btn btn-primary" value="CaptureTime"
                                            name='save'>Save</button>
                                        </div>
                                      </form>
                                    </div>
                                  </div><br>
                                </div>
                              </div>
                            </div>
                            {% endfor %}
                          </tbody>
                        </table>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}