{% extends 'qms/base.html' %}
{% load static %}
{% block head_block %}

{% endblock  %}
{% block body_block %}
   <!-- content -->
   <div class="page-wrapper">
    <div class="content">
<!-- Main Dashboard -->
<div class="container" id='hello' >
<div class="card" style="width: 60%; background-color:rgba(251, 253, 253, 0.966);">
    <div class="card-body" >
        <form style="padding: 40px;" class="form_decor">
            <div class="col-sm-8">
                <b>Token No</b><br>
                <input type="text" value="{{tc.Token_No}}" readonly>
            </div>
            <div class="col-sm-8">
                <b>Patient Id  </b><br>
                    <input type="text" value="{{tc.Pt_Id}}" readonly>
            </div>
            <div class="col-sm-8">
                <b>Patient Name  </b><br>
                    <input type="text" value="{{tc.Pt_Name}}" readonly>
            </div>
            <div class="col-sm-8">
                <b>Doctor Name</b><br>
                <input type="text" value="{{tc.Doct_Name}}" readonly>
            </div>
            <div class="col-sm-8">
                <b>Room No  </b><br>
                <input type="text" value="{{tc.Room_No}}" readonly>
            </div><br><br>
        <a href="/token_creation"><button type="button"class="btn btn-primary"><i class="fas fa-save">&nbsp;&nbsp;Cancel</i></button>&nbsp;&nbsp;</a>
        <button type="button"class="btn btn-info" onclick="codespeedy()"><i class="fas fa-print" >&nbsp;Print</i></button>
       </form>
</div>
</div>
</div>
</div>
</div>
{% endblock  %}
{% block script_block %}
<script type="text/javascript">

   function codespeedy(){
     var print_div = document.getElementById("hello");
var print_area = window.open();
print_area.document.write(print_div.innerHTML);
print_area.document.close();
print_area.focus();
print_area.print();
print_area.close();
// This is the code print a particular div element
   }
 </script>
{% endblock %}
