{% extends 'qms/base.html' %}
{% load static %}
{% block body_block %}
{% load crispy_forms_tags %}
   <!-- content -->
   <div class="page-wrapper">
    <div class="content">
<!-- Main Dashboard -->
<div class="row">
<div class="col-12">
<div class="card">

    <div class="card-box mb-0">
        <button type="menu" style="font-family: monospace; width: 100%; text-align: left;"
          class="btn btn-primary m-t-15 waves-effect"> <b>Token Master Configuration</b></button>
      </div>

    <div class="container-fluid"><br><br>
      <form method="POST">
        {% csrf_token %}
        <div class="form-row own_decor_forms">
        <div class="form-group col-md-2 mb-0">
            {{form.Date|as_crispy_field }}
        </div>
        <div class="form-group col-md-2 mb-0">
            {{form.Doct_Name|as_crispy_field }}
        </div>
        <div class="form-group col-md-2 mb-0">
            {{form.status|as_crispy_field }}
        </div>
        <div class="form-group col-md-2 mb-0">
            {{form.Room_No|as_crispy_field }}
        </div>
        <div class="form-group col-md-2 mb-0">
            {{form.Max_Token_Assigned|as_crispy_field }}
        </div>
        <div class="form-group col-md-2 mb-0">
          <p>&nbsp;</p>
          {% if 'token_master_configuration_save' in access.user_profile.screen_access or request.user.is_superuser %}
          <button type="submit"class="btn btn-success" style="margin-top:-0.5em"><i class="fas fa-save">&nbsp;Save</i></button>
          {% endif %}
          {% if 'token_master_configuration_replicate' in access.user_profile.screen_access or request.user.is_superuser %}
          <button type="button" class="btn btn-primary"  style="margin-top:-0.5em" data-toggle="modal" data-target=".bd-example-modal-md">Replicate</button>
          {% endif %}
        </div>
        </div>
      </form>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-8 col-xs-8"><br>
                <div class="card">
                    <div class="header">
            <div class="body">
                <div class="table-responsive">
                    {% if 'token_master_configuration_view' in access.user_profile.screen_access or request.user.is_superuser %}

                  <table class=" table table-stripped ">
                        <thead style="background-color: rgb(216, 216, 246);">
                            <tr>
                                <th>Date</th>
                                <th>Doctor Name</th>
                                <th>Status</th>
                                <th>Room No</th>
                                <th>Max Token Assigned</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                          {% for data in tmc %}
                            <tr>
                                <td>{{data.Date}}</td>
                                <td>{{data.Doct_Name}}</td>
                                <td>{{data.status}}</td>
                                <td>{{data.Room_No}}</td>
                                <td>{{data.Max_Token_Assigned}}</td>
                                {% if 'token_master_configuration_update' in access.user_profile.screen_access or request.user.is_superuser %}
                                <td><a href="token_master_configuration/{{data.id}}" class="btn btn-primary">Update</a></td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                          
                         </tbody>
                   </table> 
                   {% endif %}
            </div>
        </div>
    </div>
    </div>
            </div>
        </div>
    </div>
</div>
<!-- Replicated Related Model Start-->
<div class="modal fade bd-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
          <div class="modal-content">
             <div class="modal-header" style="background: skyblue;">
              <h5 class="modal-title" id="exampleModalLabel" ><b>Replicate Token Assign</b></h5>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              </div><br>

	   <div class="container" style="text-align: center;">
       <form method="POST">
         {% csrf_token %}
         <div class="form-row own_decor_forms">
         <div class="form-group col-6">
          {{form2.start_date|as_crispy_field }}
         </div>
         <div class="form-group col-6">
              {{form2.end_date|as_crispy_field }}
         </div>
         <div class="form-group col-6">
             {{form.Doct_Name|as_crispy_field }}
         </div>
         <div class="form-group col-6">
             {{form.status|as_crispy_field }}
         </div>
         <div class="form-group col-6">
             {{form.Room_No|as_crispy_field }}
         </div>
         <div class="form-group col-6">
             {{form.Max_Token_Assigned|as_crispy_field }}
         </div>
         <div class="form-group col-6">

         </div>
         <div class="form-group col-6">

         </div>
        <center style="margin:auto;display:block;">
          <button type="button"class="btn btn-danger "  data-dismiss="modal"> <i class="fas fa-cancel" >&nbsp;Cancel</i></button>
          <button type="submit"class="btn btn-success" name="replicate" value="ReplicatedSave"> <i class="fas fa-save" >&nbsp;Save</i></button>
        </center>

       </form>
        <!-- <div class="float-end">
        <label>Start Date:&nbsp;</label>
        <input type="date">
        </div><br>
        <div class="float-end">
        <label>End Date:&nbsp;</label>
        <input type="date">
        </div><br>
        <div class="float-end input-field col-md-12">
        <label>Doctor Name: &nbsp;</label>
        <select>
            <option value="1">option_1</option>
            <option value="1">option_1</option>
            <option value="1">option_1</option>
        </select>
    </div>

    <div class="float-end input-field col-md-12">
        <label>Status : &nbsp;</label>
        <select>
            <option value="1">In</option>
            <option value="1">Out</option>
        </select>
    </div>
    <div class="float-end input-field col-md-12">
        <label>Room No: &nbsp;</label>
        <select>
            <option value="1">101</option>
            <option value="1">102</option>
            <option value="1">103</option>
        </select>
    </div>
    <div class="float-end">
        <label>Max Token Assigned :&nbsp;</label>
        <input type="number">
    </div> -->
        <br>
        <!-- <button type="button"class="btn btn-success" > <i class="fas fa-save" >&nbsp;Save</i></button>
        <button type="button"class="btn btn-danger "  data-dismiss="modal"> <i class="fas fa-cancel" >&nbsp;Cancel</i></button> -->

        </div></div><br>
          </div>
        </div>
<!-- Replicated Related Model End-->
    {% endblock  %}
