{% extends 'clinical/base.html' %}
{% load static %}
{% block body_block %}
<style>
    th,td{
        text-align: center;
    }
</style>
<div class="page-wrapper">
    <div class="content">
        <div class="card" style="padding: 30px; overflow: auto;">
            <h2><img src="{% static 'images/lab_test.png' %}" alt="" style="width: 50px;">  <b>Lab Report</b></h2><br><br>
            <div>
              <form method="post" style="background-color:rgb(219, 218, 218); padding-left: 30px; padding-top: 10px;">
                {% csrf_token %}
                 <div class="form-row">
                     <div class="form-group col-md-3 mb-0">
                         <label><b>From Date*</b> </label>
                         <input type="date" name="from_date" id="from_date" class="form-control">
                     </div>
                     <div class="form-group col-md-3 mb-0">
                         <label><b>To Date*</b></label>
                         <input type="date" name="to_date" id="to_date" class="form-control">
                     </div>
                     <div class="form-group col-md-3 mb-0">
                         <label><b>Patient Name</b></label>
                         
                        <input type="text" class="form-control" name="patient_name">
                     </div>

                     
                     <div class="form-group col-md-0 mb-0" style="padding-top: 10px;"><br>
                         <button type="submit" name="search_btn" value="search_btn"  class="btn btn-warning"><i
                                 class="fa fa-search">&nbsp;Search</i></button>&nbsp;
                     </div>
                     
                 </div>
                 <br>

             </form>
                <table class="datatable table table-stripped ">
                  <thead>
                    <tr>
                      <th scope="col">S.No</th>
                        <th scope="col">Unid</th>
                      <th scope="col">P Id</th>
                      <th scope="col">Name</th>
                      <th scope="col">Age / Sex</th>
                      <th scope="col">Date & Time</th>
                      <th scope="col">  Report</th>
                      <th scope="col">Report Send Email</th>
                    </tr>
                  </thead>
                  <tbody>
                      {% for data in records %}
                      <tr>
                          <td >{{forloop.counter}}</td>
                          <td><input type="text" id="id" class='f orm-comtrol' style="border: none; text-align:center;" value="{{data.uhid}}" readonly></td>
                          <td><input type="text" id="id" class='f orm-comtrol' style="border: none; text-align:center;" value="{{data.PTID}}" readonly></td>
                          <td><input type="text" id="id" class='f orm-comtrol' style="border: none; text-align:center;" value="{{data.pat_name}}" readonly></td>
                          <td><input type="text" id="id" class='form-comtrol' style="border: none; text-align:center;" value="{{data.pat_gender|first}} / {{data.pat_age}}" readonly></td>
                          <td><input type="text" id="id" class='form-comtrol' style="border: none; text-align:center;" value="{{data.date_time}}" readonly></td>
                          <td id="pop_up"><a href="/dep_lab_report_print_all/{{data.PTID}}"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" >Report</button></a></td>
                          <td id="pop_up"><a href="/send_email/{{data.PTID}}"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" >Report Send Email</button></a></td>
                        </tr>
                        {% endfor %}
                       
                  </tbody>
            </div>
        </div>
    </div>
</div>
<script>
    function myFunction() {
      var txt;
      if (confirm("Press a button!")) {
        txt = "You pressed OK!";
      } else {
        txt = "You pressed Cancel!";
      }
      document.getElementById("demo").innerHTML = txt;
    }
    </script>
{% endblock %}