{% extends 'pharmacy/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head_block %}
<style>
  .form-control {
    border: 2px solid white;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid black;
  }
</style>
{% endblock  %}
{% block body_block %}
<!-- content -->
<div class="page-wrapper">
  <div class="content">
    <nav class="navbar navbar-light bg-blue" style="background-color: rgb(64, 64, 207);">
      <div class="container-fluid">
        <a class="navbar-brand" style="color: white;" href="#">Item Issue to SubStore</a>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-8 col-xs-8"><br>
          <div class="card">
            <div class="header">
              <div class="body">
                <br>
                &nbsp;
                <div class="row clearfix">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <button type="button" class="btn btn-warning" data-toggle="modal"
                    data-target=".bd-example-modal-xl"><i class="fas fa-plus">Add</i></button>&nbsp;
                  <button type="button" class="btn btn-info"><a href="#"><i class="fas fa-edit"
                        style="color:white;">Edit</i></a></button>&nbsp;
                  <button type="button" class="btn btn-success"> <i class="fas fa-save">Save</i></button>&nbsp;
                  <button type="button" class="btn btn-primary" onClick="window.location.reload();"> <i
                      class="fas fa-sync-alt">Refresh</i></button>&nbsp;
                  <a href="" class="btn btn-danger"> <i class="fas fa-times-circle">Exit</i></a>
                </div>
                <br>
                <div class="col-lg-12 col-md-12 col-sm-4 col-xs-4" style="background-color:rgb(233, 233, 233);"><br>
                  <form method="post" action="">
                    {% csrf_token %}
                    <div class="form-row">
                      <div class="form-group col-md-3 mb-0">
                        <label>Indent No</label>
                        <input type="text" name="indent_no" id="indent_no" class="form-control">
                      </div>
                      <div class="form-group col-md-0"><br>
                        <button type="submit" class="btn btn-warning"> <i
                            class="fas fa-search">Search</i></button>&nbsp;
                      </div>
                       <div class="form-group col-md-0"><br>
                        <a href='/WO_intent' class="btn btn-primary" name="WO_intent" value="WO_intent">&nbsp;Without-Indent Issue</i></a>&nbsp; 
                            <!-- <button class="btn btn-primary" name="WO_intent" value="WO_intent">Without-Indent Issue</button> -->
                      </div> 
                    </div>
                  </form>
                </div><br><br><br>

                <div class="table-responsive">
                  <table class="datatable table table-stripped ">
                    <thead>
                      <tr>
                        <th>S.No</th>
                        <th>Indent No</th>
                        <th>Date Time</th>
                        <th>Indent Store</th>
                        <th>Location</th>
                        <th>Department</th>
                        <th>View</th>
                      </tr>
                    </thead>
                    {% for data in material_intent_parent %}
                    <tbody>

                      <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{data.intent_id}}</td>
                        <td>{{data.intent_datetime}}</td>
                        <td>{{data.substore_id}}</td>
                        <td>{{data.location_id}}</td>
                        <td>{{data.department}}</td>
                        <td><a class="btn btn-primary" href="/search_material_intent/{{data.intent_id}}"><i class="fa fa-hand-pointer" aria-hidden="true"></i></a>
                        </td>

                      </tr>
                    </tbody>
                    {% endfor %}
                  </table>
                </div>
              </div><br>

           
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
{% endblock %}