    <!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Master</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <!-- Favicons -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/favicon.ico' %}">

    <!-- Font Family -->
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700" rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}" >
    <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}" >

    <!-- Calendar CSS -->
    <link rel="stylesheet" href="{% static 'assets/plugins/fullcalendar/fullcalendar.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/calendar.css' %}">

    <!-- Datatable-->
    <link rel="stylesheet" href="{% static 'assets/css/dataTables.bootstrap4.min.css' %}">

    <!-- Select 2-->
    <link rel="stylesheet" href="{% static 'assets/css/select2.min.css' %}">

    <!-- Datetime Picker-->
    <link rel="stylesheet" href="{% static 'assets/plugins/datetimepicker/css/tempusdominus-bootstrap-4.min.css' %}">

    <!--custom styles-->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    {% block head_block %}
    {% endblock  %}
</head>
<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">

       <!-- Header -->
        <div class="header-menu">
            <div class="header-left">
                <a href="" class="logo">
                  <img src="{% static 'assets/images/hospital.png' %}" width="35" height="35" alt="">
                    <span><b style="color:rgba(255, 0, 0, 0.97)">Nephro</b><b style="color:rgb(14, 255, 14)">Med</b></span>
                </a>
            </div>

            <!-- Mobile Menu Toggle -->
            <div class="menubar">
                <a id="toggle_btn" href="javascript:void(0);"><i class="fas fa-bars"></i></a>
            </div>
            <!-- /Mobile Menu Toggle -->

            <!-- Search-->
            <div class="searchbar">
                <form class="form-inline my-1 w-25 float-left">
                    <input class="form-control mr-sm-2 search-input search_icon" type="search" placeholder="Search..." >
                </form>
            </div>
            <!--/ Search-->

            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>

            <!-- Header Right Menu -->
            <ul class="nav user-menu float-right">
              <li class="nav-item dropdown d-none d-sm-block">
                  <a href="/dashboard" class="hasnotifications nav-link"><i class="fa fa-home back-icon"></i> </a>
              </li>


                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span>{% if request.user.first_name %}
                            {{request.user.first_name}}
                            {% else %}
                            {{request.user}}
                            {% endif %}</span>&nbsp;
                        <span class="user-img">
							<img class="rounded-circle" src="{% static 'assets/images/user.jpg' %}" width="24" alt="Admin">
							<span class="status online"></span>
						</span>
                    </a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="/login">Logout</a>
					</div>
                </li>
            </ul>
            <!--/ Header Right Menu -->

            <!-- User Menu -->
            <div class="dropdown mobile-user-menu float-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/login">Logout</a>
                </div>
            </div>
            <!--/ User Menu -->
        </div>
        <!-- /Header -->

        <!--sidebar-->
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    {% if 'master' in access.user_profile.screen_access or request.user.is_superuser %}
                    <ul>
                        <li>
                            <a href="/dashboard"><i class="fa fa-home back-icon"></i> <span>Back to Home</span></a>
                         </li>
                         <li class="submenu">
                            <a href="#"><i class="fas fa-clipboard-list"></i> <span >General Master</span><span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li> <a href="/title_master"><i class="fas fa-user-md"></i> <span>Title Master</span></a></li>
                                <li> <a href="/hospital-master"><i class="fas fa-user"></i> <span>Hospital Master</span></a></li>
                                <li><a href="/holiday_master"><i class="fas fa-procedures"></i> <span>Holiday Master</span></a> </li>
                                <li><a href="/gender_master"><i class="fas fa-stethoscope"></i> <span>Gender Master</span></a></li>
                                <li><a href="/district"><i class="fas fa-user-clock"></i> <span>District Master</span></a></li>
                                <li><a href="/country_master"><i class="fas fa-user-clock"></i> <span>Country Master</span></a></li>
                                <li><a href="/city_master"><i class="fas fa-clipboard-list"></i> <span>City Master</span></a></li>
                                <li><a href="/most_common_document"><i class="fas fa-clipboard-list"></i> <span>Most Document Type</span></a></li>
                                <li><a href="/maritial_status"><i class="fas fa-clipboard-list"></i> <span>Martial Status</span></a></li>
                                <li><a href="/relation"><i class="fas fa-clipboard-list"></i> <span>Relation Master</span></a></li>
                                <li><a href="/group_master"><i class="fas fa-clipboard-list"></i> <span>Group Master</span></a></li>
                                <li><a href="/create-room"><i class="fas fa-clipboard-list"></i> <span>Room Master</span></a></li>
                                <li><a href="/branch_master"><i class="fas fa-clipboard-list"></i> <span>Branch Master</span></a></li>
                                <li><a href="/visit_type_master"><i class="fas fa-clipboard-list"></i> <span>Visit Type Master</span></a></li>
                                <li><a href="/service-master"><i class="fas fa-clipboard-list"></i> <span>Service Category </span></a></li>
                                <li><a href="/add_sub_service_master"><i class="fas fa-clipboard-list"></i> <span>Service Sub Category </span></a></li>
                                <li><a href="/add_service_department"><i class="fas fa-clipboard-list"></i> <span>Service Department </span></a></li>
                                <li><a href="/add_service_sub_department"><i class="fas fa-clipboard-list"></i> <span>Service Sub Department </span></a></li>
                                <li><a href="/ward_type"><i class="fas fa-clipboard-list"></i> <span>Ward Type </span></a></li>
                                <li><a href="/ward_category"><i class="fas fa-clipboard-list"></i> <span>Ward Category </span></a></li>
                                <li><a href="/blood_master"><i class="fas fa-clipboard-list"></i> <span>Blood Master </span></a></li>
                                <li><a href="/clinical_department"><i class="fas fa-clipboard-list"></i> <span>Clinical Department </span></a></li>
                                <li><a href="/designation"><i class="fas fa-clipboard-list"></i> <span>Designation </span></a></li>
                                <li><a href="/payment_mode"><i class="fas fa-clipboard-list"></i> <span>Payment Mode </span></a></li>
                                <li><a href="/bank_master"><i class="fas fa-clipboard-list"></i> <span>Bank Master </span></a></li>
                                <li><a href="/diagnosis_master"><i class="fas fa-clipboard-list"></i> <span>Diagnosis Master </span></a></li>
                                <li><a href="/ins_document"><i class="fas fa-clipboard-list"></i> <span>Ins Document </span></a></li>
                                <li><a href="/location_master"><i class="fas fa-clipboard-list"></i> <span>Location Master </span></a></li>
                                <li><a href="/refered_bymaster"><i class="fas fa-clipboard-list"></i> <span>Refered By Master </span></a></li>
                            </ul>
                        </li>
                                                <li class="submenu">
                            <a href="#"><i class="fas fa-clipboard-list"></i> <span >Dialysis Master</span><span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li> <a href="/status_dialysis"><i class="fas fa-user-md"></i> <span>Status Dialysis Master</span></a></li>
                                <li> <a href="/primary_dialysis_theropist"><i class="fas fa-user"></i> <span>Primary Dialysis Theropist Master</span></a></li>
                                <li><a href="/secondry_dialysis_theropist"><i class="fas fa-procedures"></i> <span>Secondry Dialysis Theropist Master</span></a> </li>
                                <li><a href="/machine_name"><i class="fas fa-stethoscope"></i> <span>Machine Name Master</span></a></li>
                                <li><a href="/asset_type"><i class="fas fa-user-clock"></i> <span>Asset type Master</span></a></li>
                                <li><a href="/bruit_thrill"><i class="fas fa-user-clock"></i> <span>Bruit Thrill Master</span></a></li>
                                <li><a href="/access_site"><i class="fas fa-clipboard-list"></i> <span>Access Site Master</span></a></li>
                                <li><a href="/dialysis_type"><i class="fas fa-clipboard-list"></i> <span>Dialysis Type</span></a></li>
                                <li><a href="/completion_Status"><i class="fas fa-clipboard-list"></i> <span>Completion Status</span></a></li>
                                <li><a href="/needle_type"><i class="fas fa-clipboard-list"></i> <span>Needle Type Master</span></a></li>
                                <li><a href="/dialyzer"><i class="fas fa-clipboard-list"></i> <span>Dialyzer Master</span></a></li>
                                <li><a href="/rating"><i class="fas fa-clipboard-list"></i> <span>Rating Master</span></a></li>
                                <li><a href="/anticoagulation"><i class="fas fa-clipboard-list"></i> <span>Anticoagulation Master</span></a></li>
                                <li><a href="/heparin_type"><i class="fas fa-clipboard-list"></i> <span>Heparin Type Master</span></a></li>
                                <li><a href="/closing_attendent"><i class="fas fa-clipboard-list"></i> <span>Closing Attendent  </span></a></li>
                                <li><a href="/shift"><i class="fas fa-clipboard-list"></i> <span>Shift Mster </span></a></li>
                                <li><a href="/schedule_master"><i class="fas fa-clipboard-list"></i> <span>Schedule Master </span></a></li>
                                <li><a href="/permanent_access_master"><i class="fas fa-clipboard-list"></i> <span>Permanent Access Master </span></a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                        <a href="/service_master"><i class="fas fa-clipboard-list"></i> <span>Service Master</span><span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a href="/service_master"><i class="fas fa-clipboard-list"></i> <span>Service Master</span></a></li>
                            <li><a href="{% url 'template_master' %}"><i class="fas fa-clipboard-list"></i> <span> Template Master</span></a></li>

                        </ul>
                        </li>
                        <li class="submenu">
                        <a href="/service_master"><i class="fas fa-clipboard-list"></i> <span>IPD Master</span><span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a href="{% url 'wm' %}"><i class="fas fa-clipboard-list"></i> <span>Wing Master</span></a></li>
                            <li><a href="{% url 'fm' %}"><i class="fas fa-clipboard-list"></i> <span>Floor Master</span></a></li>
                            <li><a href="{% url 'rm' %}"><i class="fas fa-clipboard-list"></i> <span>Room Master</span></a></li>
                            <li><a href="{% url 'bm' %}"><i class="fas fa-clipboard-list"></i> <span>Bed Master</span></a></li>
                            <li><a href="{% url 'wt' %}"><i class="fas fa-clipboard-list"></i> <span>Ward Type</span></a></li>
                            <li><a href="{% url 'wc' %}"><i class="fas fa-clipboard-list"></i> <span>Ward Category</span></a></li>
                            <li><a href="{% url 'wn' %}"><i class="fas fa-clipboard-list"></i> <span>Ward Name</span></a></li>
                            <li><a href="{% url 'bl' %}"><i class="fas fa-clipboard-list"></i> <span>Bed location</span></a></li>
                            <li><a href="{% url 'nsv' %}"><i class="fas fa-clipboard-list"></i> <span>Nursing s counter</span></a></li>

                            <li><a href="{% url 'dpt' %}"><i class="fas fa-clipboard-list"></i> <span>Department</span></a></li>
                            <li><a href="{% url 'rd' %}"><i class="fas fa-clipboard-list"></i> <span>Room Defination</span></a></li>

                        </ul>
                        </li>

                        <li class="submenu">
                            <a href="/"><i class="fas fa-clipboard-list"></i> <span>Lab master</span><span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="/sample_master"><i class="fas fa-clipboard-list"></i> <span>sample Master</span></a></li>
                                <li><a href="/volume_master"><i class="fas fa-clipboard-list"></i> <span>Volume Master</span></a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="/billing_group_tariff"><i class="fas fa-clipboard-list"></i> <span>Charge</span><span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li ><a href="/billing_group_tariff"><i class="fas fa-clipboard-list"></i> <span>Billing Grp Tariff L</span></a></li>
                                <li><a href="/tariff_charge_master"><i class="fas fa-clipboard-list"></i> <span>Tariff Charge Master</span></a></li>
                                <li> <a href="/tariff_master"><i class="fas fa-clipboard-list"></i> <span>Tariff Master</span></a></li>
                                <li> <a href="/service_charge_master"><i class="fas fa-clipboard-list"></i> <span>Service Charge Master</span></a></li>
                            </ul>
                            </li>
                        <li class="submenu">
                            <a href="/"><i class="fas fa-clipboard-list"></i> <span>Billing Group</span><span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="/corporate_master"><i class="fas fa-clipboard-list"></i> <span>Corporate Master</span></a></li>
                                <li><a href="/billing_master"><i class="fas fa-clipboard-list"></i> <span>Billing Group Master</span></a></li>
                                <li><a href="/billing_group_corporate"><i class="fas fa-clipboard-list"></i> <span>Corp Billing Linking</span></a></li>
                            </ul>
                            </li>
                        <li class="submenu">
                            <a href="/"><i class="fas fa-clipboard-list"></i> <span>Opd Package</span><span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="/opd_package_master"><i class="fas fa-clipboard-list"></i> <span>Opd Package Master</span></a></li>
                                <li><a href="/opd_package_service"><i class="fas fa-clipboard-list"></i> <span>Opd Package service</span></a></li>
                                <li><a href="/link_opdpackage_tariff"><i class="fas fa-clipboard-list"></i> <span>Opd Package Tariff Link</span></a></li>
                            </ul>
                            </li>
                            <li class="submenu">
                            <a href="/"><i class="fas fa-clipboard-list"></i> <span>Lab Profile Package</span><span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="/profile_master"><i class="fas fa-clipboard-list"></i> <span>Profile Master</span></a></li>
                                <li><a href="/profile_service"><i class="fas fa-clipboard-list"></i> <span>Profile Service</span></a></li>

                                <li><a href="/service_test"><i class="fas fa-clipboard-list"></i> <span>Test Service Name</span></a></li>
                                <li><a href="/profile_package_tarifflink"><i class="fas fa-clipboard-list"></i> <span>Profile Package Link With Tariff</span></a></li>
                                <li><a href="/service_test_tarifflink"><i class="fas fa-clipboard-list"></i> <span>Profile service Link With Tariff</span></a></li>
                            </ul>
                            </li>

                    </ul><br><br><br><br>
                    {% endif %}
                </div>
            </div>
        </div>
        <!--/sidebar-->
        {% block body_block %}

        {% endblock %}

</div>
<!--/ content -->
</div>
</div>
</div>
</div>
<!--scripts-->
<!-- jQuery -->
<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>

<!-- Bootstrap Core JS -->
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

<!-- Slimscroll JS -->
<script src="{% static 'assets/js/jquery.slimscroll.js' %}"></script>

<!-- Select2 JS -->
<script src="{% static 'assets/js/select2.min.js' %}"></script>
<script src="{% static 'assets/js/moment.min.js' %}"></script>

<!-- Datetime picker JS -->
<script src="{% static 'assets/plugins/datetimepicker/js/tempusdominus-bootstrap-4.min.js' %}"></script>

<!-- Calender JS -->
<script src="{% static 'assets/js/calendar.min.js' %}"></script>

<!-- Apex chart JS -->
<script src="{% static 'assets/js/apex.js' %}"></script>

 <!-- Data table JS -->
 <script src="{% static 'assets/js/jquery.dataTables.min.js' %}"></script>
 <script src="{% static 'assets/js/dataTables.bootstrap4.min.js' %}"></script>

<!-- Custom JS -->
<script src="{% static 'assets/js/app.js' %}"></script>

{% block script_block %}

{% endblock %}
{% if 'master' not in access.user_profile.screen_access %}
<script>
    $( document ).ready(function() {
        location.replace("/dashboard");
    });
</script>
{% endif %}
</body>
</html>
