{% extends 'general_master/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block body_block %}



<!-- content -->
<div class="page-wrapper">
<div class="content">
  <button type="menu" style="font-family: monospace; width: 100%; text-align: left;" class="btn btn-primary m-t-15 waves-effect"> <b>Payment Mode</b></button>
<div class="container-fluid">
   <div class="row clearfix">
       <div class="col-lg-12 col-md-12 col-sm-8 col-xs-8"><br>
           <div class="card">
               <div class="header">
       <div class="body">
               <br><div class="icon-button-demo">&nbsp;
                   <button type="button" class="btn btn-warning" data-toggle="modal" data-target=".bd-example-modal-xl"><i class="fas fa-plus" >Add</i></button>&nbsp;
                   <button type="button" class="btn btn-info"><a href="/edit_payment_mode"><i class="fas fa-edit"  style="color:white;">Edit</i></a></button>&nbsp;
                   <button type="button"class="btn btn-success"> <i class="fas fa-save" >Save</i></button>&nbsp;
                   <button type="button" class="btn btn-primary" onClick="window.location.reload();"> <i class="fas fa-sync-alt" >Refresh</i></button>&nbsp;
                   <button type="button" class="btn btn-danger"><a href='/'><i class="fas fa-times-circle" style="color:white;">Exit</i></a></button>
               </div><br>
           <div class="table-responsive">
             <table class="datatable table table-stripped ">

                <thead>
                    <tr><th>S.No.</th>
                        <th>Payment Mode</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                  {% for data in records %}
                  <tr>
                      <td>{{data.id}}</td>
                      <td>{{data.payment_mode}}</td>
                      <td>{{data.description}}</td>
                      <td><a href="/editing_payment_mode/{{data.id}}" class="btn btn-info"> <i class="fas fa-edit" >Edit</i></a>&nbsp;</td>
                    </tr>
                  {% endfor %}
                 </tbody>
           </table>
           </div>
       </div>
</div>
</div>
</div>
</div>
</div>
<!-- Add Modal -->

<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
<div class="modal-dialog modal-xl">
 <div class="modal-content">
     <!-- Header -->
     <div class="modal-header" style="background: skyblue;">
         <h5 class="modal-title" id="exampleModalLabel" ><b>Payment Mode</b></h5>
         <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
         </button>
         </div><br>
      <!-- Main block -->
      <div class="modal-body">
         <div class="container-fluid">
             <div class="body">
                 <div class="demo-masked-input">
                     <div class="row clearfix">
                       <div class="col-12">
                           <div class="form-group">
                               <div class="form-line">
                                 <form  method="POST">
                                   {% csrf_token %}
                                   <div class="form-row">
                                       <div class="form-group col-md-6 mb-0">
                                        {{form}}
                                       </div>
                                     </div>
                                   <button type="submit"class="btn btn-success" > <i class="fas fa-save" >&nbsp;Save</i></button>
                                 </form>
                               </div>
                           </div>
                       </div>


                         </div>
                        
                     </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>

</div>
</div>

{% endblock  %}




