{% extends 'general_master/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block body_block %}
<!-- content -->
<div class="page-wrapper">
<div class="content">
  <nav class="navbar navbar-light bg-blue" style="background-color: rgb(64, 64, 207);">
      <div class="container-fluid">
          <a class="navbar-brand" style="color: white;" href="#">Tariff Master</a>
      </div>
  </nav>
      <div class="container-fluid">
          <div class="row clearfix">
              <div class="col-lg-12 col-md-12 col-sm-8 col-xs-8"><br>
                  <div class="card">
                      <div class="header">
              <div class="body">
                <br><div class="icon-button-demo">&nbsp;
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target=".bd-example-modal-xl"><i class="fas fa-plus" >Add</i></button>&nbsp;
                    <a href="edit_tariff_master" class="btn btn-info"> <i class="fas fa-edit" style="color:white;">Edit</i></a>&nbsp;
                    <button type="button"class="btn btn-success"> <i class="fas fa-save" >Save</i></button>&nbsp;
                    <button type="button" class="btn btn-primary" onClick="window.location.reload();"> <i class="fas fa-sync-alt" >Refresh</i></button>&nbsp;
                    <a href="/tariff_master" class="btn btn-danger"> <i class="fas fa-times-circle">Exit</i></a>
                </div><br>
                  <div class="table-responsive">
                  <table class="table table-bordered table-striped table-hover save-stage dataTable"
                      style="width:100%;">

                          <thead>
                              <tr><th bgcolor= "rgb(2, 35, 46)" style="color:azure; ">S.No.</th>
                                  <th bgcolor= "rgb(2, 35, 46)" style="color:azure; ">Tariff Name</th>
<!--                                  <th bgcolor= "rgb(2, 35, 46)" style="color:azure; ">Status</th>-->
                                  <th bgcolor= "rgb(2, 35, 46)" style="color:azure; ">Action</th>
                              </tr>
                          </thead>
                          <tbody>
                            {% for data in tariff_master %}
                              <tr>
                                  <td>{{data.id}}</td>
                                  <td>{{data.tariff_name}}</td>
<!--                                  <td>{{data.status}}</td>-->
                                  <td><a href="/editing_tariff_master/{{data.id}}" class="btn btn-info"> <i class="fas fa-edit" >Edit</i></a>&nbsp;</td>
                              </tr>
                              {% endfor %}
                           </tbody>

                  </table>
                  </div>
              </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  <!-- Add Modal -->

  <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <!-- Header -->
            <div class="modal-header" style="background: skyblue;">
                <h5 class="modal-title" id="exampleModalLabel" ><b>TARIFF MASTER</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

                </button>
                </div><br>
             <!-- Main block -->
             <div class="modal-body">
                <div class="container-fluid">
                    <div class="body" style="border:0px solid red;">
                        <div class="demo-masked-input">
                            <div class="row clearfix">
                              <div class="col-12">
                                <form  method="POST">
                                  {% csrf_token %}
                                  <div class="form-row">
                                      <div class="form-group col-md-6 mb-0">
                                          {{form.tariff_name|as_crispy_field}}
                                      </div>
                                      <div class="form-group col-md-6 mb-0">
                                          {{form.status|as_crispy_field}}
                                      </div>
                                      <div class="form-group col-md-6 mb-0">
                                          {{form.description|as_crispy_field}}
                                      </div>
                                    </div>
                                  <button type="submit"class="btn btn-success" > <i class="fas fa-save" >&nbsp;Save</i></button>
                                </form>
                              </div>
                                </div>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
</div>
</div>

    {% endblock  %}
