{% extends 'clinical/base.html' %}
{% load static %}
{% block body_block %}



<style xmlns="http://www.w3.org/1999/html">

    .table_form input {
        border: none;
        width: 100%;
        border-bottom: 2px solid rgb(233, 215, 215);
        padding-top: 20px;
        text-align: center;
    }
    .table_forms input {
        border: none;
        width: 100%;
        background-color: transparent;
        padding-top: 5px;
        text-align: center;
    }
</style>

<style>
    table {
      border-collapse: collapse;
      width: 100%;
      border: 1px solid #ddd;
    }
    
    th, td {
      text-align: center;
      padding: 16px;
    }
    </style>


<style>
    #myInput[type=text] {
			width: 130px;
			box-sizing: border-box;
			border-top: 2px solid rgba(0,0,0,0);
			border-left: 2px solid rgba(0,0,0,0);
			border-right: 2px solid rgba(0,0,0,0);
			border-bottom: 2px solid rgb(233, 215, 215);
			font-size: 16px;
			font-weight: bold;
			color: #999;
			background-color: rgba(0,0,0,0);
			background-image: url('Main/search.png');
			background-position: 10px 12px;
			background-repeat: no-repeat;
			text-align: left  !important;
			-webkit-transition: width 0.4s ease-in-out;
			transition: width 0.4s ease-in-out;
			font-family: 'gothic' !important;
}
#myInput[type=text]:focus {
			width: 100%;
			outline: none;
			border-bottom: 2px solid #2E51A2;
}
.Dropdown {
    position: relative;
    display: inline-block;
	width: 100%;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 940px;
    overflow: auto;
    text-align: left  !important;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown_content a {
    color: black;
    padding: 12px;
    text-decoration: none;
    display: block;
}

.Dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}
ul {
    padding: 0;
    list-style-type: none;
}
</style>

<div class="page-wrapper">
    <div class="content">
        <div class="card" style="overflow: auto;">
            <h2 style="padding-left: 21px; padding-top: 21px;">Procedure</h2><br>
            <div class="icon-button-demo">&nbsp;
                <button type="submit" class="btn btn-success" form="temp_form" name="main_save" value="main_save"> <i class="fas fa-save">Save</i></button>&nbsp;
                <a href="/usermanagementapp/user_management_details" class="gray_bg"><button type="button" class="btn btn-info"><i class="fas fa-edit" style="color:white;">Edit</i></button></a>&nbsp;
                <button type="button" class="btn btn-primary" onClick="window.location.reload();"> <i class="fas fa-sync-alt">Refresh</i></button></a>&nbsp;
                <a href="/dashboard" class="red_bg"><button type="button" class="btn btn-danger"> <i class="fas fa-times-circle">Exit</i></button></a>
            </div><br><br>
           
            <div class="col-lg-12 " style="background-color:rgb(233, 233, 233); overflow-x:auto;"><br>
                <form method="POSt" id="ward_form" modelAttribute="hotel">
                    {% csrf_token %}
                    <div class="row clearfix">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="form-line">
                                    <div class="form-group col-md-12 mb-0">
                                        <label for="pat_name" style="padding-left: 20px;">Name</label>
                                        <input type="text"  class="form-control" id="pat_name" name="pat_name" value="{{pat_name}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                          <div class="form-group">
                              <div class="form-line">
                                  <div class="form-group col-md-12 mb-0">
                                      <label for="UHID_id" style="padding-left: 20px;">UHID</label>
                                      <input type="text"  class="form-control" id="UHID_id" name="UHID_id" value="{{uhid}}">
                                  </div>
                              </div>
                          </div>
                      </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="form-line">
                                    <div class="form-group col-md-12 mb-0">
                                        <label for="admission_id" style="padding-left: 20px;">Admission Id</label>
                                        <input type="text"  class="form-control" id="admission_id" name="admission_id" value="{{ad_id}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="form-line">
                                    <div class="form-group col-md-12 mb-0">
                                        <label for="doctory" style="padding-left: 20px;">Primary doctory</label>
                                        <input type="text"  class="form-control" id="doctory" name="doctory" value="{{doctory}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="form-line">
                                    <div class="form-group col-md-12 mb-0">
                                        <label for="bed_num" style="padding-left: 20px;">Bed No</label>
                                        <input type="text"  class="form-control" id="bed_num" name="bed_num" value="{{bed_num}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="form-line">
                                    <div class="form-group col-md-12 mb-0">
                                        <label for="date_time" style="padding-left: 20px;">Current Date</label>
                                        <input type="text"  class="form-control" id="date_time" name="date_time" value="{{admission_date}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                
            </div>
            <br>
            
            <div class="table" >
                <form id="post-form" method="post">
                    {% csrf_token %}
                    <table class="table mt-2 table-border form-row service_table" >
                        <tr style="background: #d1dae6;" >
                            <th style="padding-left: 100px; padding-right: 100px;">SEARCH</th>
                            <th>Service_Name</th>
                            <th>Service Category</th>
                            <th>Service_Sub Category</th>
                            <th>Service Department</th>
                            <th>Service_Sub Department</th>
                            <th>service_charge</th>
                            <th>Action</th>
                        </tr>
                        <tr>
                            <td> 
                                <section class="mainSection">
                                    <br>
                                    <div class="Dropdown">
                                        <center><input type="text" id="myInput" class="dropbtn" onkeypress="searchDrop()" onkeyup="mySearch()" placeholder="Search..." title="Type Series Title"></center>
                                        <div id="myDropdown" class="dropdown_content">
                                            <ul id="myUL">
                                                {% for data in item %}
                                                <li><a href="/procedure_insert/{{uhid}}/{{data}}">{{data}}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </section>
                                </td>
                                <td class="table_form"><input type="text" name="service_name" value="{{records_list.service_name}}"></td>
                                <td class="table_form"><input type="text" name="service_category" value="{{records_list.service_category}}"></td>
                                <td class="table_form"><input type="text" name="service_sub_category" value="{{records_list.service_sub_category}}"></td>
                                <td class="table_form"><input type="text" name="service_department" value="{{records_list.service_department}}"></td>
                                <td class="table_form"><input type="text" name="service_sub_department" value="{{records_list.ServiceSubDepartment}}"></td>
                                <td class="table_form"><input type="text" name="service_charge" value="{{records_list.Charges}}"></td>
                                <td><button type="submit" class="btn btn-primary" name="save_temp" value="save_temp">Insert</button> </td>
                        </tr>

                    </table>
                </form>
                    </div><br><br>
            </div>
            {% if procedure_records %}
             <div class="table col-sm-12" style="overflow-x:auto;">
                <table style="overflow-x:auto;">
                    <tr style="background: #d1dae6;">
                        <th>Service_Name</th>
                        <th>Service Category</th>
                        <th>Service_Sub Category</th>
                        <th>Service Department</th>
                        <th>Service_Sub Department</th>
                        <th>service_charge</th>
                    </tr>
                    <form method="post" id="temp_form">
                        {% csrf_token %}
                    {% for data in procedure_records %}
                    <tr>
                        <td class="table_forms"><input type="text" name="service_name" value="{{data.service_name}}" readonly></td>
                        <td class="table_forms"><input type="text" name="service_category" value="{{data.service_category}}" readonly></td>
                        <td  class="table_forms"><input type="text" name="service_sub_category" value="{{data.service_sub_category}}" readonly></td>
                        <td  class="table_forms"><input type="text" name="service_department" value="{{data.service_department}}" readonly></td>
                        <td class="table_forms"><input type="text" name="service_sub_department" value="{{data.service_sub_department}}" readonly></td>
                        <td  class="table_forms"><input type="text" name="service_charge" value="{{data.service_charge}}" readonly></td>
                    </tr>
                    {% endfor %}
                </form>
                </table>
            </div>
            {% endif %}
            
            {% if not procedure_records %}
             <div class="table col-sm-12" style="overflow-x:auto;">
                <table style="overflow-x:auto;">
                    <tr style="background: #d1dae6;">
                        <th>Procedure Id</th>
                        <th>Service_Name</th>
                        <th>Service Category</th>
                        <th>Service_Sub Category</th>
                        <th>Service Department</th>
                        <th>Service_Sub Department</th>
                        <th>service_charge</th>
                        <th>Date</th>
                    </tr>
                    <form method="post" id="temp_form">
                        {% csrf_token %}
                    {% for data in procedure_records_all %}
                    <tr>
                        <td class="table_forms"><input type="text" name="service_name" value="{{data.procedure_id}}" readonly></td>
                        <td class="table_forms"><input type="text" name="service_name" value="{{data.service_name}}" readonly></td>
                        <td class="table_forms"><input type="text" name="service_category" value="{{data.service_category}}" readonly></td>
                        <td  class="table_forms"><input type="text" name="service_sub_category" value="{{data.service_sub_category}}" readonly></td>
                        <td  class="table_forms"><input type="text" name="service_department" value="{{data.service_department}}" readonly></td>
                        <td class="table_forms"><input type="text" name="service_sub_department" value="{{data.service_sub_department}}" readonly></td>
                        <td  class="table_forms"><input type="text" name="service_charge" value="{{data.service_charge}}" readonly></td>
                        <td  class="table_forms"><input type="text" name="service_charge" value="{{data.pro_date}}" readonly></td>
                    </tr>
                    {% endfor %}
                </form>
                </table>
            </div>
            {% endif %}
        </div>
    </div>
</div>


<script>
    /* When the user clicks on the button, 
  toggle between hiding and showing the dropdown content */
  function searchDrop() {
      if(this.value != '') {
          document.getElementById("myDropdown").classList.toggle("show");
      }
  }
  
  // Close the dropdown if the user clicks outside of it
  window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {
  
      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }
  
  function mySearch() {
      var input, filter, ul, li, a, i;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      ul = document.getElementById("myUL");
      li = ul.getElementsByTagName("li");
      for (i = 0; i < li.length; i++) {
          a = li[i].getElementsByTagName("a")[0];
          if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
              li[i].style.display = "";
          } else {
              li[i].style.display = "none";
  
          }
      }
  }
  </script>

{% endblock %}