{% extends 'clinical/base.html' %}
{% load static %}
{% block body_block %}
<!-- content -->
<div class="page-wrapper">
    <div class="content">
        {% if user %}
            {% for data in records|slice:":1" %}
                <h2 style="padding-left: 21px;">{{data.req_ward_cate}} Ward</h2>
            {% endfor %}
       {% endif %}
       {% if admin %}
        <h2 style="padding-left: 21px;"> Ward</h2>
       {% endif %}
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-8 col-xs-8"><br>
                    <div class="icon-button-demo">&nbsp;
                      <form method="post">
                      <a href="/investigation/{{uhid}}"><button type="button" class="btn btn-warning">Investigation</i></button>&nbsp;</a>
                      <a href="/consultation/{{uhid}}"><button type="button" class="btn btn-info">Consultation</i></button>&nbsp;</a>
                        <a href="/medication/{{uhid}}"><button type="button" class="btn btn-success"> Medication</i></button>&nbsp;</a>
                        <a href="/procedure/{{uhid}}"><button type="button"  class="btn btn-primary">Procedure </i></button>&nbsp; </a>
                        <button type="button" name="bed_transfer_button" value="bed_transfer_button" class="btn " style="background-color: pink;" data-toggle="modal" data-target="#bedtransfer" >Bed Transfer </i></button>&nbsp;
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#doctortransfer" name="doctor_transfer_button" value="doctor_transfer_button">Doctor Transfer </i></button>&nbsp;
                          {% csrf_token %}
                          <button type="submit" onclick="myFunction()" class="btn" style="background-color: rgb(0, 229, 255); color: rgb(53, 44, 44);" name="discharge"  value="discharge">Discharge Intimation</i></button>
                        </form>
                    </div><br>
                    <div class="card">
                        <div class="header">
                            <div class="body">
                                <div class="col-lg-12 col-md-12 col-sm-4 col-xs-4"
                                    style="background-color:rgb(233, 233, 233);"><br>
                                    <form method="POSt" id="ward_form" modelAttribute="hotel">
                                        {% csrf_token %}
                                        <div class="row clearfix">
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <div class="form-group col-md-12 mb-0">
                                                            <label for="pat_name" style="padding-left: 20px;">Name</label>
                                                            <input type="text"  class="form-control" id="pat_name" name="pat_name" value="{{pat_name}}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                              <div class="form-group">
                                                  <div class="form-line">
                                                      <div class="form-group col-md-12 mb-0">
                                                          <label for="UHID_id" style="padding-left: 20px;">UHID</label>
                                                          <input type="text"  class="form-control" id="UHID_id" name="UHID_id" value="{{uhid}}">
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <div class="form-group col-md-12 mb-0">
                                                            <label for="admission_id" style="padding-left: 20px;">Admission Id</label>
                                                            <input type="text"  class="form-control" id="admission_id" name="admission_id" value="{{ad_id}}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <div class="form-group col-md-12 mb-0">
                                                            <label for="doctory" style="padding-left: 20px;">Primary doctory</label>
                                                            <input type="text"  class="form-control" id="doctory" name="doctory" value="{{doctory}}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <div class="form-group col-md-12 mb-0">
                                                            <label for="bed_num" style="padding-left: 20px;">Bed No</label>
                                                            <input type="text"  class="form-control" id="bed_num" name="bed_num" value="{{bed_num}}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <div class="form-group col-md-12 mb-0">
                                                            <label for="date_time" style="padding-left: 20px;">Current Date</label>
                                                            <input type="text"  class="form-control" id="date_time" name="date_time" value="{{admission_date}}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="table-responsive">
                                    <table class="datatable table table-stripped" id="tables">


                                        <thead>
                                            <tr>
                                                <th>uhid</th>
                                                <th>admission_ID</th>
                                                <th>admission_datetime</th>
                                                <th>admission_type</th>
                                                <th>req_ward_type</th>
                                                <th>req_ward_cate</th>
                                                <th>primary_doctor</th>
                                                <th>department</th>
                                                <th>secondary_doctor</th>
                                                <th>ref_hospital</th>
                                                <th>bed_no</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for data in records %}
                                            <tr>
                                                
                                                <td><a href="/paitent_ward_actions/{{data.uhid}}">{{data.uhid}}</a></td>
                                                <td>{{data.admission_ID}}</td>
                                                <td>{{data.admission_datetime}}</td>
                                                <td>{{data.admission_type}}</td>
                                                <td>{{data.req_ward_type}}</td>
                                                <td>{{data.req_ward_cate}}</td>
                                                <td>{{data.primary_doctor}}</td>
                                                <td>{{data.department}}</td> 
                                                <td>{{data.secondary_doctor}}</td> 
                                                <td>{{data.ref_hospital}}</td> 
                                                <td>{{data.bed_no}}</td> 
                                            </tr>
                                            {% endfor %}
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="modal fade-lg" id="bedtransfer" tabindex="-1" data-target=".bd-example-modal-lg" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLongTitle" style="padding-left: 30px;">Bed Transfer</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="padding: 20px; ">
        <form method="POST" id="bed_transfer_id" data-cities-url="{% url 'admission_load' %}">
          {% csrf_token %}
          <div class="form-group">
            <label>Registration Id</label>
            <p disabled>
              {{bed_transfer_form.uhid}}</p>
            {{bed_transfer_form.bed_transfer_id}}</p>
            {{bed_transfer_form.admission_ID}}</p>
            <h3>Transfer From</h3>
            <div class="card">
              <div class="row">
                <div class="col-md-4">
                  <label>Ward Type</label>
                  <p>
                    {{bed_transfer_form.from_ward_type}}</p>
  
                </div>
                <div class="col-md-4">
                  <label>Ward Category</label>
                  <p>
                    {{bed_transfer_form.from_ward_cat}}</p>
  
                </div>
                <div class="col-md-4">
                  <label>Bed No</label>
                  <p>
                    {{bed_transfer_form.from_bed_no}}</p>
                </div>
              </div><br>
            </div>
            
            <h3>Transfer To</h3>
            <div class="row">
              <div class="col-md-4">
                <label>Ward Type</label>
                <p>
                  {{bed_transfer_form.to_ward_type}}</p>
              </div>
              <div class="col-md-4">
                <label>Ward category</label>
                <p>
                  {{bed_transfer_form.to_ward_cat}}</p>
              </div>
              <div class="col-md-4">
                <label>Bed No</label>
                <p>
                  {{bed_transfer_form.to_bed_no}}</p>
              </div>
            </div>
            <div class="form-group">
              <label>Transfer data & Time</label>
              <p>
                {{bed_transfer_form.transfer_datatime}}</p>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" name="bed_transfer_button" value="bed_transfer_button">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- bed transfer end -->
</div>


  
<!--Doctor transfer Modal -->
<div class="modal fade" id="doctortransfer" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLongTitle">Doctor Transfer</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label>Registration Id</label>
              <p disabled>
              {{doctor_transfer_form.uhid}}</p>
              {{doctor_transfer_form.doctor_transfer_id}}</p>
            <h3>Transfer From</h3>
            <div class="row">
              <div class="col-md-6">
                <label >Primary Doctor</label>
                <p>
                {{doctor_transfer_form.from_doctor}}</p>
                
              </div>
              <div  class="col-md-6">
                <label>Department</label>
                <p>
                {{doctor_transfer_form.from_department}}</p>
              </div>
            </div><br>
            <h3>Transfer To</h3>
            <div class="row">
              <div class="col-md-6">
                <label >Primary Doctor</label>
                <p>
                {{doctor_transfer_form.to_doctor}}</p>
              </div>
              <div  class="col-md-6">
                <label>Department</label>
                <p>
                {{doctor_transfer_form.to_department}}</p>
              </div>
            </div>
            <div class="form-group">
              <label>Transfer data & Time</label>
              <p>
              {{doctor_transfer_form.transfer_datatime}}</p>
            </div>
        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" name="doctor_transfer_button" value="doctor_transfer_button">Save</button>
        </div>
      </form>
      </div>
    </div>
  </div>
  </div>



<!-- bed transfer drop-down script -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
  $("#id_to_ward_type").change(function () {
      const ward_type_id = $(this).val();
      const url = $("#bed_transfer_id").attr("data-cities-url");  
  
      $.ajax({             
          url: url,   
          data: {
              'ward_type_id':ward_type_id 
          },
          success: function (data) { 
              $("#id_to_ward_cat").html(data);  
              let html_data = '<option value="">---------</option>';
              data.forEach(function (ward_type) {
              console.log(ward_type)
                  html_data += `<option value="${ward_type.id}">${ward_type.category_name}</option>`
              });
              console.log(html_data);
              $("#id_to_ward_cat").html(html_data);
  
  
          }
      });
  
  });
  </script>


<script>
  $("#id_to_ward_cat").change(function () {
      const ward_cat_id = $(this).val();
      const ward_type_id = $("#id_to_ward_type").val(); 
      const url = $("#bed_transfer_id").attr("data-cities-url");  
  
      $.ajax({             
          url: url,   
          data: {
              'ward_type_id':ward_type_id,
              'ward_cat_id':ward_cat_id 
          },
          success: function (data) { 
              $("#id_to_bed_no").html(data);  
              let html_data = '<option value="">---------</option>';
              data.forEach(function (bed_no) {
              console.log(bed_no)
                  html_data += `<option value="${bed_no.id}">${bed_no.bed_no}</option>`
              });
              console.log(html_data);
              $("#id_to_bed_no").html(html_data);
  
  
          }
      });
  
  });
  </script>

<script>
function myFunction() {
  alert("Are you Sure. You need to Discharge this patient.....!");
}

</script>

{% endblock %}