{% extends 'doctor/base.html' %}
{% load static %}
{% block body_block %}


 <!-- content -->
 <div class="page-wrapper">
    <div class="content">
<!-- Main Dashboard -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-box mb-0">
                        <h6 class="card-title text-bold"> Prescription</h6>
    <div class="form-row">
    <h4>-----* No More Contents To Displayed *-----<h4>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
{% endblock  %}
