{% extends 'general_master/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block body_block %}
<!-- content -->
<div class="page-wrapper">
    <div class="content">
        <button type="menu" style="font-family: monospace; width: 100%; text-align: left;"
            class="btn btn-primary m-t-15 waves-effect"> <b>Service Test</b></button><br><br>
        <div class="card" style="padding: 30px;">
            <div>
                <form method="post">
                    {% csrf_token %}
                    {% if sevice_records %}
                        <div class="row">
                            <div class="col-md-3">
                                <label> Test Name</label>
                            </div>
                            <div class="col-md-4">
                                <input type="text" name="test_name" class="form-control" value="{{sevice_records.service_name}}">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-3">
                                <label>Infant</label>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="">min</label>
                                        <input type="number" name="infant_mini_range" class="form-control">
                                    </div>
                                    <div class="col-md-1">
                                        <p style="padding-top: 20px; font-size: 30px;">-</p>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="">max</label>
                                        <input type="number" name="infant_max_range" class="form-control">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-3">
                                <label>Child</label>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="">min</label>
                                        <input type="number" name="chield_mini_range" class="form-control">
                                    </div>
                                    <div class="col-md-1">
                                        <p style="padding-top: 20px; font-size: 30px;">-</p>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="">max</label>
                                        <input type="number" name="chield_max_range" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-3">
                                <label>Male</label>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="">min</label>
                                        <input type="number" name="male_mini_range" class="form-control">
                                    </div>
                                    <div class="col-md-1">
                                        <p style="padding-top: 20px; font-size: 30px;">-</p>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="">max</label>
                                        <input type="number" name="male_max_range" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-3">
                                <label>Female</label>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="">min</label>
                                        <input type="number" name="female_mini_range" class="form-control">
                                    </div>
                                    <div class="col-md-1">
                                        <p style="padding-top: 20px; font-size: 30px;">-</p>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="">max</label>
                                        <input type="number" name="female_max_range" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-3">
                                <label> Units</label>
                            </div>
                            <div class="col-md-4">
                                <input type="text" name="units" class="form-control" value="{{sevice_records.unit}}">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-3">
                                <label> methodology</label>
                            </div>
                            <div class="col-md-4">
                                <input type="text" name="methodology" class="form-control" value="{{sevice_test_records.methodology}}">
                            </div>
                        </div>
                        <br>
                        {% endif %}
                        {% if sevice_test_records %}
                        <div class="row">
                            <div class="col-md-3">
                                <label> Test Name</label>
                            </div>
                            <div class="col-md-4">
                                <input type="text" name="test_name" class="form-control" value="{{sevice_test_records.test_name}}">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-3">
                                <label>Infant</label>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="">min</label>
                                        <input type="number" name="infant_mini_range" class="form-control" value="{{infant_min}}">
                                    </div>
                                    <div class="col-md-1">
                                        <p style="padding-top: 20px; font-size: 30px;">-</p>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="">max</label>
                                        <input type="number" name="infant_max_range" class="form-control"  value="{{infant_max}}">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-3">
                                <label>Child</label>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="">min</label>
                                        <input type="number" name="chield_mini_range" class="form-control"  value="{{child_min}}">
                                    </div>
                                    <div class="col-md-1">
                                        <p style="padding-top: 20px; font-size: 30px;">-</p>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="">max</label>
                                        <input type="number" name="chield_max_range" class="form-control" value="{{child_max}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-3">
                                <label>Male</label>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="">min</label>
                                        <input type="number" name="male_mini_range" class="form-control" value="{{male_min}}">
                                    </div>
                                    <div class="col-md-1">
                                        <p style="padding-top: 20px; font-size: 30px;">-</p>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="">max</label>
                                        <input type="number" name="male_max_range" class="form-control" value="{{male_max}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-3">
                                <label>Female</label>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="">min</label>
                                        <input type="number" name="female_mini_range" class="form-control" value="{{female_min}}">
                                    </div>
                                    <div class="col-md-1">
                                        <p style="padding-top: 20px; font-size: 30px;">-</p>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="">max</label>
                                        <input type="number" name="female_max_range" class="form-control" value="{{female_max}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-3">
                                <label> Units</label>
                            </div>
                            <div class="col-md-4">
                                <input type="text" name="units" class="form-control" value="{{sevice_test_records.units}}">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-3">
                                <label> methodology</label>
                            </div>
                            <div class="col-md-4">
                                <input type="text" name="methodology" class="form-control" value="{{sevice_test_records.methodology}}">
                            </div>
                        </div>
                        <br>
                        {% endif %}
                    
                    <button type="submit" class="btn btn-success" style="align-left: 50px;"> <i
                            class="fas fa-save">&nbsp;Save</i></button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}