<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<style type="text/css">
body, p{font-family: arial; font-size: 16px; }
p {margin: 0 0 5px;}
table td,table th{padding: 10px;text-align: left;}
@media print {
	p {margin: 0 0 5px; }
	table td,table th{padding: 10px;text-align: left;}
}
button{
	font-size: larger;
	box-sizing: border-box;
	padding: 10px;
}

</style>


{% block head_block %}
{% load static %}
<!--This for payment receipt print function-->
<div id="hello">
<table style="width: 100%;max-width: 1024px;margin: 0 auto;border-collapse: collapse;" width="100%">
	<tr style="border-bottom:2px solid #eee;">
		<td>
			<table style="width: 100%;max-width: 1024px;margin: 0 auto;border-collapse: collapse;" width="100%">
				<tr>
					<td>
						<div class="" >
							<center><h2><img src="{% static 'assets/images/nephromed_logo.png' %}" alt="logo Image" style="width:500px;height:100px;"></h2></center>
							
						</div>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr >
		<td>
			<table style="width: 100%;max-width: 1024px;margin: 0 auto;border-collapse: collapse;" width="100%">
				<tr>
					<td colspan="4" style="text-align:center;border-bottom: 1px solid #222;"><h3 style="margin: 0;">Invoice</h3></td>
				</tr>
                <tr>
					<th>Patient Name</th>
					<td>:&nbsp;&nbsp;&nbsp;{{PSCounterSale_Parent.patient_name}}</td>
                    <th>Age</th>
					<td>:&nbsp;&nbsp;&nbsp;{{PSCounterSale_Parent.age}}</td>
					
				</tr>

				<tr>
					<th>Reg. No.</th>
					<td>:&nbsp;&nbsp;&nbsp;{{PSCounterSale_Parent.uhid}}</td>
					<th>Payment Mode</th>
					<td>:&nbsp;&nbsp;&nbsp;{{PSCounterSale_Parent.type}}</td>
				</tr>
				<tr>
					<th>Consultant</th>
					<td>:&nbsp;&nbsp;&nbsp;{{PSCounterSale_Parent.consultant_name}}</td>
					<th>OPD No</th>
					<td>:&nbsp;&nbsp;&nbsp;{{PSCounterSale_Parent.opd_no}}</td>
				</tr>
				<tr>
					<th>Mobile</th>
					<td>:&nbsp;&nbsp;&nbsp;{{PSCounterSale_Parent.mobile}}</td>
                    <th>Panel</th>
					<td>:&nbsp;&nbsp;&nbsp;{{PSCounterSale_Parent.panel}}</td>
					
				</tr>
				<tr>
					<th>Gender</th>
					<td>:&nbsp;&nbsp;&nbsp;{{PSCounterSale_Parent.gender}}</td>

				</tr>
			</table>
		</td>
	</tr>
<!-- table -->
	<tr>
		<td>
			<table style="width: 100%;max-width: 1024px;margin: 0 auto; border-collapse: collapse;" width="100%">
				<tr>
					<th style="border-top: 1px solid#333; border-bottom: 1px solid#333; ">S.No</th>
                    <th style="border-top: 1px solid#333; border-bottom: 1px solid#333; ">Op salesno</th>
					<th style="border-top: 1px solid#333; border-bottom: 1px solid#333; ">Batch No</th>
					<th style="border-top: 1px solid#333; border-bottom: 1px solid#333; ">Expiry Date</th>
                    <th style="border-top: 1px solid#333; border-bottom: 1px solid#333; ">MRD</th>
                    <th style="border-top: 1px solid#333; border-bottom: 1px solid#333; ">QTY</th>
					<th style="border-top: 1px solid#333; border-bottom: 1px solid#333; ">Rate</th>
					<!-- <th style="border-top: 1px solid#333; border-bottom: 1px solid#333; ">BeforeDiscountAmount</th> -->
                    <th style="border-top: 1px solid#333; border-bottom: 1px solid#333; ">Discount</th>
					<th style="border-top: 1px solid#333; border-bottom: 1px solid#333; ">Amount</th>
				</tr>
				<tr>
			{% for data in PSCounterSale_child %}
				<tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{data.Op_sales_no}}</td>
                  <td>{{data.batch_no}}</td>
				  <td>{{data.expiry_date}}</td>
                  <td>{{data.mrp}}</td>
                  <td>{{data.qty}}</td>
                  <td>{{data.rate}}</td>
                  <!-- <td>{{data.before_disc_amount}}</td> -->
				  <td>{{data.discount}}</td>
                  <td>{{data.amount}}</td>
              </tr>
				{% endfor %}
				<tr>
                  <td style="border-top: 1px solid#333; border-bottom: 1px solid#333; " colspan="7"></td>
                  <td style="color: black;border-top: 1px solid#333; border-bottom: 1px solid#333; "><b>Total Amount</b></td>
					<td style="border-top: 1px solid#333; border-bottom: 1px solid#333; ">: {{PSCounterSale_Parent.total_taxable_amount}}</td>
              </tr>
				
			</table>
		</td>
	</tr>

</table>
</div><br><br>
<button type="button"  onclick="codespeedy()" style="align-content: center; box-sizing: border-box; margin: auto; display: block;" id="billgenerate" class="btn btn-primary">Print</button>

<script type="text/javascript">
        
    function codespeedy(){
      var print_div = document.getElementById("hello");
var print_area = window.open();

print_area.document.write(print_div.innerHTML);
print_area.document.close();
print_area.focus();
print_area.print();
print_area.close();
// This is the code print a particular div element
    }
  </script>
<script src="jquery-3.6.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
    $(document).on('click', '#billgenerate', function () {
        var dumy = this;
		var values="bill generated"

      var url="{% url 'status_updatePS' %}";
      var headers = {'X-CSRFToken': '{{ csrf_token }}' }

      $.ajax({
              url:url,
              type: "post",
              data: {
				values:values
              },
              headers:headers,
              dataType : 'json',
              success: function(data){
              },
              error:function(data)
              {
                  console.log(data);
              }
            });
    });
    });
</script>

  {% endblock %}
</body>
</html>
