{% extends 'general_master/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_block %}
<style>
.room_def_deco p select,input,textarea{
    width:40%;
}
.room_def_deco p label{
    width:30%;
}
.room_def_deco .btn-info{
    margin-left:auto;
    margin-right:auto;
    display:block;
    box-shadow:2px 2px 5px 5px;
}
</style>
{% endblock  %}
{% block body_block %}

<!-- content -->
<h1>erroes</h1>
{{form.errors}}
<div class="page-wrapper">
<div class="content">
    {% if is_ward_type %}
    <h3>Ward Type</h3>
    <hr>
    {% if add %}
    <form method="POST" class="room_def_deco">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Submit" name="Submit" class="btn btn-success">
    </form>
    {% endif %}
    <hr>
    {% if view %}
    <table width="100%" class="OwnTableForStyleImplementation">
        <thead>
        <th>S.No.</th>
        <th>Ward Type</th>
        <th>Description</th>
        </thead>
        <tbody>
        {% for data in records %}
        <tr>
            <td>{{data.id}}</td>
            <td>{{data.ward_type}}</td>
            <td>{{data.description}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {% endif %}
    {% if is_ward_cate %}
    <h3>Ward Category Screen</h3>
    <hr>
    {% if add %}
    <form method="POST" class="room_def_deco" id="ward_type_form" data-cities-url="{% url 'ajax_ward_cat_master' %}">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Submit" name="Submit" class="btn btn-info">
    </form>
    {% endif %}
    <hr>
    {% if view %}
    <table width="100%" class="OwnTableForStyleImplementation">
        <thead>
        <th>S.No.</th>
        <th>floor_name</th>
        <th>room_number</th>
        <th>ward_type</th>
        <th>Ward Category</th>
        <th>Description</th>
        </thead>
        <tbody>
        {% for data in records %}
        <tr>
            <td>{{data.id}}</td>
            <td>{{data.floor_name}}</td>
            <td>{{data.room_number}}</td>
            <td>{{data.ward_type}}</td>
            <td>{{data.category_name}}</td>
            <td>{{data.description}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {% endif %}

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#id_floor_name").change(function () {
        const url = $("#ward_type_form").attr("data-cities-url");
        const floor_id = $(this).val();

        $.ajax({
            url: url,
            data: {
                'floor_id': floor_id
            },
            success: function (data) {
                $("#id_room_number").html(data);
                let html_data = '<option value="">---------</option>';
                data.forEach(function (floor) {
                console.log(floor)
                    html_data += `<option value="${floor.id}">${floor.room_number}</option>`
                });
                console.log(html_data);
                $("#id_room_number").html(html_data);


            }
        });

    });
    </script>
    <script>
         $("#id_room_number").change(function () {
        const url = $("#ward_type_form").attr("data-cities-url");
        const room_id = $(this).val();
        const floor_id = $("#id_floor_name").val();

        $.ajax({
            url: url,
            data: {
                'floor_id': floor_id,
                'room_id': room_id
            },
            success: function (data) {
                $("#id_ward_type").html(data);
                let html_data = '<option value="">---------</option>';
                data.forEach(function (ward_type) {
                console.log(ward_type)
                    html_data += `<option value="${ward_type.id}">${ward_type.ward_type}</option>`
                });
                console.log(html_data);
                $("#id_ward_type").html(html_data);


            }
        });

    });
    </script>


    {% if is_ward_name %}
    <h3>Ward Name Screen</h3>
    <hr>
    {% if add %}
    <form method="POST" class="room_def_deco">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Submit" name="Submit" class="btn btn-info">
    </form>
    {% endif %}
    <hr>
    {% if view %}
    <table width="100%" class="OwnTableForStyleImplementation">
        <thead>
        <th>S.No.</th>
        <th>Ward Name</th>
        <th>Description</th>
        </thead>
        <tbody>
        {% for data in records %}
        <tr>
            <td>{{data.id}}</td>
            <td>{{data.ward_name}}</td>
            <td>{{data.description}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {% endif %}
    {% if is_wing_master %}
    <h3>Wing Master</h3><hr>
    {% if add %}
    <form method="POST" class="room_def_deco">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Submit" name="Submit" class="btn btn-info">
    </form>
    {% endif %}
    <hr>
    {% if view %}
    <table width="100%" class="OwnTableForStyleImplementation">
        <thead>
        <th>S.No.</th>
        <th>Wing Name</th>
        <th>Description</th>
        </thead>
        <tbody>
        {% for data in records %}
        <tr>
            <td>{{data.id}}</td>
            <td>{{data.wing_name}}</td>
            <td>{{data.description}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {% endif %}
        {% if is_room_master %}
    <h3>Room Master</h3><hr>
    {% if add  %}
    <form method="POST" class="room_def_deco" id="roomMaster" data-cities-url="{% url 'ajax_room_m_urls' %}">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Submit" name="Submit" class="btn btn-info">
    </form>
    {% endif %}
    <hr>
    {% if view %}
    <table width="100%" class="OwnTableForStyleImplementation">
        <thead>
        <th>S.No.</th>
        <th>Wing Name</th>
        <th>Floor Name</th>
        <th>Room Number</th>
        <th>Description</th>
        </thead>
        <tbody>
        {% for data in records %}
        <tr>
            <td>{{data.id}}</td>
            <td>{{data.wing_name}}</td>
            <td>{{data.floor_name}}</td>
            <td>{{data.room_number}}</td>
            <td>{{data.description}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
   $("#id_wing_name").change(function () {
       const url = $("#roomMaster").attr("data-cities-url");  // get the url of the `load_cities` view
       const wingId = $(this).val();  // get the selected country ID from the HTML input
<!--       Country Id ==> countryId-->

       $.ajax({                       // initialize an AJAX request
           url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
           data: {
               'wing_id': wingId       // add the country id to the GET parameters
           },
           success: function (data) {   // `data` is the return of the `load_cities` view function

               $("#id_floor_name").html(data);  // replace the contents of the city input with the data that came from the server


               let html_data = '<option value="">---------</option>';
               data.forEach(function (wings) {
               console.log(wings)
                   html_data += `<option value="${wings.id}">${wings.floor_name}</option>`
               });
               console.log(html_data);
               $("#id_floor_name").html(html_data);


           }
       });

   });
</script>


    {% endif %}
        {% if is_bed_master %}
    <h3>Bed Master</h3><hr>
    {% if add %}
    <form method="POST" class="room_def_deco" id="bedMaster" data-cities-url="{% url 'ajax_bed_master' %}">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Next" name="Submit" class="btn btn-info">
    </form>
    {% endif %}
    <hr>
    {% if view %}
    <table width="100%" class="OwnTableForStyleImplementation">
        <thead>
        <th>S.No.</th>
        <th>Wing Name</th>
        <th>Floor Name</th>
        <th>Room Number</th>
        <th>Bed Number</th>
        <th>Ward Type</th>
        <th>Ward Category</th>
        <th>Bed Location</th>
        <th>Status</th>
        <th>Description</th>
        </thead>
        <tbody>
        {% for data in records %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{data.wing_name}}</td>
            <td>{{data.floor_name}}</td>
            <td>{{data.room_number}}</td>
            <td>{{data.bed_no}}</td>
            <td>{{data.ward_type}}</td>
            <td>{{data.ward_category}}</td>
            <td>{{data.bed_location}}</td>
            <td>{{data.status}}</td>
            <td>{{data.description}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
   $("#id_wing_name").change(function () {
       const url = $("#bedMaster").attr("data-cities-url");  // get the url of the `load_cities` view
       const wings_id = $(this).val();  // get the selected country ID from the HTML input
       const floor_id = $(this).val();  // get the selected country ID from the HTML input
<!--       Country Id ==> countryId-->

       $.ajax({                       // initialize an AJAX request
           url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
           data: {
               'wing_id': wings_id,'floor_id': floor_id,    // add the country id to the GET parameters
           },
           success: function (data) {   // `data` is the return of the `load_cities` view function

               $("#id_floor_name").html(data);  // replace the contents of the city input with the data that came from the server
               $("#id_room_number").html(data);
               let html_data = '<option value="">---------</option>';
               data.forEach(function (wings) {
               console.log(wings)
                   html_data += `<option value="${wings.id}">${wings.floor_name}</option>`
               });

               $("#id_floor_name").html(html_data);


           }
       });

   });
</script>

    {% endif %}
            {% if is_bed_master_next %}
    <h3>Bed Master</h3><hr>
    <form method="POST" class="room_def_deco" id="bed_next" data-cities-url="{% url 'load_bed_master_next' %}">
        {% csrf_token %}
        <p>
            <label for="id_room_number">Room number:</label>
            <select name="room_number" required id="id_room_number">
              <option value="" selected>---------</option>
              {% for data in room_no_records %}
                <option value="{{data.id}}">{{data.room_number}}</option>
              {% endfor %}
            </select>
        </p>
        {{form.as_p}}
        <div style="display:flex;justify-content:center;">
            <a href="{% url 'bm' %}" class="btn btn-primary">Back</a>&nbsp;&nbsp;
            <button type="submit" class="btn btn-primary" name="submit" value="Submit">Submit</button>
        </div>
    </form>
    <hr>
    {% if view %}
    <table width="100%" class="OwnTableForStyleImplementation">
        <thead>
        <th>S.No.</th>
        <th>Wing Name</th>
        <th>Floor Name</th>
        <th>Room Number</th>
        <th>Bed Number</th>
        <th>Ward Type</th>
        <th>Ward Category</th>
        <th>Bed Location</th>
        <th>Description</th>
        </thead>
        <tbody>
        {% for data in records %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{data.wing_name}}</td>
            <td>{{data.floor_name}}</td>
            <td>{{data.room_number}}</td>
            <td>{{data.bed_no}}</td>
            <td>{{data.ward_type}}</td>
            <td>{{data.ward_category}}</td>
            <td>{{data.bed_location}}</td>
            <td>{{data.description}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#id_room_number").change(function () {
        const room_id = $(this).val();
        const url = $("#bed_next").attr("data-cities-url");

        $.ajax({
            url: url,
            data: {
                'room_id': room_id
            },
            success: function (data) {
                $("#id_ward_type").html(data);
                let html_data = '<option value="">---------</option>';
                data.forEach(function (ward_type) {
                console.log(ward_type)
                    html_data += `<option value="${ward_type.id}">${ward_type.ward_type}</option>`
                });
                console.log(html_data);
                $("#id_ward_type").html(html_data);


            }
        });

    });
    </script>
<script>
    $("#id_ward_type").change(function () {
        const ward_id = $(this).val();
        const room_id = $("#id_room_number").val();
        const url = $("#bed_next").attr("data-cities-url");

        $.ajax({
            url: url,
            data: {
                'ward_id':ward_id,
                'room_id': room_id
            },
            success: function (data) {
                $("#id_ward_category").html(data);
                let html_data = '<option value="">---------</option>';
                data.forEach(function (ward_cat) {
                console.log(ward_cat)
                    html_data += `<option value="${ward_cat.id}">${ward_cat.category_name}</option>`
                });
                console.log(html_data);
                $("#id_ward_category").html(html_data);


            }
        });

    });
    </script>
    {% endif %}
    {% if is_bed_location %}
    <h3>Bed Location Screen</h3><hr>
    {% if add %}
    <form method="POST" class="room_def_deco">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Submit" name="Submit" class="btn btn-info">
    </form>
    {% endif %}
    <hr>
    {% if view %}
    <table width="100%" class="OwnTableForStyleImplementation">
        <thead>
        <th>S.No.</th>
        <th>Location Name</th>
        <th>Description</th>
        </thead>
        <tbody>
        {% for data in records %}
        <tr>
            <td>{{data.id}}</td>
            <td>{{data.location_name}}</td>
            <td>{{data.description}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {% endif %}
    {% if is_nsc %}
    <h3>Nursing Station Counter Screen</h3><hr>
    {% if add %}
    <form method="POST" class="room_def_deco">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Submit" name="Submit" class="btn btn-info">
    </form>
    {% endif %}
    <hr>
    {% if view %}
    <table width="100%" class="OwnTableForStyleImplementation">
        <thead>
        <th>S.No.</th>
        <th>Counter Name</th>
        <th>Inactive</th>
        <th>Description</th>
        </thead>
        <tbody>
        {% for data in records %}
        <tr>
            <td>{{data.id}}</td>
            <td>{{data.counter_name}}</td>
            <td>{{data.inactive}}</td>
            <td>{{data.description}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {% endif %}
    {% if is_floor_master %}
    <h3>Floor Master Screen</h3><hr>
    {% if add %}
    <form method="POST" class="room_def_deco">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Submit" name="Submit" class="btn btn-info">
    </form>
    {% endif%}
    <hr>
    {% if view %}
    <table width="100%" class="OwnTableForStyleImplementation">
        <thead>
        <th>S.No.</th>
        <th>Wing Name</th>
        <th>Floor Name</th>
        <th>Description</th>
        </thead>
        <tbody>
        {% for data in records %}
        <tr>
            <td>{{data.id}}</td>
            <td>{{data.wing_name}}</td>
            <td>{{data.floor_name}}</td>
            <td>{{data.description}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {% endif %}
    {% if is_department %}
    <h3>Department Screen</h3><hr>
    <form method="POST" class="room_def_deco">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Submit" name="Submit" class="btn btn-info">
    </form>
    <hr>
    <table width="100%" class="OwnTableForStyleImplementation">
        <thead>
        <th>S.No.</th>
        <th>Department Name</th>
        <th>Description</th>
        </thead>
        <tbody>
        {% for data in records %}
        <tr>
            <td>{{data.id}}</td>
            <td>{{data.department_name}}</td>
            <td>{{data.description}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {% if is_room_defination %}
    <h3>Room Defination Screen</h3>
    <hr>
    {% if add %}
    <form method="POST" class="room_def_deco">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Submit" name="Submit" class="btn btn-info">
    </form>
    {% endif %}
    <hr>
    {% if view %}
    <table width="100%" class="OwnTableForStyleImplementation">
        <thead>
        <th>S.No.</th>
        <th>Ward Type</th>
        <th>Ward name</th>
        <th>Ward Category</th>
        <th>Wing Name</th>
        <th>Floor</th>
        <th>Department</th>
        <th>Nursing S Counter</th>
        <th>Room No.</th>
        <th>Gender</th>
        <th>Bed Charge Not Applicable</th>
        <th>Inactivate</th>
        </thead>
        <tbody>
        {% for data in records %}
        <tr>
            <td>{{data.id}}</td>
            <td>{{data.ward_type}}</td>
            <td>{{data.ward_name}}</td>
            <td>{{data.ward_cate}}</td>
            <td>{{data.wing}}</td>
            <td>{{data.floor}}</td>
            <td>{{data.department}}</td>
            <td>{{data.nursing_counter}}</td>
            <td>{{data.room_no}}</td>
            <td>{{data.Gender}}</td>
            <td>{{data.bed_charge_not_applicable}}</td>
            <td>{{data.inactive}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {% endif %}

</div>
</div>
{% endblock  %}
