{% extends 'admin/base.html' %}
{% load static %}
{% block body_block %}
<!--Main Content-->
<div class="page-wrapper">
  <div class="content">
        <div class="main_content"  style="background-image: linear-gradient(white,#9AD0EC);">
            <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Doctor</h4>
            <a href="/doctor-view">
                <button type="button" class="btn btn-info" style="float: right;">Create Doctor</button>
            </a><br><br>
            <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-8 col-xs-8">
                <div class="card">
                    <div class="header">

            <div class="body">
                <div class="table-responsive"><br>
                <form  method="POST">
                  {% csrf_token %}

                    {{form}}
                <br><br>
                  <input type="submit" name="" value="Submit" class="btn btn-danger">
                  <a href="/doctor_table" class="btn btn-info">Cancel</a>
                </form>

                </div>
            </div>
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}
