<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Pharmacy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <!-- Favicons -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/favicon.ico' %}">

    <!-- Font Family -->
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700" rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}" >
    <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}" >

    <!-- Calendar CSS -->
    <link rel="stylesheet" href="{% static 'assets/plugins/fullcalendar/fullcalendar.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/calendar.css' %}">

    <!-- Datatable-->
    <link rel="stylesheet" href="{% static 'assets/css/dataTables.bootstrap4.min.css' %}">

    <!-- Select 2-->
    <link rel="stylesheet" href="{% static 'assets/css/select2.min.css' %}">

    <!-- Datetime Picker-->
    <link rel="stylesheet" href="{% static 'assets/plugins/datetimepicker/css/tempusdominus-bootstrap-4.min.css' %}">

    <!--custom styles-->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    {% block head_block %}
    {% endblock  %}
</head>
<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">

       <!-- Header -->
        <div class="header-menu">
            <div class="header-left">
                <a href="" class="logo">
                  <img src="{% static 'assets/images/hospital.png' %}" width="35" height="35" alt="">
                    <span><b style="color:rgba(255, 0, 0, 0.97)">Nephro</b><b style="color:rgb(14, 255, 14)">Med</b></span>
                </a>
            </div>

            <!-- Mobile Menu Toggle -->
            <div class="menubar">
                <a id="toggle_btn" href="javascript:void(0);"><i class="fas fa-bars"></i></a>
            </div>
            <!-- /Mobile Menu Toggle -->

            <!-- Search-->
            <div class="searchbar">
                <form class="form-inline my-1 w-25 float-left">
                    <input class="form-control mr-sm-2 search-input search_icon" type="search" placeholder="Search..." >
                </form>
            </div>
            <!--/ Search-->

            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>

            <!-- Header Right Menu -->
            <ul class="nav user-menu float-right">
              <li class="nav-item dropdown d-none d-sm-block">
                  <a href="/dashboard" class="hasnotifications nav-link"><i class="fa fa-home back-icon"></i> </a>
              </li>
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span>{% if request.user.first_name %}
                            {{request.user.first_name}}
                            {% else %}
                            {{request.user}}
                            {% endif %}</span>&nbsp;
                        <span class="user-img">
							<img class="rounded-circle" src="{% static 'assets/images/user.jpg' %}" width="24" alt="Admin">
							<span class="status online"></span>
						</span>
                    </a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="/login">Logout</a>
					</div>
                </li>
            </ul>
            <!--/ Header Right Menu -->

            <!-- User Menu -->
            <div class="dropdown mobile-user-menu float-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/login">Logout</a>
                </div>
            </div>
            <!--/ User Menu -->
        </div>
        <!-- /Header -->
        <!--sidebar-->
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li>
                            <a href="/dashboard"><i class="fa fa-home back-icon"></i> <span>Back to Home</span></a>
                         </li>
                         <li class="submenu">
                            {% if 'procurement' in access.user_profile.screen_access or request.user.is_superuser %}
                            <a href="#" id="pro"><i class="fas fa-notes-medical" ></i> <span>Procurement</span> <span class="menu-arrow" ></span></a>
                            <ul style="display: none;">
                                {% if 'purchase_order' in access.user_profile.screen_access or request.user.is_superuser %}
                                <li><a href="/purchase_order"><i class="fas fa-user-md"></i><span>Purchase Order</span></a></li>
                                {% endif %}
                                {% if 'po_approval' in access.user_profile.screen_access or request.user.is_superuser %}
                                <li><a href="/purchase_order_approval"><i class="fas fa-user-md"></i><span>PO Approval</span></a></li>
                                {% endif %}
                                {% if 'stock_entry' in access.user_profile.screen_access or request.user.is_superuser %}
                                <li><a href="/stock_entry"><i class="fas fa-user-md"></i> <span>Stock Entry</span></a></li>
                                {% endif %}
                                {% if 'vendor_payment' in access.user_profile.screen_access or request.user.is_superuser %}
                                <li><a href="/vendor_payment"><i class="fas fa-user-md"></i><span>Vendor Payment</span></a></li>
                                {% endif %}
                                {% if 'item_issue_to_mainstore' in access.user_profile.screen_access or request.user.is_superuser %}
                                <li><a href="/item_issue_to_mainstore"><i class="fas fa-user-md"></i><span>Item Issue to MainStore</span></a></li>
                                {% endif %}
                                {% if 'transfer_request_to_mainstore' in access.user_profile.screen_access or request.user.is_superuser %}
                                <li><a href="/transfer_request_tomainstore"><i class="fas fa-user-md"></i><span>Transfer Request to MainStore</span></a></li>
                                {% endif %}
                                {% if 'material_indent' in access.user_profile.screen_access or request.user.is_superuser %}
                                <li><a href="/material_indent"><i class="fas fa-user-md"></i><span>Material Intent</span></a></li>
                                {% endif %}
                                {% if 'material_indent_approval' in access.user_profile.screen_access or request.user.is_superuser %}
                                <li><a href="/material_indent_approval"><i class="fas fa-user-md"></i><span>Material Intent Approval</span></a></li>
                                {% endif %}
                                {% if 'indent_inbox' in access.user_profile.screen_access or request.user.is_superuser %}
                                <li><a href="/indent_inbox"><i class="fas fa-user-md"></i> <span>Indent Inbox</span></a></li>
                                {% endif %}
                                {% if 'item_issuse' in access.user_profile.screen_access or request.user.is_superuser %}
                                <li><a href="/item_issue"><i class="fas fa-user-md"></i><span>Item Issue to SubStore</span></a></li>
                                {% endif %}
                                {% if 'return_to_mainstore' in access.user_profile.screen_access or request.user.is_superuser %}
                                <li><a href="/item_return"><i class="fas fa-user-md"></i><span>Item Return</span></a></li>
                                {% endif %}
                                {% if 'item_return_to_CPC' in access.user_profile.screen_access or request.user.is_superuser %}
                                <li><a href="/item_return_to_cpc"><i class="fas fa-user-md"></i><span>Item Return to CPC</span></a></li>
                                {% endif %}
                                {% if 'item_return_to_supplier' in access.user_profile.screen_access or request.user.is_superuser %}
                                <li><a href="/item_return_supplier"><i class="fas fa-user-md"></i><span>Item Return to Supplier</span></a></li>
                                {% endif %}
                                {% if 'purchase_indent' in access.user_profile.screen_access or request.user.is_superuser %}
                                <li><a href="/purchase_intent"><i class="fas fa-user-md"></i><span>Purcharse Intent</span></a></li>
                                {% endif %}
                                {% if 'purchase_indent_approval' in access.user_profile.screen_access or request.user.is_superuser %}
                                <li><a href="/purchase_intent_approval"><i class="fas fa-user-md"></i> <span>Purcharse Intent Approval</span></a></li>
                                {% endif %}
                                {% if 'make_po_for_pi' in access.user_profile.screen_access or request.user.is_superuser %}
                                <li><a href="/make_PO_for_PI"><i class="fas fa-user-md"></i><span>Make PO for PI</span></a></li>
                                {% endif %}
                                {% if 'manual_stock_ajustment' in access.user_profile.screen_access or request.user.is_superuser %}
                                <li><a href="/Manual_stock_adjustment"><i class="fas fa-user-md"></i> <span>Manual Stock Adjustment</span></a></li>
                                {% endif %}
                                {% if 'department_consumption' in access.user_profile.screen_access or request.user.is_superuser %}
                                <li><a href="/department_consump_search"><i class="fas fa-user-md"></i> <span>Department Consumption</span></a></li>
                                {% endif %}
                                {% if 'transfer_indent' in access.user_profile.screen_access or request.user.is_superuser %}
                                <li><a href="/transfer_indent"><i class="fas fa-user-md"></i> <span>Transfer Indent</span></a></li>
                                {% endif %}



                            </ul>
                            {% endif %}
                         </li>
                         <li class="submenu">
                            {% if 'pharamacy_sales' in access.user_profile.screen_access or request.user.is_superuser %}
                            <a href="#" id='sales'><i class="fas fa-notes-medical"></i> <span>Pharmacy Sale</span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                {% if 'add_counter_sales' in access.user_profile.screen_access or request.user.is_superuser %}
                                <li><a href="/add_counter_saleout_patient"><i class="fas fa-user-md"></i><span>Add Counter Sale-out Patient</span></a></li>
                                {% endif %}
                                {% if 'sales_return' in access.user_profile.screen_access or request.user.is_superuser %}
                                <li><a href="/sales_return_from_OP"><i class="fas fa-user-md"></i><span>Add Sale Return Out-Patient</span></a></li>
                                {% endif %}
                            </ul>
                            {% endif %}
                         </li>
                         <li class="submenu">
                            <a href="#" id='reports'><i class="fas fa-notes-medical"></i> <span>Report</span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <!--<li><a href="/item_status_report"><i class="fas fa-user-md"></i><span>Item Status Report</span></a></li>-->
                                {% if 'item_status_with_particulars_report' in access.user_profile.screen_access or request.user.is_superuser %}
                                <li><a href="/item_status_with_particular"><i class="fas fa-user-md"></i><span>Item Status with Particulars Report</span></a></li>
                                {% endif %}
                                {% if 'po_report' in access.user_profile.screen_access or request.user.is_superuser %}
                                <li><a href="/PO_report"><i class="fas fa-user-md"></i><span>PO Report</span></a></li>
                                {% endif %}
                                {% if 'batch_wise_report' in access.user_profile.screen_access or request.user.is_superuser %}
                                <li><a href="/batchwise_report"><i class="fas fa-user-md"></i><span>Batchwise Report</span></a></li>
                                {% endif %}
                                {% if 'po_supplier_wise_report' in access.user_profile.screen_access or request.user.is_superuser %}
                                <li><a href="/po_supplier_wise_search"><i class="fas fa-user-md"></i><span>PO Supplier Wise Report</span></a></li>
                                {% endif %}
                                {% if 'po_aging_report' in access.user_profile.screen_access or request.user.is_superuser %}
                                <li><a href="/po_aging_report"><i class="fas fa-user-md"></i><span>PO Aging Report</span></a></li>
                                {% endif %}
                                {% if 'po_status_report' in access.user_profile.screen_access or request.user.is_superuser %}
                                <li><a href="/po_status_report"><i class="fas fa-user-md"></i><span>PO Status Report</span></a></li>
                                {% endif %}
                                {% if 'grn_report' in access.user_profile.screen_access or request.user.is_superuser %}
                                <li><a href="/grn_report"><i class="fas fa-user-md"></i><span>GRN Report</span></a></li>
                                {% endif %}
                                {% if 'item_issuse_report' in access.user_profile.screen_access or request.user.is_superuser %}
                                <li><a href="/item_issue_report"><i class="fas fa-user-md"></i><span>Item Issue Report</span></a></li>
                                {% endif %}
                                {% if 'item_return_report' in access.user_profile.screen_access or request.user.is_superuser %}
                                <li><a href="/item_return_report"><i class="fas fa-user-md"></i><span>Item Return Report</span></a></li>
                                {% endif %}
                                {% if 'op_sales_report' in access.user_profile.screen_access or request.user.is_superuser %}
                                <li><a href="/op_sale_report"><i class="fas fa-user-md"></i><span>OP Sale Report</span></a></li>
                                {% endif %}
                                {% if 'op_sales_return_report' in access.user_profile.screen_access or request.user.is_superuser %}
                                <li><a href="/op_sale_return_report"><i class="fas fa-user-md"></i><span>OP Sale Return Report</span></a></li>
                                {% endif %}
                                {% if 'vendor_paymet_report' in access.user_profile.screen_access or request.user.is_superuser %}
                                <li><a href="/vendor_payment_report"><i class="fas fa-user-md"></i><span>Vendor Payment Report</span></a></li>
                                {% endif %}
                                {% if 'expiry_item_list_report' in access.user_profile.screen_access or request.user.is_superuser %}
                                <li><a href="/expiry_item_list_report"><i class="fas fa-user-md"></i><span>Expiry Item List Report</span></a></li>
                                {% endif %}
                                {% if 'department_consumption_report' in access.user_profile.screen_access or request.user.is_superuser %}
                                <li><a href="/department_consumption_report"><i class="fas fa-user-md"></i><span>Department Consumption Report</span></a></li>
                                {% endif %}
                                {% if 'stock_adjustement_report' in access.user_profile.screen_access or request.user.is_superuser %}
                                <li><a href="/stock_adjustement_report"><i class="fas fa-user-md"></i><span>Stock Adjustment Report</span></a></li>
                                {% endif %}
                                {% if 'stock_movement_report' in access.user_profile.screen_access or request.user.is_superuser %}
                                <li><a href="/stock_movement_report"><i class="fas fa-user-md"></i><span>Stock Movement Report</span></a></li>
                                {% endif %}
                                {% if 'item_wise_purchase_report' in access.user_profile.screen_access or request.user.is_superuser %}
                                <li><a href="/itemwise_purchase_report"><i class="fas fa-user-md"></i><span>Item Wise Purchase Report</span></a></li>
                                {% endif %}
                                {% if 'detailed_item_status_report' in access.user_profile.screen_access or request.user.is_superuser %}
                                <li><a href="/detail_item_status_report"><i class="fas fa-user-md"></i><span>Detailed Item Status Report</span></a></li>
                                {% endif %}
                                {% if 'pharmacysale_summary_report' in access.user_profile.screen_access or request.user.is_superuser %}
                                <li><a href="/pharmacysale_summary_report"><i class="fas fa-user-md"></i><span>Pharmacy Sale Summary Report</span></a></li>
                                {% endif %}
                                {% if 'pharmacysale_detail_report' in access.user_profile.screen_access or request.user.is_superuser %}
                                <li><a href="/pharmacysale_detail_report"><i class="fas fa-user-md"></i><span>Pharmacy Sale Detail Report</span></a></li>
                                {% endif %}
                                {% if 'stock_transfer_report' in access.user_profile.screen_access or request.user.is_superuser %}
                                <li><a href="/stock_transfer_report"><i class="fas fa-user-md"></i><span>Stock Transfer Report</span></a></li>
                                {% endif %}


                            </ul>
                         </li>
                    </ul><br><br><br><br>
                </div>
            </div>
        </div>
        <!--/sidebar-->
        {% block body_block %}

        {% endblock %}
</div>
<!--/ content -->
</div>
</div>
</div>
</div>
<!--scripts-->
<!-- jQuery -->
<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>

<!-- Bootstrap Core JS -->
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

<!-- Slimscroll JS -->
<script src="{% static 'assets/js/jquery.slimscroll.js' %}"></script>

<!-- Select2 JS -->
<script src="{% static 'assets/js/select2.min.js' %}"></script>
<script src="{% static 'assets/js/moment.min.js' %}"></script>

<!-- Datetime picker JS -->
<script src="{% static 'assets/plugins/datetimepicker/js/tempusdominus-bootstrap-4.min.js' %}"></script>

<!-- Calender JS -->
<script src="{% static 'assets/js/calendar.min.js' %}"></script>

<!-- Apex chart JS -->
<script src="{% static 'assets/js/apex.js' %}"></script>

 <!-- Data table JS -->
 <script src="{% static 'assets/js/jquery.dataTables.min.js' %}"></script>
 <script src="{% static 'assets/js/dataTables.bootstrap4.min.js' %}"></script>

<!-- Custom JS -->
<script src="{% static 'assets/js/app.js' %}"></script>
{% block script_block %}
{% endblock %}
</body>
</html>