{% extends 'pharmacy/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_block %}

<style>
    #id_from_date,#id_to_date,#id_store{
      border: 2px solid rgb(233, 233, 233);
      width: 100%;
      background-color: rgb(233, 233, 233);
      border-bottom: 1px solid black;
    }

    </style>
{% endblock  %}
{% block body_block %}
<!-- content -->
<div class="page-wrapper">
<div class="content">
  <nav class="navbar navbar-light bg-blue" style="background-color: rgb(64, 64, 207);">
   <div class="container-fluid">
       <a class="navbar-brand" style="color: white;" href="#">PO Approval</a>
   </div>
 </nav><br>
<div class="container-fluid">
   <div class="row clearfix">
       <div class="col-lg-12 col-md-12 col-sm-8 col-xs-8">
           <div class="card p-3">
               <div class="header">
       <div class="body">
               <div class="col-lg-12 col-md-12 col-sm-4 col-xs-4" style="background-color:rgb(233, 233, 233);"><br>
                   <form method="post" action="">
                    {% csrf_token %}
                     <div class="form-row pb-3">
                      <div class="form-group col-md-3 mb-0">
                        <label>From Date</label>
                        <input type="date" name="from_date" id="from_date" class="form-control">
                        </div>
                        <div class="form-group col-md-3 mb-0">    
                        <label>To Date</label>  
                        <input type="date" name="to_date" id="to_date" class="form-control">                
                        </div>
                        <div class="form-group col-md-3 mb-0">   
                            <label>Vendor</label>
                            <select name="vendor_id" id="vendor_id" class="form-control">
                                <option>select</option>
                                {% for data in vendor %}
                                <option value="{{data.id}}">{{data.vendor_name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class=" col-md-3"><br>
                       <button type="submit" class="btn btn-warning w-100 mt-2" ><i class="fa fa-search pr-2" ></i>Search</button>
                     </div>      
                 </div>
                 
                   </form>

</div><br>
<!-- Tab -->
<div class="nursing-assessment-tabs p-2 bg-white">
    <div role="tabpanel">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs nav-justified nav-tabs-dropdown " role="tablist">
        {% if 'approval_po' in access.user_profile.screen_access or request.user.is_superuser %}
        <li role="presentation" class="w-50">
          <a href="#profile" aria-controls="home" class=" btn-primary" role="tab"
            data-toggle="tab">APPROVED PI ({{count_approved}})</a>
        </li>
        {% endif %}
        {% if 'pending_po' in access.user_profile.screen_access or request.user.is_superuser %}
        <li role="presentation" class="w-50"><a class="btn-primary active" href="#home"
          aria-controls="profile" role="tab" data-toggle="tab"> PENDING PO ({{count_pending}})</a></li>{% endif %}
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">

        <div role="tabpanel" class="tab-pane" id="profile">
          <div class="row inner-tabs no-gutters ">
            
            <h4>APPROVED PO</h4>
            <div class="table-responsive">
    <table class="datatable table table-stripped ">


                   <thead>
                       <tr><th>S.No</th>
                           <th>PO No</th>
                           <th>Date Time</th>
                           <th>Vendor Name</th>
                           <th>Location Name</th>
                           <th>Net Amount</th>
                           <th>Basic Amount</th>
                           <th>View</th>
                       </tr>
                   </thead>
                   <tbody>
                     {% for data1,data2 in approved %}
                       <tr>
                           <td type="hidden">{{forloop.counter}}</td>
                           
                           <td>{{data1.PO_id}}</td>
                           <td>{{data1.PO_datetime}}</td>
                           <td>{{data2}}</td>
                           <td>{{data1.Location}}</td>
                           <td>{{data1.net_amount}}</td>
                           <td>{{data1.basic_amt}}</td>
                           <td><a class="btn btn-primary" href="/PO_approveview/{{data1.PO_id}}"><i class="fa fa-hand-pointer" name="approve_view" value="approve_view" aria-hidden="true"></i></a></td>                          
                           
                       </tr>
                       {% endfor %}
                    </tbody>
           </table>
           </div>
      
          </div>
        </div>

        <div role="tabpanel" class="tab-pane active" id="home">
          <div class="row no-gutters">
            <h4>PENDING PO </h4>
            <div class="table-responsive">
    <table class="datatable table table-stripped ">

<thead>
                       <tr><th>S.No</th>
                           <th>PO No</th>
                           <th>Date Time</th>
                           <th>Vendor Name</th>
                           <th>Location Name</th>
                           <th>Net Amount</th>
                           <th>Basic Amount</th>
                           <th>View</th>
                       </tr>
                   </thead>
                   <tbody>
                     {% for data1,data2 in pending1 %}
                       <tr>
                           <td>{{forloop.counter}}</td>
                           <td>{{data1.PO_id}}</td>
                           <td>{{data1.PO_datetime}}</td>
                           <td>{{data2}}</td>
                           <td>{{data1.Location}}</td>
                           <td>{{data1.net_amount}}</td>
                           <td>{{data1.basic_amt}}</td>
                           <td><a class="btn btn-primary" href="/PO_pending_update/{{data1.PO_id}}"><i class="fa fa-hand-pointer" aria-hidden="true"></i></a></td>                          
                       </tr>
                       {% endfor %}
                    </tbody>
           </table>
           </div>
      
          </div>
        </div>
      </div>
<!-- Tab Ends -->
        
  </div>
</div>
{% endblock %}
