{% extends 'clinical/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head_block %}
<script src="{% static 'js/country-states.js' %}"></script>
{% endblock  %}
{% block body_block %}
 <!-- content -->
 <div class="page-wrapper">
    <div class="content">
       <nav class="navbar navbar-light bg-blue" style="background-color: rgb(64, 64, 207);">
          <div class="container-fluid">
              <a class="navbar-brand" style="color: white;">Choose UHID For Advance Visit</a>
          </div>
       </nav><br><br>
        <table class="table border">
          <tr style="background:#d1dae6;">
            <th>UHID</th>
            <th>Patient Name</th>
            <th>Age/Gender</th>
            <th>Date Of Birth</th>
          </tr>
          {% for data in records %}
           <tr>
             <td><a href="/get_list_patient_edit/{{data.uhid}}">{{data.uhid}}</a></td>
             <td>{{data.title}}.{{data.first_name}}&nbsp;{{data.middle_name}}&nbsp;{{data.last_name}}</td>
             <td>{{data.gender}}</td>
             <td>{{data.dob}}</td>
           </tr>
            {% endfor %}
        </table>
    </div>
 </div>

    {% endblock  %}
