<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Clinical Management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <!-- Favicons -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/favicon.ico' %}">

    <!-- Font Family -->
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700" rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}" >
    <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}" >

    <!-- Calendar CSS -->
    <link rel="stylesheet" href="{% static 'assets/plugins/fullcalendar/fullcalendar.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/calendar.css' %}">

    <!-- Datatable-->
    <link rel="stylesheet" href="{% static 'assets/css/dataTables.bootstrap4.min.css' %}">

    <!-- Select 2-->
    <link rel="stylesheet" href="{% static 'assets/css/select2.min.css' %}">

    <!-- Datetime Picker-->
    <link rel="stylesheet" href="{% static 'assets/plugins/datetimepicker/css/tempusdominus-bootstrap-4.min.css' %}">

    <!--custom styles-->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    {% block head_block %}
    {% endblock  %}
</head>
<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">

       <!-- Header -->
        <div class="header-menu">
            <div class="header-left">
                <a href="" class="logo">
                    <img src="{% static 'assets/images/Logo_Hospital.png' %}" width="35" height="35" alt="">
                    <span>PreAdmin</span>
                </a>
            </div>

            <!-- Mobile Menu Toggle -->
            <div class="menubar">
                <a id="toggle_btn" href="javascript:void(0);"><i class="fas fa-bars"></i></a>
            </div>
            <!-- /Mobile Menu Toggle -->

            <!-- Search-->
            <div class="searchbar">
                <form class="form-inline my-1 w-25 float-left">
                    <input class="form-control mr-sm-2 search-input search_icon" type="search" placeholder="Search..." >
                </form>
            </div>
            <!--/ Search-->

            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>

            <!-- Header Right Menu -->
            <ul class="nav user-menu float-right">
              <li class="nav-item dropdown d-none d-sm-block">
                  <a href="/dashboard" class="hasnotifications nav-link"><i class="fa fa-home back-icon"></i> </a>
              </li>
                <li class="nav-item dropdown d-none d-sm-block">
                    <a href="javascript:void(0);" id="open_msg_box" class="hasnotifications nav-link"><i class="far fa-paper-plane"></i> <span class="badge badge-pill bg-danger float-right">8</span></a>
                </li>

                <!-- /Notifications -->
                <li class="nav-item dropdown d-none d-sm-block">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"><i class="far fa-bell"></i> <span class="badge badge-pill bg-danger float-right">3</span></a>
                    <div class="dropdown-menu notifications">
                        <div class="topnav-dropdown-header">
                            <span>Notifications</span>
                        </div>
                        <div class="drop-scroll">
                            <ul class="notification-list">
                                <li class="notification-message">
                                    <a href="./activities">
                                        <div class="media">
											<span class="avatar">
												<img alt="John Doe" src="{% static 'assets/images/user.jpg' %}" class="img-fluid">
											</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">John Doe</span> added new task <span class="noti-title">Patient appointment booking</span></p>
												<p class="noti-time"><span class="notification-time">4 mins ago</span></p>
											</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities">
                                        <div class="media">
											<span class="avatar">V</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">Tarah Shropshire</span> changed the task name <span class="noti-title">Appointment booking with payment gateway</span></p>
												<p class="noti-time"><span class="notification-time">6 mins ago</span></p>
											</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities">
                                        <div class="media">
											<span class="avatar">L</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">Misty Tison</span> added <span class="noti-title">Domenic Houston</span> and <span class="noti-title">Claire Mapes</span> to project <span class="noti-title">Doctor available module</span></p>
												<p class="noti-time"><span class="notification-time">8 mins ago</span></p>
											</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities">
                                        <div class="media">
											<span class="avatar">G</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">Rolland Webber</span> completed task <span class="noti-title">Patient and Doctor video conferencing</span></p>
												<p class="noti-time"><span class="notification-time">12 mins ago</span></p>
											</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities">
                                        <div class="media">
											<span class="avatar">V</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">Bernardo Galaviz</span> added new task <span class="noti-title">Private chat module</span></p>
												<p class="noti-time"><span class="notification-time">2 days ago</span></p>
											</div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="topnav-dropdown-footer">
                            <a href="activities">View all Notifications</a>
                        </div>
                    </div>
                </li>
                <!-- /Notifications -->

                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span>Jones Ferdinand</span>&nbsp;
                        <span class="user-img">
							<img class="rounded-circle" src="{% static 'assets/images/user.jpg' %}" width="24" alt="Admin">
							<span class="status online"></span>
						</span>
                    </a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="profile">My Profile</a>
						<a class="dropdown-item" href="edit-profile">Edit Profile</a>
						<a class="dropdown-item" href="settings">Settings</a>
						<a class="dropdown-item" href="login">Logout</a>
					</div>
                </li>
            </ul>
            <!--/ Header Right Menu -->

            <!-- User Menu -->
            <div class="dropdown mobile-user-menu float-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="profile">My Profile</a>
                    <a class="dropdown-item" href="edit-profile">Edit Profile</a>
                    <a class="dropdown-item" href="settings">Settings</a>
                    <a class="dropdown-item" href="login">Logout</a>
                </div>
            </div>
            <!--/ User Menu -->
        </div>
        <!-- /Header -->

        <!--sidebar-->
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>
                        <li class="">
                            <a href="/dashboard"><i class="fas fa-tachometer-alt"></i> <span>Dashboard</span></a>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fa fa-columns"></i> <span>Appointment</span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="/admin-dashboard"> Admin View </a></li>
                                <li><a href="/doctor_dash"> Doctor View </a></li>
                            </ul>
                        </li>
						<li>
                            <a href="/patient_registration"><i class="fa fa-user-md"></i> <span>Patient Registration</span></a>
                        </li>
                        <li>
                            <a href="/opd_billing"><i class="fa fa-user-md"></i> <span>OPD Billing</span></a>
                        </li>
                        <li >
                            <a href="/nurse_login"><i class="fas fa-user-md"></i> <span>Nurse</span></a>
                        </li>

                        <!-- <li class="">
                            <a href="search_doctor"><i class="fas fa-tachometer-alt"></i> <span>Book Appointment</span></a>
                        </li> -->
                        <li >
                            <a href="/token_master_configuration"><i class="fas fa-user-md"></i> <span>QMS</span></a>
                        </li>
                        <li >
                            <a href="/indent_inbox"><i class="fas fa-user-md"></i> <span>Pharmacy</span></a>
                        </li>
                        <li >
                            <a href="/ipd_front_desk"><i class="fas fa-user-md"></i> <span>IPD</span></a>
                        </li>
                         <li >
                            <a href="/item_master"><i class="fas fa-user-md"></i> <span>Inventory</span></a>
                        </li>

                        <li class="submenu">
                            <a href="departments"><i class="far fa-building"></i> <span>Operation Theatre</span><span class="menu-arrow"></span></a>
                            <ul style="display: none;">
								<li><a href="employees">Employees List</a></li>
								<li><a href="leaves">Leaves</a></li>
							</ul>
                        </li>
						<li class="submenu">
							<a href="#"><i class="fa fa-user"></i> <span> In-Patient Management </span> <span class="menu-arrow"></span></a>
							<ul style="display: none;">
								<li><a href="employees">Employees List</a></li>
								<li><a href="leaves">Leaves</a></li>
							</ul>
						</li>
						<li class="submenu">
							<a href="#"><i class="far fa-money-bill-alt"></i> <span> Nurse Station </span> <span class="menu-arrow"></span></a>
							<ul style="display: none;">
								<li><a href="invoices">Invoices</a></li>
								<li><a href="payments">Payments</a></li>
								<li><a href="expenses">Expenses</a></li>
								<li><a href="taxes">Taxes</a></li>
								<li><a href="provident-fund">Provident Fund</a></li>
							</ul>
						</li>
						<li class="submenu">
							<a href="#"><i class="fa fa-book"></i> <span> Mental Health </span> <span class="menu-arrow"></span></a>
							<ul style="display: none;">
								<li><a href="salary"> Employee Salary </a></li>
								<li><a href="salary-view"> Payslip </a></li>
							</ul>
						</li>
                        <li>
                            <a href="chat"><i class="fa fa-comments"></i> <span>Antenatal Care</span> <span class="badge badge-pill bg-primary float-right">5</span></a>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fas fa-video"></i> <span> Accounts And Revenue</span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="voice-call">Voice Call</a></li>
                                <li><a href="video-call">Video Call</a></li>
                                <li><a href="incoming-call">Incoming Call</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fa fa-envelope"></i> <span> Insurance And E-Claim</span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="compose">Compose Mail</a></li>
                                <li><a href="inbox">Inbox</a></li>
                                <li><a href="mail-view">Mail View</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="far fa-comment-dots"></i> <span> Phlebotomy</span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="blog">Blog</a></li>
                                <li><a href="blog-details">Blog View</a></li>
                                <li><a href="add-blog">Add Blog</a></li>
                                <li><a href="edit-blog">Edit Blog</a></li>
                            </ul>
                        </li>
						<li>
							<a href="assets"><i class="fa fa-cube"></i> <span>Laboratory</span></a>
						</li>
						<li>
							<a href="activities"><i class="far fa-bell"></i> <span>Blood Bank</span></a>
						</li>
						<li class="submenu">
							<a href="#"><i class="far fa-flag"></i> <span> Radiology </span> <span class="menu-arrow"></span></a>
							<ul style="display: none;">
								<li><a href="expense-reports"> Expense Report </a></li>
								<li><a href="invoice-reports"> Invoice Report </a></li>
							</ul>
						</li>
                        <li>
                            <a href="settings"><i class="fa fa-cog"></i> <span>Linen And Laundry</span></a>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fa fa-laptop"></i> <span> Discharge Summary</span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="uikit">UI Kit</a></li>
                                <li><a href="typography">Typography</a></li>
                                <li><a href="tabs">Tabs</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="widgets"><i class="fa fa-th"></i> <span>Mortuary Management</span></a>
                        </li>
						<li class="submenu">
							<a href="#"><i class="fas fa-boxes"></i> <span>Feedback Management</span> <span class="menu-arrow"></span></a>
							<ul style="display: none;">
								<li><a href="sweetalerts">Sweet Alerts</a></li>
								<li><a href="tooltip">Tooltip</a></li>

							</ul>
						</li>

						<li class="submenu">
							<a href="#"><i class="fab fa-buffer"></i> <span> MRD </span> <span class="menu-arrow"></span></a>
							<ul style="display: none;">
								<li><a href="icon-fontawesome">Fontawesome Icons</a></li>
								<li><a href="icon-feather">Feather Icons</a></li>
								<li><a href="icon-ionic">Ionic Icons</a></li>
								<li><a href="icon-material">Material Icons</a></li>
								<li><a href="icon-pe7">Pe7 Icons</a></li>
								<li><a href="icon-simpleline">Simpleline Icons</a></li>
								<li><a href="icon-themify">Themify Icons</a></li>
								<li><a href="icon-weather">Weather Icons</a></li>
								<li><a href="icon-typicon">Typicon Icons</a></li>
								<li><a href="icon-flag">Flag Icons</a></li>
							</ul>
						</li>
						<li class="submenu">
                            <a href="#"><i class="fa fa-edit"></i> <span> MIS REPORTS</span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="form-basic-inputs">Basic Inputs</a></li>
                                <li><a href="form-input-groups">Input Groups</a></li>
                                <li><a href="form-horizontal">Horizontal Form</a></li>
                                <li><a href="form-vertical">Vertical Form</a></li>
								<li><a href="form-mask">Form Mask </a></li>
								<li><a href="form-validation">Form Validation </a></li>
								<li><a href="form-select2">Form Select2 </a></li>
								<li><a href="form-fileupload">File Upload </a></li>
							</ul>
						</li>
                        <li class="submenu">
                            <a href="#"><i class="fa fa-table"></i> <span> Inventory Setup</span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="tables-basic">Basic Tables</a></li>
                                <li><a href="tables-datatables">Data Table</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="calendar"><i class="far fa-calendar-alt"></i> Custom Template</a>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fa fa-columns"></i> <span>System Control</span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="/login"> Login </a></li>
                                <li><a href="/register"> Register </a></li>

                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fa fa-columns"></i> <span>Security And Audit</span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="/login"> Login </a></li>
                                <li><a href="/register"> Register </a></li>

                            </ul>
                        </li>


                      <!-- <li >
                          <a href="/admin-dashboard"><i class="fa fa-columns"></i> <span>Admin</span> </a>
                      </li> -->
                      <!-- <li >
                        <a href="doctor_dash"><i class="fas fa-user-md"></i> <span>Doctor</span></a>
                    </li> -->
                    <li >
                        <a href="/title_master"><i class="fas fa-user-md"></i> <span>Master</span></a>
                    </li>

                       <br><br><br><br><br>
                    </ul>
                </div>
            </div>
        </div>
        <!--/sidebar-->
        {% block body_block %}

        {% endblock %}
 <!-- Notifications -->
 <div class="notification-box">
    <div class="msg-sidebar notifications msg-noti">
        <div class="topnav-dropdown-header">
            <span>Messages</span>
        </div>
        <div class="drop-scroll msg-list-scroll">
            <ul class="list-box">
                <li>
                    <a href="chat">
                        <div class="list-item">
                            <div class="list-left">
                                <span class="avatar">R</span>
                            </div>
                            <div class="list-body">
                                <span class="message-author">Richard Miles </span>
                                <span class="message-time">12:28 AM</span>
                                <div class="clearfix"></div>
                                <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="chat">
                        <div class="list-item new-message">
                            <div class="list-left">
                                <span class="avatar">J</span>
                            </div>
                            <div class="list-body">
                                <span class="message-author">John Doe</span>
                                <span class="message-time">1 Aug</span>
                                <div class="clearfix"></div>
                                <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="chat">
                        <div class="list-item">
                            <div class="list-left">
                                <span class="avatar">T</span>
                            </div>
                            <div class="list-body">
                                <span class="message-author"> Tarah Shropshire </span>
                                <span class="message-time">12:28 AM</span>
                                <div class="clearfix"></div>
                                <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="chat">
                        <div class="list-item">
                            <div class="list-left">
                                <span class="avatar">M</span>
                            </div>
                            <div class="list-body">
                                <span class="message-author">Mike Litorus</span>
                                <span class="message-time">12:28 AM</span>
                                <div class="clearfix"></div>
                                <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="chat">
                        <div class="list-item">
                            <div class="list-left">
                                <span class="avatar">C</span>
                            </div>
                            <div class="list-body">
                                <span class="message-author"> Catherine Manseau </span>
                                <span class="message-time">12:28 AM</span>
                                <div class="clearfix"></div>
                                <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="chat">
                        <div class="list-item">
                            <div class="list-left">
                                <span class="avatar">D</span>
                            </div>
                            <div class="list-body">
                                <span class="message-author"> Domenic Houston </span>
                                <span class="message-time">12:28 AM</span>
                                <div class="clearfix"></div>
                                <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="chat">
                        <div class="list-item">
                            <div class="list-left">
                                <span class="avatar">B</span>
                            </div>
                            <div class="list-body">
                                <span class="message-author"> Buster Wigton </span>
                                <span class="message-time">12:28 AM</span>
                                <div class="clearfix"></div>
                                <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="chat">
                        <div class="list-item">
                            <div class="list-left">
                                <span class="avatar">R</span>
                            </div>
                            <div class="list-body">
                                <span class="message-author"> Rolland Webber </span>
                                <span class="message-time">12:28 AM</span>
                                <div class="clearfix"></div>
                                <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="chat">
                        <div class="list-item">
                            <div class="list-left">
                                <span class="avatar">C</span>
                            </div>
                            <div class="list-body">
                                <span class="message-author"> Claire Mapes </span>
                                <span class="message-time">12:28 AM</span>
                                <div class="clearfix"></div>
                                <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="chat">
                        <div class="list-item">
                            <div class="list-left">
                                <span class="avatar">M</span>
                            </div>
                            <div class="list-body">
                                <span class="message-author">Melita Faucher</span>
                                <span class="message-time">12:28 AM</span>
                                <div class="clearfix"></div>
                                <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="chat">
                        <div class="list-item">
                            <div class="list-left">
                                <span class="avatar">J</span>
                            </div>
                            <div class="list-body">
                                <span class="message-author">Jeffery Lalor</span>
                                <span class="message-time">12:28 AM</span>
                                <div class="clearfix"></div>
                                <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="chat">
                        <div class="list-item">
                            <div class="list-left">
                                <span class="avatar">L</span>
                            </div>
                            <div class="list-body">
                                <span class="message-author">Loren Gatlin</span>
                                <span class="message-time">12:28 AM</span>
                                <div class="clearfix"></div>
                                <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="chat">
                        <div class="list-item">
                            <div class="list-left">
                                <span class="avatar">T</span>
                            </div>
                            <div class="list-body">
                                <span class="message-author">Tarah Shropshire</span>
                                <span class="message-time">12:28 AM</span>
                                <div class="clearfix"></div>
                                <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="topnav-dropdown-footer">
            <a href="chat">See all messages</a>
        </div>
    </div>
</div>
<!-- Notifications -->
</div>
<!--/ content -->
</div>
</div>
</div>
</div>
<!--scripts-->
<!-- jQuery -->
<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>

<!-- Bootstrap Core JS -->
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

<!-- Slimscroll JS -->
<script src="{% static 'assets/js/jquery.slimscroll.js' %}"></script>

<!-- Select2 JS -->
<script src="{% static 'assets/js/select2.min.js' %}"></script>
<script src="{% static 'assets/js/moment.min.js' %}"></script>

<!-- Datetime picker JS -->
<script src="{% static 'assets/plugins/datetimepicker/js/tempusdominus-bootstrap-4.min.js' %}"></script>

<!-- Calender JS -->
<script src="{% static 'assets/js/calendar.min.js' %}"></script>


 <!-- Data table JS -->
 <script src="{% static 'assets/js/jquery.dataTables.min.js' %}"></script>
 <script src="{% static 'assets/js/dataTables.bootstrap4.min.js' %}"></script>

<!-- Apex chart JS -->
<script src="{% static 'assets/js/apex.js' %}"></script>

<!-- Custom JS -->
<script src="{% static 'assets/js/app.js' %}"></script>
{% block script_block %}
{% endblock %}
</body>
</html>