{% extends 'clinical/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_block %}
{% endblock %}
{% block body_block %}


<style>
    .form-control {
        border: 2px solid rgb(233, 233, 233);
        width: 100%;
        background-color: rgb(233, 233, 233);
        border-bottom: 1px solid black;
    }
</style>
<!-- content -->
<div class="page-wrapper">
    <div class="content">
        <nav class="navbar navbar-light bg-blue" style="background-color: rgb(64, 64, 207);">
            <div class="container-fluid">
                <a class="navbar-brand" style="color: white;" href="#">Payer Report</a>
            </div>
        </nav><br>

        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-8 col-xs-8">
                    <div class="card">
                        <div class="header">
                            <div class="body">
                                <br>
                                <div class="icon-button-demo">&nbsp;
                                    <a href="/dashboard" class="btn btn-info"> <i
                                            class="fa fa-arrow-circle-left">&nbsp;Back</i></a>
                                    <button type="button" class="btn btn-primary" onClick="window.location.reload();">
                                        <i class="fas fa-sync-alt">Refresh</i></button>&nbsp;
                                    <a href="/dashboard" class="btn btn-danger"> <i
                                            class="fas fa-times-circle">Exit</i></a>

                                    <button class="btn btn-warning" role="button"
                                        onclick="codespeedy()">PDF</button>&nbsp;
                                    <button class="btn btn-sucess" style="background-color: green;" id="download-button"
                                        role="button">CSV</button>&nbsp;

                                </div><br>
                                <br>
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="col-lg-12 col-md-12 col-sm-4 col-xs-4"
                                        style="background-color:rgb(233, 233, 233);"><br>

                                        <div class="form-row">
                                            <div class="form-group col-md-3 mb-0">
                                                <label style="font-weight: white;"><b>From Date*</b> </label>
                                                <input type='date' name='b_start_date' id='from_date'
                                                    style="background-color: white;" class='form-control' required>
                                            </div>

                                            <div class="form-group col-md-3 mb-0">
                                                <label style="font-weight: white;"><b>To Date*</b></label>
                                                <input type='date' name='b_end_date' style="background-color: white;"
                                                    id='to_date' class='form-control' required>

                                            </div>
                                            
                                            
                                            <div class="form-group col-md-3 mb-0">
                                                <label style="font-weight: white;"><b>Payer*</b></label>
                                                <select name="payer_id" class='form-control' style="background-color: white;" required>
                                                <option value="">Select</option>
                                                {% for data in payer_by %}
                                                <option value="{{data.id}}">{{data.billing_group}}</option>
                                                {% endfor %}
                                            </select>
                                                
                                            </div>
  
                                       
                                            <div class="col-sm-0"><br>
                                                <button type="submit" class="btn btn-warning w-100 mt-2" name="Search"
                                                    value="search_btn"><i
                                                        class="fa fa-search">&nbsp;Search</i></button>&nbsp;
                                            </div>

                                        </div>
                                        <br>
                                    </div>
                                </form>
                                <br><br>

                                <div id="hello">
                                    {% if all %}
  
                                    <table style="width: 70%;max-width: 800px;margin: 0 auto;border-collapse: collapse;" width="50%">
                                        <tr>
                                            
                                                <div class="" >
                                                    <center><h2><img src="{% static 'assets/images/nephromed_logo.jpg' %}" alt="logo Image" style="width:300px;height:80px;"></h2>
                                                    </center>
                                                </div>
                                            
                                        </tr>
                                    </table>
                                    
                                    <style>
                                        table, th, td {
                                          border: 1px solid black;
                                          border-collapse: collapse;
                                          
                                        }
                                        #button2{
                                        font-size: larger;
                                        padding: 10px;
                                        border: none;
                                        border-radius: 5px;
                                    }
                                        </style>
                                        <center><h3> Payer Report</h3></center>
                                    <table class="table table-bordered" style="border-style: solid;" align="center">
                                        <thead>

                                            <tr>
                                                <th scope="col">SI.No</th>
                                                <th scope="col">UHID</th>
                                                <th scope="col">Visit ID</th>
                                                <th scope="col">Bill No</th>
                                                <th scope="col">Bill Amt</th>
                                                <th scope="col">Tax</th>
                                                <th scope="col">Receivable Amt</th>
                                                <th scope="col">Received Amt</th>
                                                <th scope="col">Outstanding Amt</th>
                                                <th scope="col">Payer Name</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                           

                                            {% for records in all %}
                                            {% if records.outstanding_amt %}
                                                <tr>
                                                    <td scope="row" style="padding-left: 15px;padding-right: 15px;">{{forloop.counter}}</td>
                                                    <td style="padding-left: 15px;padding-right: 15px;">{{records.uhid}}</td>
                                                    <td style="padding-left: 15px;padding-right: 15px;">{{records.visit_id}}</td>
                                                    <td style="padding-left: 15px;padding-right: 15px;">{{records.bill_no}}</td>
                                                    <td style="padding-left: 15px;padding-right: 15px;">{{records.bill_amt}}</td>
                                                    <td style="padding-left: 15px;padding-right: 15px;">{{records.tax}}</td>
                                                    <td style="padding-left: 15px;padding-right: 15px;">{{records.receivable_amt}}</td>
                                                    <td style="padding-left: 15px;padding-right: 15px;">{{records.received_amt}}</td>
                                                    <td style="padding-left: 15px;padding-right: 15px;">{{records.outstanding_amt}}</td>
                                                    <td style="padding-left: 15px;padding-right: 15px;"><b>{{payer_name_all2.0}}</b></td>
                                                    <td></td>
                                                </tr>
                                                {% endif %}
                                                {% endfor %}
                                        </tbody>
                                    </table>
                                    <div class="col-sm-6 col-md-4" class="card">
                                        <canvas id="myChart" width="10" height="50" class="card"></canvas>
                                    </div>
                                    
                                    {% endif %}
                                </div><br><br>




                                <!-- {% if all %}
                                <div class="header" id="pdf_print">

                                    <table
                                        style="width: 100%;max-width: 1024px;margin: 0 auto;border-collapse: collapse;"
                                        width="100%">
                                        <tr>
                                            <td>
                                                <div class="">
                                                    <center>
                                                        <h2><img src="{% static 'assets/images/nephromed_logo.jpg' %}"
                                                                alt="logo Image" style="width:300px;height:100px;"></h2>
                                                    </center>

                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="mytable">
                                        <div class="table-responsive ">
                                            <table class="datatable table table-stripped">
                                                <tr style="background-color: lavender;">

                                                <tr>
                                                    <th
                                                        style="border-top: 1px solid#333; border-bottom: 1px solid#333; ">
                                                        SI.No </th>
                                                    <th
                                                        style="border-top: 1px solid#333; border-bottom: 1px solid#333; ">
                                                        UHID </th>
                                                    <th
                                                        style="border-top: 1px solid#333; border-bottom: 1px solid#333; ">
                                                        Visit ID </th>
                                                    <th
                                                        style="border-top: 1px solid#333; border-bottom: 1px solid#333; ">
                                                        Bill No </th>
                                                    <th
                                                        style="border-top: 1px solid#333; border-bottom: 1px solid#333; ">
                                                        Bill Amt </th>
                                                    <th
                                                        style="border-top: 1px solid#333; border-bottom: 1px solid#333; ">
                                                        Tax</th>
                                                    <th
                                                        style="border-top: 1px solid#333; border-bottom: 1px solid#333; ">
                                                        Receivable Amt</th>
                                                    <th
                                                        style="border-top: 1px solid#333; border-bottom: 1px solid#333; ">
                                                        Received Amt </th>
                                                    <th
                                                        style="border-top: 1px solid#333; border-bottom: 1px solid#333; ">
                                                        Outstanding Amt </th>
                                                    <th
                                                        style="border-top: 1px solid#333; border-bottom: 1px solid#333; ">
                                                        Payer Name </th>
                                                </tr>
                                                </tr>
                                                <tr>
                                                    {% for records in all %}
                                                    {% if records.outstanding_amt %}
                                                <tr>
                                                    <td>{{forloop.counter}}</td>
                                                    <td>{{records.uhid}}</td>
                                                    <td>{{records.visit_id}}</td>
                                                    <td>{{records.bill_no}}</td>
                                                    <td>{{records.bill_amt}}</td>
                                                    <td>{{records.tax}}</td>
                                                    <td>{{records.receivable_amt}}</td>
                                                    <td>{{records.received_amt}}</td>
                                                    <td>{{records.outstanding_amt}}</td>
                                                    <td><b>{{payer_name_all2.0}}</b></td>
                                                    <td></td>
                                                </tr>
                                                {% endif %}
                                                {% endfor %}
                                            </table>
                                        </div>
                                    </div>
                                </div> -->


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endif %}

<script src="../assets/js/app.js"></script>

<script type="text/javascript">

    function codespeedy(){
      var print_div = document.getElementById("hello");
        var print_area = window.open();
        print_area.document.write(print_div.innerHTML);
        print_area.document.close();
        print_area.focus();
        print_area.print();
        print_area.close();
            }
        </script>

<!-- Export csv -->

<script>
    function htmlToCSV(html, filename) {
        var data = [];
        var rows = document.querySelectorAll("table tr");

        for (var i = 0; i < rows.length; i++) {
            var row = [], cols = rows[i].querySelectorAll("td, th");

            for (var j = 0; j < cols.length; j++) {
                row.push(cols[j].innerText);
            }

            data.push(row.join(","));
        }

        downloadCSVFile(data.join("\n"), filename);
    }</script>
<script>
    function downloadCSVFile(csv, filename) {
        var csv_file, download_link;

        csv_file = new Blob([csv], { type: "text/csv" });

        download_link = document.createElement("a");

        download_link.download = filename;

        download_link.href = window.URL.createObjectURL(csv_file);

        download_link.style.display = "none";

        document.body.appendChild(download_link);

        download_link.click();
    }</script>

<script>document.getElementById("download-button").addEventListener("click", function () {
        var html = document.querySelector("table").outerHTML;
        htmlToCSV(html, "itemwise_purchase.csv");
    });</script>

{% endblock %}