{% extends 'clinical/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_block %}
{% endblock %}
{% block body_block %}


<style>
    .form-control {
        border: 2px solid rgb(233, 233, 233);
        width: 100%;
        background-color: rgb(233, 233, 233);
        border-bottom: 1px solid black;
    }
</style>
<!-- content -->
<div class="page-wrapper">
    <div class="content">
        <nav class="navbar navbar-light bg-blue" style="background-color: rgb(64, 64, 207);">
            <div class="container-fluid">
                <a class="navbar-brand" style="color: white;" href="#">Today Collection Report</a>
            </div>
        </nav><br>

        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-8 col-xs-8">
                    <div class="card">
                        <div class="header">
                            <div class="body">
                                <br>
                                <div class="icon-button-demo">&nbsp;
                                    <a href="/dashboard" class="btn btn-info"> <i
                                            class="fa fa-arrow-circle-left">&nbsp;Back</i></a>
                                    <button type="button" class="btn btn-primary" onClick="window.location.reload();">
                                        <i class="fas fa-sync-alt">Refresh</i></button>&nbsp;
                                    <a href="/dashboard" class="btn btn-danger"> <i
                                            class="fas fa-times-circle">Exit</i></a>

                                    <button class="btn btn-warning" role="button"
                                        onclick="codespeedy()">PDF</button>&nbsp;
                                    <button class="btn btn-sucess" style="background-color: green;" id="download-button"
                                        role="button">CSV</button>&nbsp;

                                </div><br>
                                <br>


                                <div id="hello">
                                    {% if today_details %}
  
                                    <table style="width: 70%;max-width: 800px;margin: 0 auto;border-collapse: collapse;" width="50%">
                                        <tr>
                                            
                                                <div class="" >
                                                    <center><h2><img src="{% static 'assets/images/nephromed_logo.jpg' %}" alt="logo Image" style="width:300px;height:80px;"></h2>
                                                    </center>
                                                </div>
                                            
                                        </tr>
                                    </table>
                                    
                                    <style>
                                        table, th, td {
                                          border: 1px solid black;
                                          border-collapse: collapse;
                                          
                                        }
                                        #button2{
                                        font-size: larger;
                                        padding: 10px;
                                        border: none;
                                        border-radius: 5px;
                                    }
                                        </style>
                                        <center><h3> Total Collection Report</h3></center>
                                    <table class="table table-bordered" style="border-style: solid;" align="center">
                                        <thead>

                                            <tr>
                                                <th scope="col"><b>SI.No</b></th>
                                                <th scope="col"><b>UHID</b></th>
                                                <th scope="col">Visit ID</th>
                                                <th scope="col">Department</th>
                                                <th scope="col">OP Net Amt</th>
                                                <th scope="col">OP Disc</th>
                                                <th scope="col">OP Payable Amt</th>
                                                <th scope="col">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for records in today_details %}
                                            <tr>
                                                <td scope="row" style="padding-left: 15px;padding-right: 15px;">{{records.uhid}}</td>
                                                <td style="padding-left: 15px;padding-right: 15px;">{{records.uhid}}</td>
                                                <td style="padding-left: 15px;padding-right: 15px;">{{records.visit_no}}</td>
                                                <td style="padding-left: 15px;padding-right: 15px;">{{records.department}}</td>
                                                <td style="padding-left: 15px;padding-right: 15px;">{{records.net_amount}}</td>
                                                <td style="padding-left: 15px;padding-right: 15px;">{{records.discount}}</td>
                                                <td style="padding-left: 15px;padding-right: 15px;">{{records.pay_amount}}</td>
                                                <td style="padding-left: 15px;padding-right: 15px;">{{records.paid_amount}}</td>
                                                <td style="padding-left: 15px;padding-right: 15px;"></td>
                                            </tr>
                                            {% endfor %}
                                            {% for pay_mode,list in list_all %}
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td style="background-color:rgb(194, 244, 236);">Payment Mode:
                                                        <b>{{pay_mode}}</b></td>
                                                    <td style="background-color:rgb(194, 244, 236);"><b>{{list}}</b></td>
                                                </tr>
                                                {% endfor %}
                                        </tbody>
                                    </table>
                                    <div class="col-sm-6 col-md-4" class="card">
                                        <canvas id="myChart" width="10" height="50" class="card"></canvas>
                                    </div>
                                    
                                    {% endif %}
                                </div><br><br>






                                <!-- {% if today_details %}
                                <div class="header" id="pdf_print">

                                    <table
                                        style="width: 100%;max-width: 1024px;margin: 0 auto;border-collapse: collapse;"
                                        width="100%">
                                        <tr>
                                            <td>
                                                <div class="">
                                                    <center>
                                                        <h2><img src="{% static 'assets/images/nephromed_logo.jpg' %}"
                                                                alt="logo Image" style="width:300px;height:100px;"></h2>
                                                    </center>

                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="mytable">
                                        <div class="table-responsive p-6">
                                            <table
                                                id="example" class="datatable table table-stripped">

                                                <tr style="background-color: rgb(214, 214, 246)">
                                                    <th
                                                        style="border-top: 1px solid#333; border-bottom: 1px solid#333; ">
                                                        Sr No </th>
                                                    <th
                                                        style="border-top: 1px solid#333; border-bottom: 1px solid#333; ">
                                                        UHID </th>
                                                    <th
                                                        style="border-top: 1px solid#333; border-bottom: 1px solid#333; ">
                                                        Visit ID </th>
                                                    <th
                                                        style="border-top: 1px solid#333; border-bottom: 1px solid#333; ">
                                                        Department </th>
                                                    <th
                                                        style="border-top: 1px solid#333; border-bottom: 1px solid#333; ">
                                                        OP Net Amt </th>
                                                    <th
                                                        style="border-top: 1px solid#333; border-bottom: 1px solid#333; ">
                                                        OP Disc</th>
                                                    <th
                                                        style="border-top: 1px solid#333; border-bottom: 1px solid#333; ">
                                                        OP Payable Amt</th>
                                                    <th
                                                        style="border-top: 1px solid#333; border-bottom: 1px solid#333; ">
                                                        Total </th>
                                                </tr>
                                                <tr>

                                                    {% for records in today_details%}
                                                <tr>
                                                    <td>{{forloop.counter}}</td>
                                                    <td>{{records.uhid}}</td>
                                                    <td>{{records.visit_no}}</td>
                                                    <td>{{records.department}}</td>
                                                    <td>{{records.net_amount}}</td>
                                                    <td>{{records.discount}}</td>
                                                    <td>{{records.pay_amount}}</td>
                                                    <td>{{records.paid_amount}}</td>
                                                    <td></td>
                                                </tr>
                                                {% endfor %}
                                                {% for pay_mode,list in list_all %}
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td style="background-color:rgb(194, 244, 236);">Payment Mode:
                                                        <b>{{pay_mode}}</b></td>
                                                    <td style="background-color:rgb(194, 244, 236);"><b>{{list}}</b></td>
                                                </tr>
                                                {% endfor %}
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-4" class="card">
                                        <canvas id="myChart" width="10" height="50" class="card"></canvas>
                                    </div>
   
                                    {% else %}
                                    <h3>&nbsp; No collection Today</h3>
                                    {% endif %}
                                </div>
                            </div> -->


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>


<script src="../assets/js/app.js"></script>

<script type="text/javascript">

    function codespeedy(){
      var print_div = document.getElementById("hello");
var print_area = window.open();
print_area.document.write(print_div.innerHTML);
print_area.document.close();
print_area.focus();
print_area.print();
print_area.close();
// This is the code print a particular div element
    }
  </script>

<!-- Export csv -->

<script>
    function htmlToCSV(html, filename) {
        var data = [];
        var rows = document.querySelectorAll("table tr");

        for (var i = 0; i < rows.length; i++) {
            var row = [], cols = rows[i].querySelectorAll("td, th");

            for (var j = 0; j < cols.length; j++) {
                row.push(cols[j].innerText);
            }

            data.push(row.join(","));
        }

        downloadCSVFile(data.join("\n"), filename);
    }</script>
<script>
    function downloadCSVFile(csv, filename) {
        var csv_file, download_link;

        csv_file = new Blob([csv], { type: "text/csv" });

        download_link = document.createElement("a");

        download_link.download = filename;

        download_link.href = window.URL.createObjectURL(csv_file);

        download_link.style.display = "none";

        document.body.appendChild(download_link);

        download_link.click();
    }</script>

<script>document.getElementById("download-button").addEventListener("click", function () {
        var html = document.querySelector("table").outerHTML;
        htmlToCSV(html, "itemwise_purchase.csv");
    });</script>

{% endblock %}