{% extends 'clinical/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block body_block %}
<div class="page-wrapper">
    <div class="content">
    <div class="container" style="border: 1px solid rgb(121, 118, 118);padding: 10px;" id="hello">
        <h3 style="text-align: center;"> <b>Add Dialysis Prescription Details</b></h3>
        <br>
        <form method="post" id="prescription_dial">
            {% csrf_token %}
            <div class="col-md-12">
                <h5><b>Patient Details</b></h5>
                <div class="row" style="border: 1px solid rgb(121, 118, 118);padding: 10px;">
                    <div class="col-md-4">
                        <label>MR NO: <b>{{uhid_pat_new}}</b></label>
                        <input type="hidden" class="form-control"name="uhid" value="{{records.uhid}}">
                    </div>
                    <div class="col-md-4">
                        <label>Name: <b>{{pat_name_new| upper}}</b></label>
    <!--                    <input type="text" class="form-control">-->
                    </div>
                    <div class="col-md-4">
                        <label> AGE/GENDER: <b>{{pat_age_new}}Y/{{pat_sex_new| upper}}</b></label>
    <!--                    <input type="text" class="form-control">-->
                    </div>
                    <div class="col-md-4">
                        <label>CONTACT NO: <b>{{pat_con_no_new}}</b></label>
    <!--                    <input type="text" class="form-control">-->
                    </div>
                </div>
                <br><div class="col-12">
                    <div class="form-group">
                        <div class="form-line">
                            <div class="form-line">
                                <div class="form-row">
                                    <div class="form-group col-md-4 mb-0">
                                        <label for="Doctor">Doctor: </label>
                                        {{form.dr_name}}
                                    </div>
                                    <div class="form-group col-md-4 mb-0">
                                        <label for="Prescription">Prescription Date: </label>
                                        {{form.prescription_date}}
                                    </div>
                                    <div class="form-group col-md-4 mb-0">
                                        <label for="Status"> Status : </label>
                                        <select name="status" class="form-control" id="Status">
                                            <option>Active</option>
                                            <option>In Active</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4 mb-0">
                                        <label>Start Date: </label>
                                        {{form.s_date}}
                                    </div>
                                    <div class="form-group col-md-4 mb-0">
                                        <label>End Date: </label>
                                        {{form.e_date}}
                                    </div>
                                    <div class="form-group col-md-4 mb-0">
                                        <label>Dry Weight </label>
                                        {{form.dry_weight}}
                                    </div>
                                    <div class="form-group col-md-4 mb-0">
                                        <label>Dry Weight Date:</label>
                                        {{form.dry_weight_date}}
                                    </div>
                                    <div class="form-group col-md-4 mb-0">
                                        <label>Diagnosis:</label>
                                        {{form.diagnosis}}
                                    </div>

                                    <div class="form-group col-md-4 mb-0">
                                        <label></label>
                                        <input type="hidden"  class="form-control">
                                    </div>
                                    <div class="form-group col-md-4 mb-0">
                                        <label>Day1:</label>
                                        <select name="day1" class="form-control">
                                            <option selected disabled="true">--select--</option>
                                            <option>Mon</option>
                                            <option>Tue</option>
                                            <option>Wed</option>
                                            <option>Thur</option>
                                            <option>Fri</option>
                                            <option>Sat</option>
                                            <option>Sun</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4 mb-0">
                                        <label>Shift1:</label>
                                        <select name="shift1" class="form-control">
                                            <option selected disabled="true">--select--</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4 mb-0">
                                        <label>Duration (Hour):*</label>
                                        <select name="duration" class="form-control">*
                                            <option selected disabled="true">--select--</option>
                                            <option>0</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4 mb-0">
                                        <label>Day2:</label>
                                        <select name="day2" class="form-control">
                                            <option selected disabled="true">--select--</option>
                                            <option>Mon</option>
                                            <option>Tue</option>
                                            <option>Wed</option>
                                            <option>Thur</option>
                                            <option>Fri</option>
                                            <option>Sat</option>
                                            <option>Sun</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4 mb-0">
                                        <label>shift2:</label>
                                        <select name="shift2" class="form-control">
                                            <option selected disabled="true">--select--</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                  <div class="form-group col-md-4 mb-0">
                                      <label>Weekly Frequency:*</label>
                                      <select name="weekly" class="form-control">
                                        <option selected disabled="true">--select--</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                      </select>
                                  </div>
                                    <div class="form-group col-md-4 mb-0">
                                        <label>Day3:</label>
                                        <select name="day3" class="form-control">
                                            <option selected disabled="true">--select--</option>
                                            <option>Mon</option>
                                            <option>Tue</option>
                                            <option>Wed</option>
                                            <option>Thur</option>
                                            <option>Fri</option>
                                            <option>Sat</option>
                                            <option>Sun</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4 mb-0">
                                        <label>Shift3:</label>
                                        <select name="shift3" class="form-control">
                                            <option selected disabled="true">--select--</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4 mb-0">
                                        <label>Dialysis Membrane:</label>
                                        <select name="dialysis_membrane" class="form-control">
                                            <option selected disabled="true">--select--</option>
                                            <option>Hemo Dialysis Membrane</option>
                                            <option>Polyester Polymer Membrane</option>
                                        </select>
                                    </div>
                                     <div class="form-group col-md-4 mb-0">
                                        <label>Day4:</label>
                                        <select name="day4" class="form-control">
                                            <option selected disabled="true">--select--</option>
                                            <option>Mon</option>
                                            <option>Tue</option>
                                            <option>Wed</option>
                                            <option>Thur</option>
                                            <option>Fri</option>
                                            <option>Sat</option>
                                            <option>Sun</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4 mb-0">
                                        <label>Shift4:</label>
                                        <select name="shift4" class="form-control">
                                            <option selected disabled="true">--select--</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4 mb-0">
                                        <label></label>
                                        <input type="hidden">
                                    </div>
                                     <div class="form-group col-md-4 mb-0">
                                        <label>Day5:</label>
                                        <select name="day5" class="form-control">
                                            <option selected disabled="true">--select--</option>
                                            <option>Mon</option>
                                            <option>Tue</option>
                                            <option>Wed</option>
                                            <option>Thur</option>
                                            <option>Fri</option>
                                            <option>Sat</option>
                                            <option>Sun</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4 mb-0">
                                        <label>Shift5:</label>
                                        <select name="shift5" class="form-control">
                                            <option selected disabled="true">--select--</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4 mb-0">
                                        <label></label>
                                        <input type="hidden">
                                    </div>
                                    <div class="form-group col-md-4 mb-0">
                                        <label>Dialysis Type:*</label>
                                        {{form.dialysis_type}}
                                    </div>
                                    <div class="form-group col-md-4 mb-0">
                                        <label>Dialyzer:</label>
                                        {{form.dialyzer}}
                                    </div>
                                    <div class="form-group col-md-4 mb-0">
                                        <label>Dialysate Tem (C):</label>
                                        {{form.dialysate_temp}}
                                    </div>
                                    <div class="form-group col-md-2 mb-0">
                                        <label>K+ (mEq/L)</label>
                                        {{form.k_meql}}
                                    </div>
                                    <div class="form-group col-md-2 mb-0">
                                        <label></label>
                                        <input type="hidden" name="" class="form-control">
                                    </div>
                                    <div class="form-group col-md-2 mb-0">
                                        <label>Ca+ (mEq/L):</label>
                                        {{form.ca_meal}}
                                    </div>
                                    <div class="form-group col-md-2 mb-0">
                                        <label></label>
                                        <input type="hidden" name="" class="form-control">
                                    </div>
                                    <div class="form-group col-md-4 mb-0">
                                        <label></label>
                                        <input type="hidden" name="" class="form-control">
                                    </div>
                                    <div class="form-group col-md-2 mb-0">
                                        <label>Mg+ (mEq/L):</label>
                                        {{form.mg_meal}}
                                    </div>
                                    <div class="form-group col-md-2 mb-0">
                                        <label></label>
                                        <input type="hidden" name="" class="form-control">
                                    </div>
                                    <div class="form-group col-md-4 mb-0">
                                        <label>Glucose:</label>
                                        {{form.glucose}}
                                    </div>
                                    <div class="form-group col-md-4 mb-0">
                                        <label>Target BVP:</label>
                                        {{form.target_bvp}}
                                    </div>

                                    <table class="datatable table table-stripped">
                                        <thead>
                                        <tr>
                                            <th>Temporary Access</th>
                                            <th>Access Site</th>
                                            <th>Date Of Intiation</th>
                                            <th>Date Of Removal</th>
                                            <th>Doctor Name</th>
                                            <th>Hospital Name</th>
                                            <th>Last Change Reason</th>
                                            <th>Add</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for temp in temporary_dat %}
                                        <tr>
                                            <td>{{temp.temp_aces}}</td>
                                            <td>{{temp.access_site}}</td>
                                            <td>{{temp.date_initiation}}</td>
                                            <td>{{temp.date_removal}}</td>
                                            <td>{{temp.doctor_name}}</td>
                                            <td>{{temp.hospital_name}}</td>
                                            <td>{{temp.remark}}</td>
                                        {% endfor %}
                                            <td><button type="button" class="btn btn-info" data-toggle="modal" data-target=".temporary_access"><i class="fa fa-Add" aria-hidden="true"></i>Add</button></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <br>
                                    <br>
                                    <table class="datatable table table-stripped">
                                        <thead>
                                        <tr>
                                            <th>Permanent Access</th>
                                            <th>Access Site</th>
                                            <th>Date Of Intiation</th>
                                            <th>Date Of Removal</th>
                                            <th>Doctor Name</th>
                                            <th>Hospital Name</th>
                                            <th>Last Change Reason</th>
                                            <th>Add</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for pre in permanent_dat %}
                                        <tr>
                                            <td>{{pre.prim_aces}}</td>
                                            <td>{{pre.access_site}}</td>
                                            <td>{{pre.date_initiation}}</td>
                                            <td>{{pre.date_failure}}</td>
                                            <td>{{pre.doctor_name}}</td>
                                            <td>{{pre.hospital_name}}</td>
                                            <td>{{pre.remark}}</td>
                                        {% endfor %}
                                            <td><button type="button" class="btn btn-info" data-toggle="modal" data-target=".permanent_access"><i class="fa fa-Add" aria-hidden="true"></i>Add</button></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <br>
                                    <div class="form-group col-md-2 mb-0">
                                        <label for="Doctor">Dialysate Flow (ml/min): </label>
                                        {{form.dialysate_flow}}
                                    </div>
                                    <div class="form-group col-md-2 mb-0">
                                        <label for="Prescription1" ></label>
                                        <input type="hidden" name="" id="Prescription1" class="form-control">
                                    </div>
                                    <div class="form-group col-md-4 mb-0">
                                        <label for="Profile:"> Profile1: : </label>
                                        {{form.profile1}}
                                    </div>
                                    <div class="form-group col-md-4 mb-0">
                                        <label></label>
                                        <input type="hidden" name="" class="form-control">
                                    </div>
                                    <div class="form-group col-md-2 mb-0">
                                        <label>Blood Flow (ml/min):</label>
                                        {{form.blood_flow}}
                                    </div>
                                    <div class="form-group col-md-2 mb-0">
                                        <label> </label>
                                        <input type="hidden" name="" class="form-control">
                                    </div>
                                    <div class="form-group col-md-4 mb-0">
                                        <label>Profile:</label>
                                        {{form.profile2}}
                                    </div>
                                    <div class="form-group col-md-4 mb-0">
                                        <label></label>
                                        <input type="hidden" name="" class="form-control">
                                    </div>
                                    <div class="form-group col-md-2 mb-0">
                                        <label>Bicarb (mEq/L):</label>
                                        {{form.bicarb}}
                                    </div>
                                    <div class="form-group col-md-2 mb-0">
                                        <label> </label>
                                        <input type="hidden" name="" class="form-control">
                                    </div>
                                    <div class="form-group col-md-4 mb-0">
                                        <label>Profile3:</label>
                                        {{form.profile3}}
                                    </div>
                                    <div class="form-group col-md-4 mb-0">
                                        <label></label>
                                        <input type="hidden" name="" class="form-control">
                                    </div>
                                    <div class="form-group col-md-2 mb-0">
                                        <label>Na+ (mEq/L):</label>
                                        {{form.na_meql}}
                                    </div>
                                    <div class="form-group col-md-2 mb-0">
                                        <label></label>
                                        <input type="hidden" name="" class="form-control">
                                    </div>
                                    <div class="form-group col-md-4 mb-0">
                                        <label>Profile4:</label>
                                        {{form.profile4}}
                                    </div>
                                    <div class="form-group col-md-4 mb-0">
                                        <label></label>
                                        <input type="hidden">
                                    </div>
                                    <div class="form-group col-md-2 mb-0">
                                        <label>UF Rate</label>
                                        {{form.uf_rate}}
                                    </div>
                                    <div class="form-group col-md-2 mb-0">
                                        <label></label>
                                        <input type="hidden" name="" class="form-control">
                                    </div>
                                    <div class="form-group col-md-4 mb-0">
                                        <label>UFR Profile:</label>
                                        {{form.ufr_profile}}
                                    </div>
                                    <div class="form-group col-md-4 mb-0">
                                        <label></label>
                                        <input type="hidden">
                                    </div>
                                  <div class="form-group col-md-4 mb-0">
                                      <label>Heparin Type:</label>
                                      {{form.heparin_type}}
                                  </div>
                                    <div class="form-group col-md-4 mb-0">
                                        <label>Initial Dose:</label>
                                        {{form.initial_dose}}
                                    </div>
                                    <div class="form-group col-md-4 mb-0">
                                        <label>Interim Dose:</label>
                                        {{form.interim_dose}}
                                    </div>
                                    <div class="form-group col-md-4 mb-0">
                                        <label>Total Heparin Bolus:</label>
                                        {{form.total_heparin_bolus}}
                                    </div>
                                     <div class="form-group col-md-4 mb-0">
                                        <label>Hourly (w/hr):</label>
                                        {{form.hourly}}
                                    </div>
                                    <div class="form-group col-md-4 mb-0">
                                        <label>Cutoff time (min):</label>
                                        {{form.cut_off_time}}
                                    </div>
                                    <div class="form-group col-md-4 mb-0">
                                        <label>Heparin Profile:</label>
                                        {{form.heparin_profile}}
                                    </div>
                                     <div class="form-group col-md-4 mb-0">
                                        <label></label>
                                        <input type="hidden" name="" class="form-control">
                                    </div>
                                    <div class="form-group col-md-4 mb-0">
                                        <label></label>
                                        <input type="hidden" name="" class="form-control">
                                    </div>
                                    <div class="form-group col-md-4 mb-0">
                                        <label>Comments:</label>
                                        {{form.comments}}
                                    </div>
                                    <div class="form-group col-md-4 mb-0">
                                        <label></label>
                                        <input type="hidden"  name="" class="form-control">
                                    </div>
                                    <div class="form-group col-md-4 mb-0">
                                        <label>Entered by:<br><br>Inactivated by:<br><br>Inactivated Date:</label>
                                    </div>
                                    <div class="form-group col-md-4 mb-0">
                                        <label>Notes(Appears in Pre):</label>
                                        {{form.notes}}
                                    </div>
                                 </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <button type="submit"class="btn btn-success" name="main_form" value="MAIN_FORM" form="prescription_dial">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" aria-hidden="true" style="color-red;">Cancel</button>
            </form>
        </div>
    </div>
<!-- Add Modal -->
<div class="modal fade temporary_access" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel1"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Header -->
            <div class="modal-header" style="background: skyblue;">
                <h5 class="modal-title" id="exampleModalLabel1"><b>Intra Dialysis</b></h5>
            </div><br>
            <!-- Main block -->
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="body">
                        <div class="demo-masked-input">
                            <div class="row clearfix">
                                <div class="col-12">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <div class="form-line">
                                              <form  method="POST" id="pop_up_pre1">
                                                {% csrf_token %}
                                                <div class="form-row">
                                                    <div class="form-group col-md-4 mb-0">
                                                        <label for="Time">Temporary Access: </label>
                                                        <select name="temp_ac" id="Time" class="form-control">
                                                            <option selected disabled="disabled" >--Select--</option>
                                                            <option>Temporary i/j catheter</option>
                                                            <option>Fistula</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-md-4 mb-0">
                                                        <label for="BP">Date of Initiation </label>
                                                        {{form.prescription_date}}
                                                    </div>
                                                    <div class="form-group col-md-4 mb-0">
                                                        <label for="bp_time">Doctor</label>
                                                        {{form.prescription_date}}
                                                    </div>
                                                    <div class="form-group col-md-4 mb-0">
                                                        <label>Access Type_ </label>
                                                        {{form.prescription_date}}

                                                    </div>
                                                    <div class="form-group col-md-4 mb-0">
                                                        <label>Date Of Removal: </label>
                                                        {{form.prescription_date}}
                                                    </div>
                                                    <div class="form-group col-md-4 mb-0">
                                                        <label>Remark: </label>
                                                        {{form.prescription_date}}
                                                    </div>
                                                    <div class="form-group col-md-8 mb-0">
                                                        <label>Hospital Name:</label>
                                                        {{form.prescription_date}}
                                                    </div>
                                                </div>
                                                  <button type="submit"class="btn btn-success" name="temp_access" value="TEMP_ACCESS"> <i class="fas fa-save" >&nbsp;Save</i></button>
                                                  <button type="button" class="btn btn-danger" data-dismiss="modal" aria-hidden="true" style="color-red;">Cancel</button>
                                              </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Add Modal -->
<div class="modal fade permanent_access" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel2"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Header -->
            <div class="modal-header" style="background: skyblue;">
                <h5 class="modal-title" id="exampleModalLabel2"><b>Premanent Access</b></h5>
            </div><br>
            <!-- Main block -->
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="body">
                        <div class="demo-masked-input">
                            <div class="row clearfix">
                                <div class="col-12">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <div class="form-line">
                                              <form  method="POST" id="Permanent">
                                                {% csrf_token %}
                                                <div class="form-row">
                                                    <div class="form-group col-md-4 mb-0">
                                                        <label for="Time">Permanent Access: </label>
                                                        {{form.prescription_date}}
                                                    </div>
                                                    <div class="form-group col-md-4 mb-0">
                                                        <label for="BP">Date of Initiation </label>
                                                        {{form.prescription_date}}
                                                    </div>
                                                    <div class="form-group col-md-4 mb-0">
                                                        <label for="bp_time">Doctor</label>
                                                        {{form.prescription_date}}
                                                    </div>
                                                    <div class="form-group col-md-4 mb-0">
                                                        <label>Access Type_ </label>
                                                        {{form.prescription_date}}
                                                    </div>
                                                    <div class="form-group col-md-4 mb-0">
                                                        <label>Date Of Failure: </label>
                                                        {{form.prescription_date}}
                                                    </div>
                                                    <div class="form-group col-md-4 mb-0">
                                                        <label>Remark: </label>
                                                        {{form.prescription_date}}
                                                    </div>
                                                    <div class="form-group col-md-8 mb-0">
                                                        <label>Hospital Name:</label>
                                                        {{form.prescription_date}}
                                                    </div>
                                                </div>
                                                  <button type="submit"class="btn btn-success" name="Permanent_access" value="Permanent_Access" form="Permanent"> <i class="fas fa-save" >&nbsp;Save</i></button>
                                                <button type="button" class="btn btn-danger" data-dismiss="modal" aria-hidden="true" style="color-red;">Cancel</button>
                                              </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

  <script>
    function printDiv(divName) {
     var printContents = document.getElementById(divName).innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
}
  </script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
<!--</body>-->
{% endblock %}