{% extends 'clinical/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head_block %}
<style>
    .form-control{
      border: 2px solid rgb(233, 233, 233);
      width: 100%;
      background-color: rgb(233, 233, 233);
      border-bottom: 1px solid black;
    }
    </style>
{% endblock  %}
{% block body_block %}


<!-- content -->
<div class="page-wrapper">
<div class="content">
  <button type="menu" style="font-family: monospace; width: 100%; text-align: left;" class="btn btn-primary m-t-15 waves-effect"> <b>Insurance Claim</b></button>
<div class="container-fluid">
   <div class="row clearfix">
       <div class="col-lg-12 col-md-12 col-sm-8 col-xs-8"><br>
           <div class="card">
               <div class="header">
       <div class="body">
        <div class="row clearfix">&nbsp;&nbsp;&nbsp;&nbsp;

            <div class="col-md-0">
                <button type="button" class="btn btn-warning"><i class="fas fa-plus" >Add</i></button>&nbsp;
            </div>
            <div class="col-md-0">
                <button type="button" class="btn btn-info"><a href=""><i class="fas fa-edit"  style="color:white;">Edit</i></a></button>&nbsp;
            </div>
            <div class="col-md-0">
                <button type="button"class="btn btn-success"> <i class="fas fa-save" >Save</i></button>&nbsp;
            </div>
            <div class="col-md-0">
                <button type="button" class="btn btn-primary" onClick="window.location.reload();"> <i class="fas fa-sync-alt" >Refresh</i></button>&nbsp;
            </div>
            <div class="col-md-0">
                <button type="button" class="btn btn-danger"><a href='/'><i class="fas fa-times-circle" style="color:white;">Exit</i></a></button>
            </div>

        </div><br>
              <div class="col-lg-12 col-md-12 col-sm-4 col-xs-4" style="background-color:rgb(233, 233, 233);"><br>
                   <form method="post">
                     {% csrf_token %}
                     <div class="form-row">
                      <div class="form-group col-md-3 mb-0">
                        <label>From Date</label>
                        <input type='date' name='from_date' id='from_date' class='form-control' value="">
                        </div>
                        <div class="form-group col-md-3 mb-0">
                        <label>To Date</label>
                        <input type='date' name='to_date' id='to_date' class='form-control' value="">
                        </div>
                        <div class="form-group col-md-3 mb-0">
                        <label>Insurance Company</label>
                        <select name="insurance_company" id="insurance_company" class="form-control">
                            <option>select</option>

                        </select>
                        </div>

                        <div class="col-sm-0">
                       <button type="submit" class="btn btn-warning"><i class="fa fa-search"></i></button>&nbsp;
                        </div>

                     </div>



                   </form>

</div><br><br>
           <div class="table-responsive">
             <table class="datatable table table-stripped ">

                   <thead>
                       <tr><th>S.No.</th>
                           <th>Bill NO</th>
                           <th>LOU NO</th>
                           <th>Claim NO</th>
                           <th>Batch NO</th>
                           <th>Bill Date</th>
                           <th>UHID</th>
                           <th>Bill Amount</th>
                           <th>Net Amount</th>
                           <th>Acknowledge</th>
                           <th>Raising Query</th>
                           <th>View Doc</th>
                       </tr>
                   </thead>
                   <tbody>
                    {% for data in checklist %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{data.bill_no}}</td>
                        <td>{{data.lou_no}}</td>
                        <td>{{data.claim_no}}</td>
                        <td>{{data.batch_no}}</td>
                        <td>{{data.bill_date_time}}</td>
                        <td>{{data.uhid}}</td>
                        <td>{{data.net_amount}}</td>
                        <td>{{data.paid_amount}}</td>
                        <td><a href="{% url 'claim_acknowledge' data.bill_no %}" class="btn btn-danger"> &nbsp;<i class="fas fa-tasks"></i></a></td>
                        <td><a href="{% url 'raising_queries' data.bill_no %}" class="btn btn-primary">&nbsp;<i class="fas fa-tasks"></i></a></td>
                         <td><a href="{% url 'view_document_details' data.bill_no %}" class="btn btn-primary"><i class="fa fa-hand-pointer" aria-hidden="true"></i></a></td>
                    </tr>
                    <!--  -->


<div class="modal fade" id="checklist_details" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
<div class="modal-dialog modal-xl">
 <div class="modal-content">
     <!-- Header -->
     <div class="modal-header" style="background: skyblue;">
         <h5 class="modal-title" id="checklist_details" ><b> CheckList Document</b></h5>
         <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
         </button>
         </div><br>
      <!-- Main block -->
      <div class="modal-body">
         <div class="container-fluid">
             <div class="body">
                 <div class="demo-masked-input">
                     <div class="row clearfix">
                       <div class="col-12">
                           <div class="form-group">
                               <div class="form-line">

                                <div class="form-row" style="padding-left:20%;">
                                    <div class="form-group col-md-2 mb-0">

                                   <a href="{% url 'claim_acknowledge' data.bill_no %}" class="btn btn-danger"> &nbsp;Claim Acknowledge</a>
                               </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                               <div class="form-group col-md-2 mb-0">

                                   <a href="{% url 'raising_queries' data.bill_no %}" class="btn btn-primary">&nbsp;Raising Some Queries</a>
                               </div>
                                   </div>
                         <!-- Footer -->
                     <!-- <div class="modal-footer">
                         <hr style="border: 10%; color: aqua;"><br>
                    <button type="button"class="btn btn-success" > <i class="fas fa-save" >&nbsp;Save</i></button>
                         </div> -->
                     </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>
</div>
</div>
</div>
</div>
{% endfor %}
</tbody>

           </table>
           </div>


</div>
</div>
<!--/ content -->
</div>
</div>
</div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
$('#document_details').on('show.bs.modal', function(e) {

var link     = $(e.relatedTarget)

  var bill_no = link.data("bill_no")

  var modal    = $(this)

  $.ajax({
            url:"",
            type: "post",
            data: {
            bill_no: bill_no,
            _token: ''
            },
            dataType : 'json',
            success: function(data){
                //alert(data.checklist_name);
             //$('#document_details').val(data);
          },
          error:function(data)
            {
                console.log(data);
            }
        });
//modal.find(".modal-body #bill_no").val(bill_no);

});
});
</script>

{% endblock  %}