{% extends 'clinical/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head_block %}
<style>
    .form-control{
      border: 2px solid white;
      width: 100%;
      background-color: white;
      border-bottom: 1px solid white;
    }
    </style>
{% endblock  %}
{% block body_block %}

<!-- content -->

<div class="page-wrapper">
<div class="content">
  <button type="menu" style="font-family: monospace; width: 100%; text-align: left;" class="btn btn-primary m-t-15 waves-effect"> <b>Raising Queries</b></button>
<div class="container-fluid">
   <div class="row clearfix">
       <div class="col-lg-12 col-md-12 col-sm-8 col-xs-8"><br>
           <div class="card">
               <div class="header">
       <div class="body">
        <form method="post">
            {% csrf_token %}
        <div class="row clearfix">&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="col-md-0">
                <button type="button" class="btn btn-warning"><i class="fas fa-plus" >Add</i></button>&nbsp;
            </div>
            <div class="col-md-0">
                <button type="button" class="btn btn-info"><a href=""><i class="fas fa-edit"  style="color:white;">Edit</i></a></button>&nbsp;
            </div>
            <div class="col-md-0">
                <button type="submit"class="btn btn-success"> <i class="fas fa-save" >Save</i></button>&nbsp;
            </div>
            <div class="col-md-0">
                <button type="button" class="btn btn-primary" onClick="window.location.reload();"> <i class="fas fa-sync-alt" >Refresh</i></button>&nbsp;
            </div>
            <div class="col-md-0">
                <button type="button" class="btn btn-danger"><a href='/'><i class="fas fa-times-circle" style="color:white;">Exit</i></a></button>&nbsp;
            </div>
            <div class="col-md-0">
                <a href="{% url 'checklisted_bill' %}" class="btn btn-primary"><i class="fa fa-arrow-circle-left">&nbsp;Back</i></a>
            </div>

        </div><br>
             <div class="col-lg-12 col-md-12 col-sm-4 col-xs-4" style="background-color:rgb(233, 233, 233);"><br>

                <div class="form-row">
                    <div class="form-group col-md-3 mb-0">
                      <label>Bill No</label>
                      <input type='text' name='bill_no' id='bill_no' class='form-control' value="{{bill_details.bill_no}}">
                      </div>
                      <div class="form-group col-md-3 mb-0">
                      <label>Bill Date</label>
                      <input type='text' name='bill_date_time' id='bill_date_time' class='form-control' value="{{bill_details.bill_date_time}}">
                      </div>
                      <div class="form-group col-md-3 mb-0">
                        <label>LOU No</label>
                        <input type='text' name='lou_no' id='lou_no' class='form-control' value="{{bill_details.lou_no}}">
                        </div>
                        <div class="form-group col-md-3 mb-0">
                        <label>Claim No</label>
                        <input type='text' name='claim_no' id='claim_no' class='form-control' value="{{bill_details.claim_no}}">
                        </div>
                        <div class="form-group col-md-3 mb-0">
                        <label>Batch No</label>
                        <input type='text' name='batch_no' id='batch_no' class='form-control' value="{{bill_details.batch_no}}">
                        </div>
                      <div class="form-group col-md-3 mb-0">
                      <label>UHID</label>
                      <input type='text' name='uhid' id='uhid' class='form-control' value="{{bill_details.uhid}}">
                      </div>
                      <div class="form-group col-md-3 mb-0">
                      <label>Bill Amount</label>
                      <input type='text' name='bill_amt' id='bill_amt' class='form-control' value="{{bill_details.paid_amount}}">
                      </div>
                      <div class="form-group col-md-3 mb-0">
                      <label>Net Amount</label>
                      <input type='text' name='net_amt' id='net_amt' class='form-control' value="{{bill_details.net_amount}}">
                      </div>

                        <!-- <div class="col-sm-0">
                       <button type="submit" class="btn btn-warning"><i class="fa fa-search"></i></button>&nbsp;
                        </div> -->

                     </div>
                     <br>
 </div><br><br>

            <div class="col-lg-12 col-md-12 col-sm-4 col-xs-4" style="background-color:rgb(233, 233, 233);"><br>
                <div class="form-row">
                <div class="form-group col-md-5 mb-0">
                        <label>Question</label>
                <textarea rows="7" cols="150" name="question" class='form-control'>
                </textarea>
            </div>
            <div class="form-group col-md-5 mb-0">
                        <label>Answer</label>
                <textarea rows="7" cols="150" name="answer" class='form-control'>
                </textarea>
            </div>
        </div>
        <br>
            </div>
</form>


</div>
</div>
<!--/ content -->
</div>
</div>
</div>
</div>

{% endblock  %}
