{% extends 'clinical/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_block %}
{% endblock %}
{% block body_block %}


<style>
    .form-control {
        border: 2px solid rgb(233, 233, 233);
        width: 100%;
        background-color: rgb(233, 233, 233);
        border-bottom: 1px solid black;
    }
</style>
<!-- content -->
<div class="page-wrapper">
    <div class="content">
        <nav class="navbar navbar-light bg-blue" style="background-color: rgb(64, 64, 207);">
            <div class="container-fluid">
                <a class="navbar-brand" style="color: white;" href="#">OPD Bill Details</a>
            </div>
        </nav><br>

        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-8 col-xs-8">
                    <div class="card">
                        <div class="header">
                            <div class="body">
                                <br>
                                <div class="icon-button-demo">&nbsp;
                                    <a href="/dashboard" class="btn btn-info"> <i class="fa fa-arrow-circle-left">&nbsp;Back</i></a>
                                    <button type="button" class="btn btn-primary" onClick="window.location.reload();">
                                        <i class="fas fa-sync-alt">Refresh</i></button>&nbsp;
                                    <a href="/dashboard" class="btn btn-danger"> <i class="fas fa-times-circle">Exit</i></a>

                                    <button class="btn btn-warning" role="button"
                                        onclick="codespeedy()">PDF</button>&nbsp;
                                    <button class="btn btn-sucess" style="background-color: green;" id="download-button"
                                        role="button">CSV</button>&nbsp;

                                </div><br>
                                <br>
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="col-lg-12 col-md-12 col-sm-4 col-xs-4"
                                        style="background-color:rgb(233, 233, 233);"><br>

                                        <div class="form-row">
                                            <div class="form-group col-md-3 mb-0">
                                                <label style="font-weight: white;" ><b>From Date*</b> </label>
                                                <input type='date' name='s_date' id='from_date' style="background-color: white;" class='form-control' required>         
                                            </div>

                                            <div class="form-group col-md-3 mb-0">
                                                <label style="font-weight: white;"><b>To Date*</b></label>
                                                <input type='date' name='e_date' style="background-color: white;" id='to_date' class='form-control' required>
                                                    
                                            </div>
                                            <div class="form-group col-md-3 mb-0">
                                                <label style="font-weight: bold;">UHID</label>
                                                <input type='text' name='patient_id' style="background-color: white;" id='patient_id' form="uhid" class='form-control'>
                                            </div>
                                            <datalist id="uhid">
                                                {% for result in list_uhid %}
                                                    <option value="{{result.uhid}}" required>{{result.uhid}}</option>
                                                {% endfor %}
                                            </datalist>
                                            
                                            <div class="col-sm-0"><br>
                                                <button type="submit" class="btn btn-primary w-100 mt-2" name="sum_bill"
                                                    value="Sum_Bill">&nbsp;Sum Bill</button>&nbsp;
                                            </div>   
                                            
                                            <div class="col-sm-0"><br>
                                                <button type="submit" class="btn btn-primary w-100 mt-2" name="detail_bill"
                                                    value="Detail_Bill">&nbsp;Detail Bill</button>&nbsp;
                                            </div>   
                                                                                    
                                        </div>
                                        <br>
                                    </div>
                                </form>
                                <br><br>
                                {% if data_sub_bill %}
                                <div class="header" id="pdf_print">
                      
                                        <table style="width: 100%;max-width: 1024px;margin: 0 auto;border-collapse: collapse;" width="100%">
                                          <tr>
                                            <td>
                                              <div class="" >
                                                <center><h2><img src="{% static 'assets/images/nephromed_logo.jpg' %}" alt="logo Image" style="width:300px;height:100px;"></h2></center>
                                                
                                              </div>
                                            </td>
                                          </tr>
                                        </table>
                                    <div class="mytable">
                                        <div class="table-responsive ">
                                            <table class="datatable table table-stripped">
                                              <tr style="background-color: lavender;">
                                               
                                                <th>S.No</th>
                                                <th>UHID</th>
                                                <th>Visit ID </th>
                                                <th>Bill No </th>
                                                <th>Bill ID </th>
                                                <th>Bill Date/Time</th>
                                                <th>Service Name</th>
                                                <th>Paid Amt </th>
                                            </tr>
                                            <tr>
                    
                                            {% for records in data_sub_bill %}
                    
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td>{{dat.uhid}}</td>
                                                <td>{{dat.visit_no}}</td>
                                                <td>{{dat.bill_no}}</td>
                                                <td>{{dat.bill_id}}</td>
                                                <td>{{dat.bill_date_time}}</td>
                                                <td>{{dat.service_id}}</td>
                                                <td>{{dat.paid_amount}}</td>
                                            </tr>
                                                {% endfor %}
                                            </table>

                                            {% if data_main_bill %}
            <table>
                <tr>
                    <th>S.No</th>
                    <th>UHID</th>
                    <th>Visit ID </th>
                    <th>Bill No </th>
                    <th>Bill ID </th>
                    <th>Bill Date/Time</th>
                    <th>Department Name</th>
                    <th>Doctor Name</th>
                    <th>Corporate ID</th>
                    <th>Billing Group ID</th>
                    <th>Paid Amt </th>
                </tr>
                <tbody>
                {% for dat in data_main_bill %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{dat.uhid}}</td>
                    <td>{{dat.visit_no}}</td>
                    <td>{{dat.bill_no}}</td>
                    <td>{{dat.bill_id}}</td>
                    <td>{{dat.bill_date_time}}</td>
                    <td>{{dat.department}}</td>
                    <td>{{dat.doctor_name}}</td>
                    <td>{{dat.corporate_id}}</td>
                    <td>{{dat.billing_group_id}}</td>
                    <td>{{dat.paid_amount}}</td>
                </tr>
                {% endfor %}

            </table>
            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endif %}

<script src="../assets/js/app.js"></script>

<script type="text/javascript">

    function codespeedy() {
        var print_div = document.getElementById("pdf_print");
        var print_area = window.open();
        print_area.document.write(print_div.innerHTML);
        print_area.document.close();
        print_area.focus();
        print_area.print();
        print_area.close();
        // This is the code print a particular div element
    }
</script>

<!-- Export csv -->

<script>
    function htmlToCSV(html, filename) {
        var data = [];
        var rows = document.querySelectorAll("table tr");

        for (var i = 0; i < rows.length; i++) {
            var row = [], cols = rows[i].querySelectorAll("td, th");

            for (var j = 0; j < cols.length; j++) {
                row.push(cols[j].innerText);
            }

            data.push(row.join(","));
        }

        downloadCSVFile(data.join("\n"), filename);
    }</script>
<script>
    function downloadCSVFile(csv, filename) {
        var csv_file, download_link;

        csv_file = new Blob([csv], { type: "text/csv" });

        download_link = document.createElement("a");

        download_link.download = filename;

        download_link.href = window.URL.createObjectURL(csv_file);

        download_link.style.display = "none";

        document.body.appendChild(download_link);

        download_link.click();
    }</script>

<script>document.getElementById("download-button").addEventListener("click", function () {
        var html = document.querySelector("table").outerHTML;
        htmlToCSV(html, "itemwise_purchase.csv");
    });</script>

{% endblock %}