
{% extends 'clinical/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block body_block %}
<div class="page-wrapper">
    <div class="content">
    <div class="container" style="border: 1px solid rgb(121, 118, 118);padding: 10px;" id="hello">
        <h5 style="text-align: center;"> Pre Dialysis Detail</h5>
        <br>
        <form method="post" id="pre_dial">
            {% csrf_token %}
            <div class="col-md-12">
            <h5><b>Patient Details</b></h5>
            <div class="row" style="border: 1px solid rgb(121, 118, 118);padding: 10px;">
                <div class="col-md-4">
                    <label>MR NO: <b>{{uhid_pat}}</b></label>
<!--                    <input type="text" class="form-control" name="uhid">-->
                </div>
                <div class="col-md-4">
                    <label>NAME: <b>{{pat_name| upper}}</b></label>
<!--                    <input type="text" class="form-control">-->
                </div>
                <div class="col-md-4">
                    <label> AGE/GENDER: <b>{{pat_age}}y/{{pat_sex}}</b></label>
<!--                    <input type="text" class="form-control">-->
                </div>
                <div class="col-md-4">
                    <label>CONTACT NO: <b>{{pat_con_no}}</b></label>
<!--                    <input type="text" class="form-control">-->
                </div>
            </div
                <br>
                <h5>Session Details</h5>
                    <div class="row" style="border: 1px solid rgb(121, 118, 118);padding: 10px;">
                        <div class="col-md-12">
                            <label>Prev Post Dialysis</label>
                            <button type="button" class="btn btn-warning" data-toggle="modal"
                                data-target=".bd-example-modal-xl"><i class="fas fa-ellipsis-h"></i></button>&nbsp;
                        </div>
                        <div class="col-md-6" style=" height: 30px; width: 10%;">
                            <label>Status</label>
                            <select class="form-control" name="status">
                                <option selected disabled="true">--select--</option>
                                {% for dat in status %}
                                <option>{{dat.status}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label>Pre equip Preparation:</label>
                            <input type="text" name="pre_equip_preparation" class="form-control">
<!--                            <button type="button" class="btn btn-warning" data-toggle="modal"-->
<!--                                data-target=".pre_equipments"><i class="fas fa-ellipsis-h"></i></button>&nbsp;       -->
                        </div>
                        <div class="col-md-3">
                            <label> Physician:</label>
                            <select class="form-control" name="physian">
                                <option selected disabled="true">---select---</option>
                                {% for doct in doctor_list %}
                                <option value="{{doct.doctor_name}}">{{doct.doctor_name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label>Primary Dialysis Theraphy:</label>
                            <select class="form-control" name="primary_dialysis_theraphy">
                                <option selected disabled="true">---select---</option>
                                {% for pri in primary %}
                                <option>{{pri.pri_dial_therop}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label> Secondary Dialysis Therapist:</label>
                            <select class="form-control" name="secondry_dialysis_theraphy">
                                <option selected disabled="true">---select---</option>
                                {% for sec in secondery %}
                                <option>{{sec.sec_dial_therop}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label> Password:</label>
                            <input type="text" class="form-control" name="password">
                        </div>
                         <div class="col-md-4">
                            <label> Cannulation Nurse:</label>
                            <select class="form-control" name="cannulation_nurse">
                                <option selected disabled="true">---select---</option>
                                <option>OBED</option>
                                <option>OBED1</option>
                            </select>
                         </div>
                         <div class="col-md-6">
                            <label> Location:</label>
                            <select class="form-control" name="location">
                                <option selected disabled="true">---select---</option>
                                <option>First Floor</option>
                                <option>Second Floor</option>
                            </select>
                         </div>
                         <div class="col-md-6">
                            <label> Machine Name:</label>
                            <select class="form-control" name="machine_name">
                                <option selected disabled="true">---select---</option>
                                {% for mach in machine %}
                                <option>{{mach.machine_name}}</option>
                                {% endfor %}
                            </select>
                         </div>
                        <div class="col-md-4">
                            <label> Asset Type:</label>
                            <select class="form-control" name="asset_type">
                                <option selected disabled="true">---select---</option>
                                {% for ass in asset %}
                                <option>{{ass.asset_type}}</option>
                                {% endfor %}
                            </select>
                        </div>
                         <div class="col-md-4">
                            <label> Bruit/Thrill:</label>
                            <select class="form-control"name="bruit_thrill">
                                <option selected disabled="true">---select---</option>
                                {% for brui in bruit %}
                                <option>{{brui.bruit_thrill}}</option>
                                {% endfor %}
                            </select>
                         </div>
                        <div class="col-md-4">
                            <label> Cannulation Nurse:</label>
                            <select class="form-control" name="cannulation_name">
                                <option selected disabled="true">---select----</option>
                                <option>No Problem</option>
                                <option>OBED1</option>
                            </select>
                        </div>
                         <div class="col-md-4">
                            <label> Access Site:</label>
                             <select class="form-control" name="access_site">
                                 <option selected disabled="true">---selct----</option>
                                 {% for acc in accet %}
                                <option>{{acc.access_site}}</option>
                                 {% endfor %}
                            </select>
                         </div>
                        <div class="col-md-4">
                            <label> Access Site Infection:</label>
                            <input type="radio" value="Yes" name="access_site_infection"><span>YES</span>
                            <input type="radio" value="No" name="access_site_infection"><span>NO</span>
                        </div>
                         <div class="col-md-4">
                            <label> ISO UF:</label>
                            <input type="radio" value="Yes" name="iso_uf"><span>YES</span>
                            <input type="radio" value="No" name="iso_uf"><span>NO</span>
                             <input type="text" class="form-control" name="any_remark">

                         </div>
                        <div class="col-md-4">
                            <label> Dialysate Type:</label>
                            <select class="form-control" name="dialysis_type">
                                <option selected disabled="true">---select---</option>
                                {% for dial in dalysis %}
                                <option>{{dial.dialysis_type}}</option>
                                {% endfor %}
                            </select>
                        </div>
                         <div class="col-md-4">
                            <label>Name Of any other staff:</label>
                            <input type="text" class="form-control" name="other_staff">
                        </div>
                        <div class="col-md-4">
                            <label> Completion Status:</label>
                            <select class="form-control" name="completion_status">*
                                <option selected disabled="true">--Select--</option>
                                {% for comp in completion %}
                                <option>{{comp.completion_Status}}</option>
                                {% endfor %}
                            </select>
                        </div>
                         <div class="col-md-4">
                            <label>Needle Type:</label>
                             <select class="form-control" name="needle_type">*
                                 <option selected disabled="true">---select---</option>
                                 {% for needle in needle %}
                                <option>{{needle.needle_type}}</option>
                                 {% endfor %}
                            </select>
                         </div>
                    </div>
                </div>
            <br>
                    <div class="col-md-12">
                        <h5><b>Dialyzer Reuse</b></h5>
                <div class="row" style="border: 1px solid rgb(121, 118, 118);padding: 10px;">

                    <div class="col-md-4">
                        <label>Dialyzer:</label>
                            <select class="form-control" name="dialyser">*
                                <option selected disabled="true">---select---</option>
                                {% for dialyser in dialyzer %}
                                <option>{{dialyser.dialyzer}}</option>
                                {% endfor %}
                            </select>
                    </div>
                    <div class="col-md-4">
                        <label>Bundle Volume:</label>
                        <input type="text" class="form-control" name="bundle_volume">
                    </div>
                    <div class="col-md-4">
                        <label> Reprocess Number: </label>
                        <input type="text" class="form-control" name="reprocess_number">
                    </div>
                    <div class="col-md-4">
                        <label>Reprocessed Date:</label>
                        <input type="date" class="form-control" name="reprocessed_date">
                    </div>
                    <div class="col-md-4">
                        <label>Rating :</label>
                        <select class="form-control" name="rating">
                            <option selected disabled="true">---select---</option>
                            {% for rat in rating %}
                            <option>{{rat.rating}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label> Single Used Dialyzer: </label>
                        <input type="checkbox" class="form-control" name="single_used_dialyzer">
                    </div>
                </div>
                    <h5><b>Patient Condition</b></h5>
                        <div class="col-md-12">
                    <div class="row" style="border: 1px solid rgb(121, 118, 118);padding: 10px;">
                    <div class="col-md-2">
                        <label>BP Sitting:</label>
                        <input type="text" class="form-control" name="bp_sitting_max">
                    </div>
                    <div class="col-md-2">
                        <label>.</label>
                        <input type="text" class="form-control" name="bp_sitting_min">
                    </div>
                    <div class="col-md-2">
                        <label>BP Standing:</label>
                        <input type="text" class="form-control" name="bp_standing_max">
                    </div>
                    <div class="col-md-2">
                        <label>.</label>
                        <input type="text" class="form-control" name="bp_standing_min">
                    </div>
                    <div class="col-md-4">
                        <label>Respiration:</label>
                        <input type="text" class="form-control" name="respiration">
                    </div>
                    <div class="col-md-4">
                        <label>Pulse sitting :</label>
                        <input type="text" class="form-control" name="pulse_sitting">
                    </div>
                    <div class="col-md-4">
                        <label> Pulse Standing: </label>
                        <input type="text" class="form-control" name="pulse_standing">
                    </div>
                     <div class="col-md-4">
                        <label> Tempreture (F) </label>
                        <input type="text" class="form-control" name="tempreture">
                    </div>
                    <div class="col-md-4">
                        <label> Measured wt: </label>
                        <input type="text" class="form-control" name="measured_wt">
                    </div>
                    <div class="col-md-4">
                        <label> Wheelchair wt: </label>
                        <input type="text" class="form-control" name="wheelchair_wt">
                    </div>
                    <div class="col-md-4">
                        <label> Prosthetic: </label>
                        <input type="text" class="form-control" name="prosthetic_wt">
                    </div>
                    <div class="col-md-4">
                        <label> Current wt: </label>
                        <input type="text" class="form-control" name="current_wt">
                    </div>
                    <div class="col-md-4">
                        <label> Previous wt: </label>
                        <input type="text" class="form-control" name="previous_wt">
                    </div>
                    <div class="col-md-4">
                        <label> Weight Change: </label>
                        <input type="text" class="form-control" name="weight_change">
                    </div>
                    <div class="col-md-4">
                        <label>Condition: </label>
                        <input type="text" class="form-control" name="condition_assessment">
                    </div>
                      <div class="col-md-4">
                        <label> Assessment: </label>
                        <input type="text" class="form-control" name="assessment">
                    </div>
                    </div>
                        </div>
                        <br>
                         <h5><b>Dialysis Details</b></h5>
                        <div class="col-md-12">
                    <div class="row" style="border: 1px solid rgb(121, 118, 118);padding: 10px;">
                    <div class="col-md-4">
                        <label>Dry Wt/Dry Wt Date / 04-09-2020</label>
                        <input type="text" class="form-control" name="dry_wt_date">

                    </div>

                    <div class="col-md-2">
                        <label>Target Wt:</label>
                        <input type="text" class="form-control" name="target_wt">
                    </div>
                    <div class="col-md-2">
                        <label>.</label>
    <!--                    <input type="text" class="form-control" value="88">-->
                    </div>
                    <div class="col-md-4">
                        <label>Excess:</label>
                        <input type="text" class="form-control" name="excess">
                    </div>
                    <div class="col-md-2">
                        <label>Duration :</label>
                        <input type="text" class="form-control" name="duration">
                    </div>
                         <div class="col-md-2">
                        <label>.</label>
    <!--                    <input type="text" class="form-control" value="52">-->
                    </div>
                    <div class="col-md-4">
                        <label> Target UF Vol (kg): </label>
                        <input type="text" class="form-control" name="target_UF_Vol_kg">
                    </div>
                     <div class="col-md-4">
                        <label> Target UFR Vol (kg/hr): </label>
                        <input type="text" class="form-control" name="target_UFR_vol_kg_hr">
                    </div>
                    <div class="col-md-12">
                        <label> Anticoagulation: </label>
                        <select class="form-control" name="anticoagulation">
                            <option selected disabled="true">---select---</option>
                            {% for anti in anticoagulation %}
                            <option>{{anti.anticoagulation_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label>Heparin Type: </label>
                        <select class="form-control" name="heparin_type">
                            <option selected disabled="true">--Select--</option>
                            {% for hep in heparin %}
                            <option>{{hep.heparine_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label> Initial Dose: </label>
                        <input type="text" class="form-control" name="initial_dose">
                    </div>
                    <div class="col-md-4">
                        <label> Interim Dose: </label>
                        <input type="text" class="form-control" name="interim_Dose">
                    </div>
                    <div class="col-md-2">
                        <label>Total Heparin Bolus: </label>
                        <input type="text" class="form-control" name="total_heparin_bolus">
                    </div>
                        <div class="col-md-2">
                        <label>Hourly: </label>
                        <input type="text" class="form-control" name="hourly">
                    </div>
                    <div class="col-md-8">
                        <label>Unit in syringe</label>: </label>
                        <input type="text" class="form-control" name="unit_in_syringe">
                    </div>
                    <div class="col-md-4">
                        <label>Dialysis Odometer Start Reading: </label>
                        <input type="text" class="form-control" name="dialysis_odometer_str_reading">
                    </div>
                      <div class="col-md-4">
                        <label> Pre Dialysis Assessment: </label>
                          <textarea type="text" class="form-control" name="pre_dialysis_assessment" placeholder="stable for dialysis"></textarea>
                    </div>
                        <div class="col-md-4">
                        <label>Notes to be shown in next Pre Dialysis Session:</label>
                          <textarea type="text" class="form-control" name="notes_pre_dialysis_session" placeholder="patient is stable continue dialysis"></textarea>
                    </div>
                        <div class="col-md-4">
                        <label>Filtration Replacement Fluid Volume(ml): </label>
                        <input type="text" class="form-control" name="fluids_volume_ml">
                    </div>
                    </div>
                </div>
            </div>
        </form>
                <br>
                <br>
        <div class="col-md-3">
            <button type="submit" class="btn btn-primary" value="Save" form="pre_dial">Save</button>&nbsp;&nbsp;
            <a href="/prescription_dialysis_update/{{uhid}}-{{visit_id}}" ><button type="submit" class="btn btn-primary" value="">Prescription</button>&nbsp;&nbsp;</a>
<!--            <a href="/post_dialysis_details"><button type="submit" class="btn btn-primary" value="">Post</button></a>-->
        </div>
        <br>
        <br>
        <br>
          <div class="table-responsive">
            <table class="datatable table table-stripped ">
                <thead>
                <tr>
                    <th>S.No</th>
                    <th>Presc Date</th>
                    <th>Name</th>
                    <th>Dosage</th>
                    <th>Route</th>
                    <th>Remark</th>
                    <th>Quantity</th>
                    <th>Batch No </th>
                    <th>Expiry Date </th>
                    <th>Administered By</th>
                    <th>Doctor </th>
                    <th>Print</th>
                </tr>
                </thead>
                <tbody>
                {% for data in records_pre %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{data.status}}</td>
                        <td>{{data.uhid}}</td>
                        <td>{{data.status}}</td>
                        <td>{{data.status}}</td>
                        <td>{{data.status}}</td>
                        <td>{{data.status}}</td>
                        <td>{{data.status}}</td>
                        <td>{{data.status}}</td>
                        <td>{{data.status}}</td>
                        <td>{{data.status}}</td>
                        <td><a href="/view_pre_dialysis_details/{{data.id}}">print</a> </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>

<div class="modal fade pre_equipments" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel1"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Header -->
            <div class="modal-header" style="background: skyblue;">
                <h5 class="modal-title" id="exampleModalLabel1"><b>Pre_Equipments</b></h5>
            </div><br>
            <!-- Main block -->
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="body">
                        <div class="demo-masked-input">
                            <div class="row clearfix">
                                <div class="col-12">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <div class="form-line">
                                              <form  method="POST" id="pre_equipment">
                                                {% csrf_token %}
                                                <div class="form-row">
                                                    <div class="form-group col-md-12 mb-0">
                                                        <input type="checkbox" name="choose_ins_doc">
                                                        <label>Air Detector Armed: </label>
                                                    </div>
                                                    <div class="form-group col-md-12 mb-0">
                                                        <input type="checkbox" name="choose_ins_doc">
                                                        <label>Saline Clamped: </label>
                                                    </div>
                                                    <div class="form-group col-md-12 mb-0">
                                                        <input type="checkbox" name="choose_ins_doc">
                                                        <label>Pressure Limit Set: </label>
                                                    </div>
                                                    <div class="form-group col-md-12 mb-0">
                                                        <input type="checkbox" name="choose_ins_doc">
                                                        <label>Nurse's Round: </label>
                                                    </div>
                                                    <div class="form-group col-md-12 mb-0">
                                                        <input type="checkbox" name="choose_ins_doc">
                                                        <label>Dialysate Counter Flow: </label>
                                                    </div>
                                                  </div>
                                                  <button type="submit"class="btn btn-success"  name="pre_post_dialysis" value="PRE_DIALYSIS" form="pre_equipment"> <i class="fas fa-save" >&nbsp;Save</i></button>
                                                  <button type="button" class="btn btn-danger" data-dismiss="modal" aria-hidden="true" style="color-red;">Cancel</button>
                                              </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Modal -->
<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel1"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Header -->
            <div class="modal-header" style="background: skyblue;">
                <h5 class="modal-title" id="exampleModalLabel1"><b>Pre Dialysis</b></h5>
            </div><br>
            <!-- Main block -->
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="body">
                        <div class="demo-masked-input">
                            <div class="row clearfix">
                                <div class="col-12">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <div class="form-line">
                                              <form  method="POST" id="pop_up_pre">
                                                {% csrf_token %}
                                                <div class="form-row">
                                                    <div class="form-group col-md-12 mb-0">
                                                        <input type="checkbox" name="choose_ins_doc">
                                                        <label>Air Detector Armed: </label>
                                                    </div>
                                                    <div class="form-group col-md-12 mb-0">
                                                        <input type="checkbox" name="choose_ins_doc">
                                                        <label>Saline Clamped: </label>
                                                    </div>
                                                    <div class="form-group col-md-12 mb-0">
                                                        <input type="checkbox" name="choose_ins_doc">
                                                        <label>Pressure Limit Set: </label>
                                                    </div>
                                                    <div class="form-group col-md-12 mb-0">
                                                        <input type="checkbox" name="choose_ins_doc">
                                                        <label>Nurse's Round: </label>
                                                    </div>
                                                    <div class="form-group col-md-12 mb-0">
                                                        <input type="checkbox" name="choose_ins_doc">
                                                        <label>Dialysate Counter Flow: </label>
                                                    </div>
                                                  </div>
                                                  <button type="submit"class="btn btn-success"  name="pre_post_dialysis" value="PRE_DIALYSIS" form="pop_up_pre"> <i class="fas fa-save" >&nbsp;Save</i></button>
                                                  <button type="button" class="btn btn-danger" data-dismiss="modal" aria-hidden="true" style="color-red;">Cancel</button>
                                              </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

  <script>
    function printDiv(divName) {
     var printContents = document.getElementById(divName).innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
}
  </script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
<!--</body>-->
{% endblock %}