{% extends 'nurse_station/base.html' %}
{% load static %}
{% block body_block %}
   <!-- content -->
   <div class="page-wrapper">
    <div class="content">
<!-- Main Dashboard -->
<div class="container">
  <div class="row" style="border: 2px solid red;">
    <div class="col-12">
        <div class="card">
            <div class="container-fluid dashboard-content ">    
                
                <div class="ecommerce-widget">
                  <input type="hidden" name="screen_id" value="SCR0036">
                  <input type="hidden" name="message_id" value="MSG0036">
                  <div class="box-outer">
                   
      
                    <div class="box text-center">
                      <a href="#"> 
                        <div class="card_icon">
                       <img src="{% static 'assets/images/interface/dashboard/iocn-2.png' %}" alt=""/>
                      </div>
                      <div class="card-body">
                        <h5 class="text-muted">Clinical Managements</h5>
                      </div>  
                      </a>
                    </div>
      
                    <div class="box text-center">
                      <div class="card_icon">
                        <img src="{% static 'assets/images/interface/dashboard/iocn-3.png' %}" alt=""/>
                      </div>
                      <div class="card-body">
                        <h5 class="text-muted">Emergency </h5>
                      </div>  
                    </div>
      
                    <div class="box text-center">
                      <div class="card_icon">
                         <img src="{% static 'assets/images/interface/dashboard/iocn-4.png' %}" alt=""/>
                      </div>
                      <div class="card-body">
                        <h5 class="text-muted">Procedure room</h5>
                      </div>  
                    </div>
                    <div class="box  text-center">
                      <div class="card_icon">
                        <img src="{% static 'assets/images/interface/dashboard/iocn-6.png' %}" alt=""/>
                      </div>
                      <div class="card-body">
                        <h5 class="text-muted">Inpatient Management</h5>
                      </div>  
                    </div>
      
                    <div class="box text-center">
                      <div class="card_icon">
                        <img src="{% static 'assets/images/interface/dashboard/iocn-7.png' %}" alt=""/>
                      </div>
                      <div class="card-body">
                        <h5 class="text-muted">Nurse Station</h5>
                      </div>  
                    </div>
      
                   
      
                    <div class="box text-center">
                      <div class="card_icon">
                        <img src="{% static 'assets/images/interface/dashboard/iocn-25.png' %}" alt=""/>
                      </div>
                      <div class="card-body">
                        <h5 class="text-muted">System Control</h5>
                      </div>  
                    </div>
        </div>
    </div>
  </div>
  <!--/ Latest Patients-->
  </div>
  </div>
  </div>
</div>
    </div>
    </div>
    
{% endblock  %}
