{% extends 'nurse_station/base.html' %}
{% load static %}
{% block body_block %}
 <!-- content -->
 <div class="page-wrapper">
    <div class="content">
<!-- Main Dashboard -->
<div class="row">
<div class="col-12">
<div class="card">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 " style="padding: 5px;">
        <div class="page-header row align-items-center">
          <h5 class="pageheader-title col-sm-4">Visit Dashboard</h5>
          <div class="col-sm-8 text-right d-flex align-items-center justify-content-end">
            <button class="btn-primary border-0 p-2 icon-size mr-2" name="button" type="button"><i class="fa fa-hand-pointer" aria-hidden="true"></i></button>
            <button class="btn-primary border-0 p-2 icon-size" name="button" type="button"><i class="fas fa-paint-brush"></i></button>
          </div><!-- col-sm-8 -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="bg-white p-2 mt-2">
          <form class="form-inline row" method="GET">

            <div class="col-sm-3">
              <input class="form-control" type="text" name="uhid" placeholder="UHID" required>
            </div>
            <div class="col-sm-3">
              <input class="btn btn-primary" type="submit" name="submit" value="Search">
            </div>
          </form>
          <div class="btns pt-2 pb-2">
              <button class="lightgreen_bg text-white border-0 p-2 rounded">New Patient ({{pending_patient}})</button>
              <button class="orange_bg text-white border-0 p-2 rounded">Nurse Seen (0)</button>
              <button class="orange_bg text-white border-0 p-2 rounded">Doctor Seen (0)</button>
              <button class="orange_bg text-white border-0 p-2 rounded">Visit Complete (0)</button>
          </div>

          <table class="table mt-2 table-border">
            <tr style="background: #d1dae6;">
              <th>Visit No.</th>
              <th>Date & Time</th>
              <th>Clinic Department</th>
              <th>Reg. No.</th>
              <th>Patient Name</th>
              <th>Age</th>
              <th>Assigned User</th>
              <th>Status</th>
              <th>Acknowledge</th>
            </tr>
            {% if search_records %}
            {% for data in search_records %}
            <tr>
              <td><a href="/cm/{{data.uhid}}~{{data.visit_no}}">{{data.visit_no}}</a></td>
              <td>13/07/2019 10:36AM</td>
              <td>General OPD</td>
              <td>{{data.uhid}}</td>
              <td>Mr. Good Luck</td>
              <td>23Y/M</td>
              <td>Billed</td>
              <td></td>
              <td>Acknowledge</td>
            </tr>
            {% endfor %}
            {% endif %}
            {% for data in records %}
            <tr>
              <td><a href="/cm/{{data.uhid}}~{{data.visit_no}}">{{data.visit_no}}</a></td>
              <td>13/07/2019 10:36AM</td>
              <td>General OPD</td>
              <td>{{data.uhid}}</td>
              <td>Mr. Good Luck</td>
              <td>23Y/M</td>
              <td>Billed</td>
              <td></td>
              <td>Acknowledge</td>
            </tr>
            {% endfor %}
          </table>
          <div class="space" style="min-height: 200px;"></div>
        </div>
      </div>
    </div>

  </div>
    </div>
</div>
</div>

    </div>
</div>
{% endblock  %}
